label {
	display: block;
	margin: 10px 0 0 0;
	font-size: 10pt;
}

.input_text {
	width: 100%;
}

#title {
	text-align: center;
	margin: 20px 0 20px 0;
}

#center {
	width: 600px;
	text-align: center;
	margin: auto;
}

.big_form {
	text-align: left;
}

.sub_form {
	padding: 0 0 0 20px;
}

#information {
	background-color: #E5E5E5;
	padding: 5px 5px 5px 5px;
	text-align: left;
	margin: 10px 0 0 0;
}