{include file="IWbooks_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">
        {img modname='core' src='easymoblog.png' set='icons/large'}
    </div>
    {if $copia eq "1"}
    <h2>{gt text="Copy the book"}</h2>
    {else}
    <h2>{gt text="Modification of the data book"}</h2>
    {/if}
    <div>
        {if $copia eq "1"}
        {assign var='function' value='create'}
        {else}
        {assign var='function' value='update'}
        {/if}
        <form id="IWbook"  class="z-form" action="{modurl modname='IWbooks' type='admin' func=$function}" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
            <input type="hidden" name="item[tid]" value="{$item.tid|safetext}" />

            <fieldset class="IWbooks-fieldset">

                <div class="z-formrow">
                    <label for="IWbooks_autor">{gt text="Author"}</label>
                    <input id="IWbooks_autor" name="item[autor]" type="text" size="50" maxlength="50" value="{$item.autor|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_titol">{gt text="Title"}</label>
                    <input id="IWbooks_titol" name="item[titol]" type="text" size="50" maxlength="50" value="{$item.titol|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_editorial">{gt text="Editorial"}</label>
                    <input id="IWbooks_editorial" name="item[editorial]" type="text" size="50" maxlength="50" value="{$item.editorial|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_any_publi">{gt text="Release Year"}</label>
                    <input id="IWbooks_any_publi" name="item[any_publi]" type="text" size="4" maxlength="4" value="{$item.any_publi|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_isbn">{gt text="ISBN"}</label>
                    <input id="IWbooks_isbn" name="item[isbn]" type="text" size="20" maxlength="20" value="{$item.isbn|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_codi_mat">{gt text="Subject"}</label>
                    <select id="IWbooks_materia"  name="item[codi_mat]">
                        {html_options options=$amateries selected=$materiaselec}
                    </select>
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_any">{gt text="Academic Year"}</label>
                    <input id="IWbooks_any" name="item[any]" type="text" size="4" maxlength="4" value="{$item.any|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_codi_etapa">{gt text="Plan (Key 'Ctrl' for choose more plans)"}</label>
                    <select id="IWbooks_etapa" name="item[etapa][]" multiple size="6">
                        {html_options options=$aplans selected=$plaselec}
                    </select>
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_nivell">{gt text="Level"}</label>
                    <select id="IWbooks_nivell"  name="item[nivell]">
                        {html_options options=$anivells selected=$nivellselec}
                    </select>
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_optativa">{gt text="Optional?"}</label>
                    {if $item.optativa eq 1}
                    <input id="IWbooks_optativa" name="item[optativa]" type="checkbox" value="1" checked="checked" />
                    {else}
                    <input id="IWbooks_optativa" name="item[optativa]" type="checkbox" value="1" />
                    {/if}
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_lectura">{gt text="Read?"}</label>
                    {if $item.lectura eq 1}
                    <input id="IWbooks_lectura" name="item[lectura]" type="checkbox" value="1" checked="checked" />
                    {else}
                    <input id="IWbooks_lectura" name="item[lectura]" type="checkbox" value="1" />
                    {/if}
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_avaluacio">{gt text="Evaluation (Read Only)"}</label>
                    <select id="IWbooks_avaluacio"  name="item[avaluacio]">
                        {html_options options=$aavaluacions selected=$avaluacioselec}
                    </select>
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_observacions">{gt text="Comment"}</label>
                    <input id="IWbooks_observacions" name="item[observacions]" type="text" size="50" maxlength="100" value="{$item.observacions|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_materials">{gt text="Home course materials (books, brushes ...)"}</label>
                    <textarea id="IWbooks_materials" name="item[materials]" type="text" rows="5" cols="60">{$item.materials|safetext}</textarea>
                </div>
            </fieldset>
            <div class="z-center">
                <span class="z-buttons">
                    <a href="javascript:document.forms['IWbook'].submit();">
                        {img modname='core' src='button_ok.png' set='icons/small' __alt="Update" __title="Update"} 
                        {if $copia eq "1"}
                        {gt text="Create"}
                        {else}
                        {gt text="Actualitza"}
                        {/if}
                    </a>
                </span>
                <span class="z-buttons">
                    <a href="{modurl modname=IWbooks type=admin func=view}">
                        {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                        {gt text="Cancel"}
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>
