{include file="IWbooks_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">
        {img modname='core' src='easymoblog.png' set='icons/large'}
    </div>
    <h2>{gt text="Enter new subject"}</h2>
    <div>
        <form id="IWbook"  class="z-form" action="{modurl modname='IWbooks' type='admin' func='update_mat'}" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
            <input type="hidden" name="item[tid]" value="{$tid|safetext}" />
            <fieldset class="IWbooks-fieldset">
                <legend></legend>
                <div class="z-formrow">
                    <label for="IWbooks_codi_mat">{gt text="Code subject"}</label>
                    <input id="IWbooks_codi_mat" name="item[codi_mat]" type="text" size="3" maxlength="3" value="{$codi_mat|safetext}" />
                </div>
                <div class="z-formrow">
                    <label for="IWbooks_materia">{gt text="Subject"}</label>
                    <input id="IWbooks_materia" name="item[materia]" type="text" size="50" maxlength="50" value="{$materia|safetext}" />
                </div>
            </fieldset>
            <div class="z-center">
                <span class="z-buttons">
                    <a href="javascript:document.forms['IWbook'].submit();">
                        {img modname='core' src='button_ok.png' set='icons/small' __alt="Create" __title="Create"}
                        {gt text="Actualitza"}
                    </a>
                </span>
                <span class="z-buttons">
                    <a href="{modurl modname=IWbooks type=admin func=view}">
                        {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                        {gt text="Cancel"}
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>