<div id="topmenu" class="pnsub z-clearfix">
    <span class="pnleft"><!--[userwelcome|ucwords]--></span>
    <span class="pnright">&nbsp;</span>
</div>

<div id="header" class="z-clearfix">
    <h1 class="title"><a href="<!--[homepage]-->"><!--[sitename]--></a></h1>
  <!--[pnmodavailable modname="iw_menu" assign="iw_menu"]-->
  <!--[if $iw_menu ne ""]-->
  <div id="theme_top" class="z-clearer">
    <!--[blockposition name=top]-->
  </div>
  <!--[else]-->
	<div id="navi" class="z-clearer">
        <ul id="nav">
            <li class="page_item"><a href="<!--[homepage]-->"><span><!--[gt text="Home"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Settings type=admin]-->"><span><!--[gt text="Settings"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Modules type=admin]-->"><span><!--[gt text="Modules manager"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Blocks type=admin]-->"><span><!--[gt text="Blocks manager"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Users type=admin]-->"><span><!--[gt text="User administration"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Groups type=admin]-->"><span><!--[gt text="Groups manager"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Permissions type=admin]-->"><span><!--[gt text="Permission rules manager"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Theme type=admin]-->"><span><!--[gt text="Themes manager"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=pnRender type=admin]-->"><span><!--[gt text="Rendering engine"]--></span></a></li>
            <li class="page_item"><a href="<!--[pnmodurl modname=Categories type=admin]-->"><span><!--[gt text="Categories"]--></span></a></li>
        </ul>
    </div>
  <!--[/if]-->
</div>
