<div class="content-layout column2">
    <h2><!--[$page.title]--></h2>

    <div class="content-area-top">
        <!--[if !empty($page.content[0])]-->
        <!--[foreach from=$page.content[0] item=c]-->
        <!--[contenteditthis data=$c access=$access type='content']-->
        <!--[$c.output]-->
        <!--[/foreach]-->
        <!--[/if]-->
    </div>

    <div class="content-area-left">
        <!--[if !empty($page.content[1])]-->
        <!--[foreach from=$page.content[1] item=c]-->
        <!--[contenteditthis data=$c access=$access type='content']-->
        <!--[$c.output]-->
        <!--[/foreach]-->
        <!--[/if]-->
    </div>

    <div class="content-area-right">
        <!--[if !empty($page.content[2])]-->
        <!--[foreach from=$page.content[2] item=c]-->
        <!--[contenteditthis data=$c access=$access type='content']-->
        <!--[$c.output]-->
        <!--[/foreach]-->
        <!--[/if]-->
    </div>


    <div class="content-area-bottom">
        <!--[if !empty($page.content[3])]-->
        <!--[foreach from=$page.content[3] item=c]-->
        <!--[contenteditthis data=$c access=$access type='content']-->
        <!--[$c.output]-->
        <!--[/foreach]-->
        <!--[/if]-->
    </div>

</div>
<!--[include file="layout/footer.html" pid=$page.id]-->