fieldset {
    padding: 5px;
    margin: 25px;
}

.actived{
    color: green;
}

.toCheck{
    color: #F0700E;
}

.denegated{
    color: #FF0000;
}

.observations{
    border: 1px solid #777;
    padding: 7px;
    margin: 7px 7px 7px 0px;
    width: 100%;
}

.noEditable{
    background-color: #ddd;
}

.pager{
    text-align: right;
}

div.usercontainer h2 {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    margin-top: 0px;
}

div.userpageicon {
    padding: 0px 0px 10px 5px; /* top, right, bottom, left */
}

div.userpageicon img{
    float: right;
    padding-top: 5px;
}

.serviceInfo{
    margin: 0px 0px 20px 0px;
}

.userFormInputs{
    /*float: left;*/
    clear: both;
}

.userFormOptions{
    float: right;
    margin: 20px;
}

.userForm{
    margin: 20px;
}

.userFormHeader{
    background-color: #ddd;
}

.userFormRow{
    margin: 5px 0px 0px 5px;
    padding-left: 10px;
}


.serviceImg{
    float: left;
    margin: 10px 20px 10px 0px;
    width: 250px;
}

.serviceImgAdmin{
    margin-left: 30px;
}

.serviceCheckbox {
    margin: 10px;
    float: left;
}
.serviceDescription{
    clear:both;
}

.useTerms {
    height: 500px;
    width: 98%;
    overflow: auto;
    border: 1px solid #666;
    background-color: #f9f9f9;
    padding: 8px;
    margin-top: 15px;
    font-size: 90%;
}

.useTerms h1 {
    font-size: 20px;
}
.useTerms h2 {
    font-size: 16px;
}

.touAcceptance {
    margin-left: 10px;
    margin-bottom: 15px;
}

.optionButton {
    padding-right: 15px;
}

.letters{
    float: left;
}

.msgWarning{
    background-color: #ffffef;
    padding: 20px;
}

table.data{
    background-color: #ffff9f;
    text-align:center;
    border: 2px solid #333;
}

table tr td {
    vertical-align: top;
}

.clientInfoBox {
    margin: 25px 20px 0px 20px;
}

.serviceIcon {
    float: left;
    margin-right: 20px;
    width: 100px;
}

.hmenuElement {
    float: left;
    padding-left: 15px;
}

.hmenu {
    padding-top: 2px;
}

.autocomplete {
    visibility: hidden;
    border: 1px solid #ffff9f;
    clear:both;
    position:absolute;
    margin-top: 20px;
    background-color:#ffffcf;
    padding: 5px;
}

.timeLetter {
    color: red;
    font-weight: bold;
}

.uname {
    margin-right: 15px;
}

.adminNotes {
    margin: 0px;
}

h2#menuuserfiles {
    font-size: 1.2em !important;
}

h2#menuuserfiles a {
    font-weight: bold;
}

.askServiceFieldset {
    width: 220px;
    height: 300px;
    float: left;
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.askServiceDescription {
    margin: 10px;
}


/*******************************************************************************/
/* styles for logs table
/*******************************************************************************/

table.logtable {
    width: 100%;
    color: inherit;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 0px;
    margin-bottom: 1em;
    padding: 5px 5px 10px 5px;
}

table.logtable tr.logtableempty {
    background-color: #f3f3f3;
    text-align: center;
    font-weight: bold;
}

table.logtable caption {
    background-color: #f3f3f3;
    font-weight: bold;
    border-bottom: 2px solid #CFCFCF;
    text-transform: uppercase;
    padding:10px;
}

table.logtable thead tr {
    background-color: #104281;
    color: #FFFFFF;
}

/* stying for the cell elements in admin tables */
table.logtable tbody td,
table.logtable thead th {
    padding: 5px;
    border-width: 0px;
}

/* style to highlight a default row in a table */
table.logtable tbody tr.pn-defaulttablerow {
    background-color: #add8e6;
    color: inherit;
}

/* classes to define two colors for alternating rows in admin views */
table.logtable tbody tr.pn-even {
    background-color: #fff;
    color: inherit;
}

table.logtable tbody tr.pn-odd{
    background-color: #f3f3f3;
    color: inherit;
}

tr.info-even {
    background-color: #66d;
    color: inherit;
}

tr.info-odd{
    background-color: #66a;
    color: inherit;
}

tr.ok-even {
    background-color: #6d6;
    color: inherit;
}

tr.ok-odd{
    background-color: #6a6;
    color: inherit;
}

tr.error-even {
    background-color: #d66;
    color: inherit;
}

tr.error-odd{
    background-color: #a66;
    color: inherit;
}

/* style to add to current row when hovered over */
table.logtable tbody tr:hover {
    background-color: #CFCFCF;
}

table.logtable ul {
    margin: 0;
}

table.logtable td.icon{
    text-align: center;
    width: 90px;
}

table.logtable td.time{
    width: 80px;
}

table.logtable td.autor{
    width: 105px;
}

.form_left{
    width: 60%;
    padding-right: 20px;
    float:left;
}

.form_right{
    width: 30%;
    padding-left: 20px;
    text-align: center;
    float:left;
}


.form_up, .form_down{
    width: 100%;
    clear: both;
    display: block;
    min-height: 10px;
}

.form_up fieldset, .form_down fieldset{
    margin:0;
}

.clear{
    clear:both;
    text-align:center;
}

.hidden{
    display: none;
}

.intranet {
    width: 85px;
    float: right;
}

.moodle {
    width: 55px;
    float: left;
}

.marsupial {
    width: 40px;
    float: left;
}

.serviceLogo {
    margin-right: 5px;
}

.actions img{
    cursor: pointer;
}

.z-alert .z-window-header{
    color: white;
}

/*******************************************************************************/
/* style SQL selector tabs
/*******************************************************************************/

ul.tabnav { /* general settings */
    text-align: left; /* set to left, right or center */
    /*font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    list-style-type: none;
    padding: 10px 0px 0px 0px; /* THIRD number must change with respect to padding-top (X) below */
}

ul.tabnav li { /* do not change */
    display: inline;
    border-bottom: none;
    background-color: #cfc;
}

ul.tabnav span {
    background-color: #fff;
    color: #666;
    padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #000; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    border-color: #666 #666 #000;
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    cursor: pointer;
}

li.tab_select { /* settings for selected tab */
    border-bottom: 1px solid #fff; /* set border color to page background color */
    background-color: #F3F3F3; /* set background color to match above border color */
}

li.tab_select span { /* settings for selected tab link */
    background-color: #F3F3F3; /* set selected tab background color as desired */
    color: #000; /* set selected tab link color as desired */
    position: relative;
    top: 1px;
    padding-top: 4px; /* must change with respect to padding (X) above and below */
    border-color:#000 #000 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px medium;
    margin-right:0;
    padding:3px 4px;
    text-decoration:none;
    cursor: pointer;
}

/* end css tabs */

.fileList {
    width: 400px;
    float: left;
    word-wrap: break-word;
}

.fileListOptions {
    width: 90px;
    float: right;
}

.fileListRow {
    /*border-bottom: 1px dotted #555;*/
}

#bar-legend {
    list-style-type: none;
}