
/**************** Body and tag styles ****************/


body {
    font-family: arial,helvetica,clean,sans-serif;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
}

a {
    color: #59110A;/*COLOR4*/
    text-decoration:none;
}

a:hover {
    color: #AC2013; /*COLOR1*/
    text-decoration:none;
}
a img {border:none;}

a.btn-primary,
a.btn-success,
a.btn-info,
a.btn-warning,
a.btn-danger,
a.btn-primary:hover,
a.btn-success:hover,
a.btn-info:hover,
a.btn-warning:hover,
a.btn-danger:hover
 {
    color: white;
}

p form {margin-top:0; margin-bottom:20px;}

.form-horizontal .row .form-group {
    margin: 0;
}

.form-inline-multiline .form-group{
    margin-bottom: 15px;
    vertical-align: baseline;

}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

textarea {
    width: 97%;
}

.panel-heading {
    font-weight: bold;
}

#reload .glyphicon-refresh {
    margin-left: 5px;
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/**************** Header and navigation styles ****************/


header {
  font-size: 1.3em;
  background-color: #FFFFFF;
  background-image: url("../images/top.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  border-bottom: #DDDDDD 1px solid;
  clear: both;
  float: none;
  margin: 0;
  width: 100%;
  height: 110px;
  padding: 0;
}

header h1 {
  margin: 0 0 5px 20px;
  padding-top: 37px;
  text-align: left;
  color: #AC2013;
  text-align: left;
  font-weight: bold;
}

#navbar_top{
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    border-bottom: 2px solid #AC2013;
}

#navbar_top .mainbrand {
    line-height: 28px;
}

#navbar_top .brand{
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    padding: 10px 20px;
}

#navbar_top .brand.xtec {
    padding-right: 40px;
}

.navbar-default {
    min-height: 0;
}

.navbar-default .navbar-nav>li>a {
    padding: 2px 10px;
}

.navbar-border {
    border-color: #e7e7e7;
    min-height: 0;
}



/**************** Blocks **************************/
.z-blockposition-center {
    margin: 20px;
}

.pn-block-content{
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-box-shadow:3px 3px 3px #BBBBBB;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 3px 3px 3px #bbb;
    -webkit-box-shadow: 3px 3px 3px #bbb;
    background-image:url("../images/borderbottom.png");
    background-position:center bottom;
    background-repeat:repeat-x;
    background-color:#FCFCFC;
    border:#DDDDDD 1px solid;
    font-size:0.9em;
    line-height:1.2em;
    margin-bottom: 16px;
    padding: 10px 5px 15px 10px;
}

.pn-block-content-complete{
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

h4.pn-block-title{
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-box-shadow:3px 3px 3px #BBBBBB;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#AC2013; /*COLOR2*/
    color:white;
    background-image:url("../images/topbar.png");
    background-position:center bottom;
    background-repeat:repeat-x;
    border: #AC2013 1px solid; /*COLOR2*/
    font-size:1em;
    font-weight:bold;
    margin:0;
    padding:4px;
    text-align:left;
}

.admin_messages_block{
    border:0 !important;
    background: transparent !important;
}

.z-admin-breadcrumbs {
    margin-top: 10px;
    margin-bottom: 10px;
}

/**************** Menublock styles ****************/

/*.pn-bkey-menu, .pn-bkey-extmenu {margin:0 0 20px 8px; font-size:0.9em;}*/
div.navcontainer ul, div#navcontainer ul {
    margin:0 0 20px 20px;
    font-size:0.9em;
}

.pn-bkey-menu li, .pn-bkey-extmenu li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.pn-bkey-menu li a, .pn-bkey-extmenu li a{font-weight:bold; text-decoration:none;}
.pn-bkey-menu li a:hover, .pn-bkey-extmenu li a:hover{text-decoration:none;}
.pn-bkey-menu li ul, .pn-bkey-extmenu li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.pn-bkey-menu li ul li, .pn-bkey-extmenu li ul li{margin-bottom:0;}
.pn-bkey-menu li ul a, .pn-bkey-extmenu li ul a{font-weight:normal;}


/**************** Footer styles ****************/

footer{
    border-top: 1px solid #CCC;
    text-align:center;
    clear:both;
    padding:30px 0;
    margin-top:30px;
}

#theme_footer a, #theme_footer img{
    vertical-align:middle;
}

#theme_footer p{padding:0; margin:0; text-align:center;}
#theme_footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#theme_footer a:hover{color:#ffffff; text-decoration: underline;}


/**************** Misc classes and styles ****************/

.theme_splitcontentleft{float:left; width:48%;}
.theme_splitcontentright{float:right; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

/* images */
img {
    border:none;
}

.theme_box{
    margin:0 0 20px 0;
    padding:10px;
    border:1px solid #c0c0c0;
    background-color:#fafbfc;
    color:#505050;
    line-height:1.5em;
}


/* Table styles based on style from the css table gallery
   STYLESHEET: CLEAR BLUE, AUTHOR: ROBERT HARTL */

table.pn-datatable {
    width:100%;
    line-height:1.2em;
    background-color:#fff;
    border-collapse:collapse;
    text-align:left;
    letter-spacing:.1em;
    margin-bottom:1em;
}

table.pn-datatable caption {
    padding-bottom:1em;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing:.6em;
    color: #333;
    background: transparent;
}

table.pn-datatable thead th, table.pn-datatable tfoot th, table.pn-datatable tfoot td {
    border-right: 1px solid #fff;
    padding-left:5px;
    font-variant:small-caps;
    letter-spacing:0.1em;
    color: #fff;
    background: #a0a0a0;
}

table.pn-datatable tfoot th, table.pn-datatable tfoot td {
    border-top: 2pt double #009;
}

table.pn-datatable td, table.pn-datatable th {
    padding:4px;
}

table.pn-datatable tbody tr th, table.pn-datatable tbody tr td {
    border-bottom: 1px dotted #467aa7;
}

table.pn-datatable tbody tr:hover td, table.pn-datatable tbody tr:hover th {
    border-bottom: 1px solid #467aa7;
}

table.pn-datatable tbody td a, table.pn-datatable tbody th a {
    background: transparent;
    text-decoration: none;
    border:none;
}

table.pn-datatable tbody td a:hover, table.pn-datatable tbody th a:hover {
    background: transparent;
}

table.pn-datatable .odd {
    background: #e3e3f4;
}

table.pn-datatable tbody tr:hover {
    color: #333;
    background: #e8eaec;
}

table.pn-datatable tbody tr th:hover {
    background:#fff;
}

#theme_content ul.navlist{
    margin: 0;
    padding-top: 0px;
}


/* Special block: Horizontal menú block */
.menublock ul {
    list-style: none;
    margin: 0px;
}
.menublock li {
    float: left;
    padding: 4px 10px 4px 10px;
    border-left: 1px solid #fff;
}


#menu {
    margin-top: -20px;
    height: 25px;
    clear: both;
    background-color: #EEEEEE;
}


/**************** Body and tag styles ****************/
/*
 *TEMA: Grana   Escull  Or      Llima   Tardor  Nostalgia
COLOR1: #AC2013 #FF0011 #CC7000 #74AB00 #CD6000 #457FB9
COLOR2: #AC2013 #FF4444 #E99B00 #5A6E31 #E68804 #457FB9
COLOR3: #303030 #00BBBB #0B3D41 #333333 #344D00 #457FB9
COLOR4: #59110A #008888 #145C61 #000000 #4E7104 #457FB9
COLOR5: #D0D0D0 #BBEEEE #87BDC1 #FFEDBA #B3CD7B #B3CADB
*/

/**************** Header and navigation styles ****************/

#theme_header h1, #theme_header h1 a{
    color: #AC2013; /*COLOR1*/
}

#theme_header h2{
    color: #303030; /*COLOR3*/
}

#theme_navigation_bar{
    background-color: #D0D0D0; /*COLOR5*/
}

#theme_navigation_bar .selected, #theme_navigation_bar li:hover{
    background-color: #AC2013; /*COLOR2*/
}


#admintabs-container * {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
/**************** Blocks **************************/

h4.pn-block-title{
    background-color:#AC2013; /*COLOR2*/
    border-color: #AC2013; /*COLOR2*/
}



/*IW Menu*/

#iw_menu li:hover{ /*Personalizable*/
    background-color: #AC2013 !important;
    color: #FFFFFF !important;
}

#iw_menu>ul>li.branch{
    border-bottom: 1px solid #AC2013 !important; /*Personalizable*/
}

#iw_menu li li:hover{ /*Personalizable*/
    background-color: #AC2013 !important;
    color: #FFFFFF !important;
}

#iw_menu li li.branch{ /*Personalizable*/
    border-right: 3px solid #AC2013 !important;
}
