# ----------------------------------------------------------------------
# Purpose of file: block any web access to not allowed files
#                  stored under the plugins/ directory
# ----------------------------------------------------------------------
Require all denied
<FilesMatch "\.(css|js|png|gif|jpg|swf)$">
    Require all granted
</FilesMatch>
