# File: $Id: .htaccess 18727 2006-04-08 08:34:54Z drak $
# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the config/ directory
# ----------------------------------------------------------------------
SetEnvIf Request_URI "\.css$" object_is_css=css
SetEnvIf Request_URI "\.js$" object_is_js=js
Order deny,allow
Deny from all
Allow from env=object_is_css
Allow from env=object_is_js
