

/**************** Body and tag styles ****************/

*{ margin:0; padding:0; }

body{
	font-family: Verdana,Tahoma,Arial,sans-serif;
    font-size:1em;
	line-height:1.4em;
	text-align:center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a{
	color: #59110A;/*COLOR4*/
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	color: #AC2013; /*COLOR1*/
	text-decoration:none;
}
a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#theme_page_container{
width:100%;
margin: 0;
padding:0;
text-align:left;
background:#ffffff;
color:#303030;
border:0;
}

#theme_header_top{
	background-color: #303030; /*COLOR3*/
	background-image:url('themes/IWxtec2/images/menubar.png');
	background-position:center top;
	background-repeat:repeat-x;
	clear:both;
	height:34px;
	padding-top:10px;
	width:100%;
	float:right;
	text-align:right;
}

.logodepart{
	margin-left: 10px;
	height:26px;
	width:195px;
	float:left;
}

.logoxtec{
	margin-left: 10px;
	height:26px;
	width:97px;
	float:left;
}

#theme_header{
	font-size:1.3em;
	background-color:#FFFFFF;
	background-position:right center;
	background-repeat:no-repeat;
	border-bottom:#DDDDDD 1px solid;
	clear:both;
	float:none;
	height:112px;
	margin:0;
	width:100%;
	font-weight:bold;
	padding:0;

}

#theme_header h1{
	margin-bottom:5px;
	margin-left:20px;
	padding-top:27px;
	text-align:left;
	color: #AC2013; /*COLOR1*/
	text-align:left;
	font-size:2.2em;
	font-weight:bold;
}

#theme_header h1 a{
	color: #AC2013; /*COLOR1*/
}
#theme_header h1 a:visited{
	text-decoration:none;
}

#theme_header h2{
	font-size:1.1em;
	font-style:italic;
	color: #303030; /*COLOR3*/
	margin-left:20px;
	margin-top:10px;
	text-align:left;
}

#theme_navigation_bar{
	background-color: #D0D0D0; /*COLOR5*/
	background-position:center bottom;
	background-repeat:repeat-x;
	border-bottom:#DDDDDD 1px solid;
	width:auto;
	display:block;
	min-width:0;
	height:26px;
}

#theme_navigation_bar ul{
 margin:0;
 padding:0;
}

#theme_navigation_bar li{
	display:block;
	float:left;
	list-style-type:none;
	white-space:nowrap;
	vertical-align:middle;
	padding: 4px 15px;
	border-right:1px solid #ffffff;
	background-color:transparent;
	color: #ffffff;
}

#theme_navigation_bar li a, #theme_navigation_bar li a:hover{
	font-size:0.8em;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	color:#ffffff;
	background-color:transparent;
}

* html #theme_navigation_bar a {width:1%;} /* this hack targets IE<7 */

#theme_navigation_bar .selected, #theme_navigation_bar li:hover{
	background-color: #AC2013; /*COLOR2*/
	background-position:center bottom;
	background-repeat:repeat-x;
}

/**************** Content styles ****************/

#theme_content{
	width:100%;
	font-size:0.9em;
	padding:0;
	clear:both;
}
#theme_table_content{
	width: 100%;
	padding: 20px;
}

#theme_content h1{
	display:block;
	margin:0 0 16px 0;
	font-size:1.9em;
	font-weight:normal;
	letter-spacing:-1px;
	color:#505050;
	background-color:inherit;
}

#theme_content h2{
	display:block;
	margin:0 0 16px 0;
	font-size:1.7em;
	font-weight:normal;
	letter-spacing:-1px;
	color:#505050;
	background-color:inherit;
}

#theme_content_center{
	padding: 0px 8px 0px 8px;
	vertical-align:top;
}

#theme_content_right{
	max-width:30%;
	min-width:0%; /* Reduce the width of right column when it's empty */
	vertical-align:top;
}

#theme_content_left{
    width: 20%;
	max-width:30%;
	min-width:200px;
	vertical-align:top;
}


#theme_content h2 a{font-weight:normal;}
#theme_content h3{margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}
#theme_content a:hover,#subcontent a:hover{text-decoration:underline;}
#theme_content ul,#theme_content ol{margin:0 5px 16px 35px;}
#theme_content dl{margin:0 5px 10px 25px;}
#theme_content dt{font-weight:bold; margin-bottom:5px;}
#theme_content dd{margin:0 0 10px 15px;}

/**************** Sidebar styles ****************/

#theme_subcontent{
float:right;
width:20%;
padding:20px 10px 10px 0;
line-height:1.4em;
}

#theme_subcontent h2{
display:block;
margin:0 0 15px 0;
font-size:1.6em;
font-weight:normal;
text-align:left;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#theme_subcontent p{margin:0 0 16px 0; font-size:0.9em;}

/**************** Blocks **************************/
.z-block-content{
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-box-shadow:3px 3px 3px #BBBBBB;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: 3px 3px 3px #bbb;
	-webkit-box-shadow: 3px 3px 3px #bbb;
	background-image:url('themes/IWxtec2/images/borderbottom.png');
	background-position:center bottom;
	background-repeat:repeat-x;
	background-color:#FCFCFC;
	border:#DDDDDD 1px solid;
	font-size:0.9em;
	line-height:1.2em;
	margin-bottom: 16px;
	padding: 10px 5px 15px 10px;
}

.z-blockposition-left, .z-blockposition-right {
    width:240px;
}

.z-block-content-complete{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-top-left-radius:5px;
  	border-top-right-radius:5px;
}


h4.z-block-title{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow:3px 3px 3px #BBBBBB;
	border-top-left-radius:5px;
  	border-top-right-radius:5px;
	background-color:#AC2013; /*COLOR2*/
	color:white;
	background-image:url('themes/IWxtec2/images/topbar.png');
	background-position:center bottom;
	background-repeat:repeat-x;
	border: #AC2013 1px solid; /*COLOR2*/
	font-size:1em;
	font-weight:bold;
	margin:0;
	padding:4px;
	text-align:left;
}

.admin_messages_block{
	border:0 !important;
	background: transparent !important;
}


/**************** Menublock styles ****************/

/*.z-bkey-menu, .z-bkey-extmenu {margin:0 0 20px 8px; font-size:0.9em;}*/
div.navcontainer ul, div#navcontainer ul {
margin:0 0 20px 20px;
font-size:0.9em;
}

.z-bkey-menu li, .z-bkey-extmenu li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.z-bkey-menu li a, .z-bkey-extmenu li a{font-weight:bold; text-decoration:none;}
.z-bkey-menu li a:hover, .z-bkey-extmenu li a:hover{text-decoration:none;}
.z-bkey-menu li ul, .z-bkey-extmenu li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.z-bkey-menu li ul li, .z-bkey-extmenu li ul li{margin-bottom:0;}
.z-bkey-menu li ul a, .z-bkey-extmenu li ul a{font-weight:normal;}


/**************** Footer styles ****************/

#theme_footer{
	text-align:center;
	clear:both;
	padding:5px 0;
	margin-top:15px;
	font-size:0.9em;
	vertical-align:middle;
}

#theme_footer a, #theme_footer img{
	vertical-align:middle;
}

#theme_footer p{padding:0; margin:0; text-align:center;}
#theme_footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#theme_footer a:hover{color:#ffffff; text-decoration: underline;}

/* admin style override */
#theme_content div.z-adminformrow label + ul > li {
    margin-left: 20.7em;
}
#theme_content div.z-adminformrow label + ul > li:first-child {
    margin-left: 0em;
}

/**************** Misc classes and styles ****************/

.theme_splitcontentleft{float:left; width:48%;}
.theme_splitcontentright{float:right; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

/* images */
img {
border:none;
}

.theme_box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}

#news_articlecontent	{} /*open to design ideas*/
.news_title		{} /*open to design ideas*/
#news_editlinks		{} /*open to design ideas*/
#news_editlinks_ajax	{} /*open to design ideas*/
.news_meta		{} /*open to design ideas*/
#news_topic		{} /*open to design ideas*/
#news_body		{} /*open to design ideas*/
.news_body		{} /*open to design ideas*/
#news_notes		{} /*open to design ideas*/
#news_modify		{} /*open to design ideas*/

/* Table styles based on style from the css table gallery 
   STYLESHEET: CLEAR BLUE, AUTHOR: ROBERT HARTL */

table.z-datatable {
	width:100%;
	line-height:1.2em;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
	margin-bottom:1em;
}

table.z-datatable caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
table.z-datatable thead th, table.z-datatable tfoot th, table.z-datatable tfoot td {
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #000;
	background: #a0a0a0;
}
  
table.z-datatable tfoot th, table.z-datatable tfoot td {
	border-top: 2pt double #009;
}

table.z-datatable td, table.z-datatable th {
	padding:4px;
}

table.z-datatable tbody tr th, table.z-datatable tbody tr td {
	border-bottom: 1px dotted #467aa7;
}

table.z-datatable tbody tr:hover td, table.z-datatable tbody tr:hover th {
	border-bottom: 1px solid #467aa7;
}

table.z-datatable tbody td a, table.z-datatable tbody th a {
	background: transparent;
	text-decoration: none;
	border:none;
}

table.z-datatable tbody td a:hover, table.z-datatable tbody th a:hover {
	background: transparent;
}

table.z-datatable .odd {
	background: #e3e3f4;
}

table.z-datatable tbody tr:hover {
	color: #333;
	background: #e8eaec;
}

table.z-datatable tbody tr th:hover {
	background:#fff;
}

#theme_content ul.navlist{
	margin: 0;
	padding-top: 0px;
}

.z-adminiconcontainer {
    height: 90px;
}