
<!-- News-index.htm beginning -->
<div style="margin-bottom:40px; background:<!--[$bgcolor]-->;">
	<div style="background:url(<!--[$themepath]-->/images/bloc_central_top.gif); height:49px; color:<!--[$color3]-->;">
		<div style="float:left; width:90%; padding-left:6px; margin-top:10px;">
			<p style="margin:0px;"><strong><!--[$preformat.catandtitle]--></strong></p>
			<p style="margin:0px;"><!--[pnml name="_POSTEDBY"]--> <!--[$info.informant]--> <!--[pnml name="_IW_ON"]--> <!--[$info.longdatetime]--></p>
		</div>
	</div>
	<div style="padding:10px;">
		<div style="float:left; margin-right:10px;"><!--[$preformat.searchtopic]--></div>
		<p><!--[$info.hometext]--></p>
		<p><!--[$preformat.notes]--></p>
	</div>
	<div style="clear:both; padding:10px; color:<!--[$color3]-->;">
		<div style="float:left; width:100px;"><!--[$info.counter]--> <!--[pnml name="_READS"]--></div>
		<div style="float:left; width:100px;"><!--[$preformat.commentlink]--></div>
		<div style="float:left; width:200px; margin-left:18%;"><a href="<!--[$links.fullarticle]-->" title="<!--[$info.title]-->"><!--[pnml name="_FULLSTORY"]--></a></div>
		<div style="float:right; width:40px;">
			<!--[$preformat.print]-->
		</div>
	</div>
</div>
<!-- News-index.htm end -->
