
<!-- News-article.htm beginning -->
<div style="background:<!--[$bgcolor]-->;">
	<div style="background:url(<!--[$themepath]-->/images/bloc_central_top.gif); height:49px; color:<!--[$color3]-->;">
		<div style="float:left; padding-left:6px; margin-top:10px;">
			<p style="margin:0px;"><strong><!--[$preformat.catandtitle]--></strong></p>
			<p style="margin:0px;">
				<span class="pn-sub"><!--[pnml name="_POSTEDBY"]--> <!--[$info.informant]--> <!--[pnml name="_IW_ON"]--> <!--[$info.longdatetime]--></span>
				<span><!--[articleadminlinks sid=$info.sid]--></span>
			</p>
		</div>
	</div>
	<div style="padding:10px;">
		<div style="float:right; width:15%; margin-top:10px; text-align:right;">
			<!--[$preformat.searchtopic]-->
		</div>
		<div><!--[$info.hometext]--></div>
		<div style="margin-top:10px;"><!--[$info.bodytext]--></div>
		<div style="margin-top:20px;"><!--[$preformat.notes]--></div>
	</div>
	<div style="padding:10px; color:<!--[$color3]-->;">
		<div style="float:left; width:100px;"><!--[$info.fulltext|count_words]--> <!--[pnml name="_CHARACTERS"]--></div>
		<div style="float:left; width:200px; margin-left:30%;"><!--[$info.counter]--> <!--[pnml name="_READS"]--></div>
		<div style="float:right; width:40px;">
			<!--[$preformat.print]-->
		</div>
	</div>
</div>
<div style="clear:both; margin-top:30px;"></div>
<!-- News-article.htm end -->
