{include file="IWforums_user_menu.htm" m5=1 m6=1 m7=1 m11=1 m12=1 m13=1 oid=$oid fid=$fid ftid=$ftid fmid=$fmid u=$u inici=$inici}
{userloggedin assign=userid}
<div class="usercontainer">
    <div class="userpageicon">{img modname='core' src='reminders.png' set='icons/large'}</div>
    <h2>
        {if $marcat}
        <img src="modules/IWforums/images/marcat.gif" id="msgMark{$fmid}" />
        {else}
        <img src="modules/IWforums/images/res.gif" id="msgMark{$fmid}" />
        {/if}
        {$title}
    </h2>
    <div class="msgBox">
        <div class="photo">
            {if $photo neq '' AND ($userid neq '' OR $avatarsVisible eq 1)}
            <img src="index.php?module=IWmain&type=user&func=getPhoto&fileName={$photo}" class="photoImg" />
            {else}
            <img src="modules/IWforums/images/avatar.jpg" class="photoImg"/>
            {if $usuari eq $uid}
            <div style="float: left;">
                <a href="{modurl modname='IWusers' type='user' func='profile'}">
                    {gt text="Change"}
                </a>
            </div>
            {/if}
            {/if}
        </div>
        <div>
            {gt text="From: "}
            <font color=green><strong>{$user}</strong></font>
        </div>
        <div>
            {gt text="Date"}: <font face=Arial size=2 color="#696969"><strong>{$date}</strong></font>
        </div>
        <div>
            {gt text="Time"}: <font face=Arial size=2 color="#696969"><strong>{$time}</strong></font>
        </div>
        {if $adjunt neq ""}
        <div>
            {gt text="Attached file"}:
            <img src="modules/IWmain/images/fileIcons/{$fileIcon}" style='vertical-align: middle;' />
            <a href="{modurl modname='IWforums' type='user' func='download' fileName=$adjunt fmid=$fmid fid=$fid}">
                {$adjunt|safetext}
            </a>
        </div>
        {/if}
        <div class="z-clearer"></div>
        <hr />
        <div>
            {$message}
        </div>
    </div>


    <table class="usertable">
        <tr>
            {if $userid neq ''}
            <th><img src="modules/IWforums/images/marcat.gif" style="vertical-align: middle;" /></th>
            {/if}
            {if $icons}
            <th>&nbsp;</th>
            {/if}
            {if $adjunts}
            <th><img src="modules/IWforums/images/file.gif" style="vertical-align: middle;" /></th>
            {/if}
            {if $userid neq ''}
            <th><img src="modules/IWforums/images/MsgNoMsg.gif" style="vertical-align: middle;" /></th>
            {/if}
            <th style="text-align:left;">{gt text="Title"}</th>
            <th style="text-align:left;">{gt text="Sender"}</th>
            <th>{gt text="Date"}</th>
            <th>{gt text="Time"}</th>
        </tr>
        {foreach item=messageList from=$messages}
        <tr bgcolor="{cycle values="#ffffff, #eeeeee"}">
            {if $userid neq ''}
            <td align="center" width="10">
                <a href="javascript:mark({$fid},{$messageList.fmid})">
                    <img src="modules/IWforums/images/{$messageList.marcat}" style="vertical-align: middle;" alt="{$messageList.textmarca}" title="{$messageList.textmarca}" id={$messageList.fmid} />
                </a>
            </td>
            {/if}
            {if $icons}
            <td align="center" width="10">
                {if $messageList.icon neq ""}
                <img src="modules/IWmain/images/smilies/{$messageList.icon}" style="vertical-align: middle;" alt="{$messageList.icon}" title="{$messageList.icon}" />
                {/if}
            </td>
            {/if}
            {if $adjunts}
            <td align="center" width="10">
                {if $messageList.adjunt neq ""}
                <a title="{$messageList.adjunt}">
                    <img src="modules/IWforums/images/file.gif" style="vertical-align: middle;" alt="{$messageList.adjunt}" title="{$messageList.adjunt}" />
                </a>
                {/if}
            </td>
            {/if}
            {if $userid neq ''}
            <td style="text-align:center;" width="10">
                <a href="{modurl modname='IWforums' type='user' func='msg' fmid=$messageList.fmid ftid=$ftid fid=$fid u=$u oid=$messageList.oid inici=$inici}">
                    <img src="modules/IWforums/images/{$messageList.imatge}" style="vertical-align: middle;" />
                </a>
            </td>
            {/if}
            <td style="padding-left:{$messageList.indent}px;">
                <a href="{modurl modname='IWforums' type='user' func='msg' fmid=$messageList.fmid ftid=$ftid fid=$fid u=$u oid=$messageList.oid inici=$inici}">
                    {$messageList.title}
                </a>
            </td>
            <td style="color:green;">
                <strong>{$users[$messageList.u]}</strong>
            </td>
            <td style="color:#777; text-align:center;">
                <strong>{$messageList.date}</strong>
            </td>
            <td style="color:#777; text-align:center;">
                <strong>{$messageList.time}</strong>
            </td>
        </tr>
        {/foreach}
    </table>
</div>