{pageaddvar name='javascript' value='jQuery' ui=true}
{pageaddvar name='stylesheet' value='vendor/font-awesome/css/font-awesome.css'}
{pageaddvar name='javascript' value='vendor/bootstrap/js/bootstrap.js'}
{pageaddvar name='stylesheet' value='vendor/bootstrap/css/bootstrap.css'}
{pageaddvar name='stylesheet' value='modules/IWforums/style/bsRewrite.css'}
{pageaddvar name='javascript' value='vendor/bootstrap/filestyle/bootstrap-filestyle.min.js'}
{ajaxheader modname=IWforums filename=IWforums.js}

{if !$restyled}
    {include file="IWforums_user_menu.htm" m2=1 m7=1 fid=$fid ftid=$ftid}
{else}
    <ol style="font-size:0.8em" class="breadcrumb">
        <li><a href="{modurl modname='IWforums' type='user' func='main'}">{gt text="Forums list"}</a></li>
        <li><a href="{modurl modname='IWforums' type='user' func='forum' fid=$fid u=$u}">{gt text="List of topics"}</a></li>
        <li><a href="{modurl modname='IWforums' type='user' func='llista_msg' ftid=$ftid fid=$fid u=$u}}">{gt text="Posts"}</a></li>
        <li class="active">{gt text="Edit"}</li>        
    </ol>    
{/if}

<div class="usercontainer">
    <div class="userpageicon">{img modname='core' src='edit.png' set='icons/large'}</div>
    <h2>{$name}: {gt text="Edit the message"}</h2>
    <form  class="form-horizontal" role="form" method="post" name="new_msg" id="new_msg" action="javascript:void()" enctype="multipart/form-data">
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" name="fid" value="{$fid}" />
        <input type="hidden" name="ftid" value="{$ftid}" />
        <input type="hidden" name="u" value="{$u}" />
        <input type="hidden" name="fmid" value="{$missatge.fmid}" />
        {*<input type="checkbox" name="segur" id="segur" class="hidden">*}
        <div class="form-group">
            <label for="titol" class="col-xs-2 control-label">{gt text="Title of the message"}</label>
            <div class="col-xs-8" id="inputName">
                <input type='text' class='has-error form-control' id ='titol' name='titol' maxlength="250" oninput="checkName();" onblur="checkName();" value="{$missatge.titol}" placeholder="{gt text='Enter message title'}" required>
            </div>
        </div>
        <!-- Modal icon popup -->
        <div class="modal fade" id="icons">
            <div class="modal-dialog" >
                <div class="modal-content">      
                    <div class="modal-body">
                        <div id="iconset">
                            <input type="radio" id="icon" name="icon" value="" title="Cap" {if $missatge.icon eq ''}checked{/if} />
                            {section name=icons loop=$icons}
                                <input type="radio" name="icon" {if $missatge.icon eq $icons[icons].imgsrc}checked{/if} value="{$icons[icons].imgsrc}" />
                                <img id="{$icons[icons].imgsrc}" src="modules/IWmain/images/smilies/{$icons[icons].imgsrc}" alt="" style="vertical-align: middle;" />
                            {/section}                            
                            <button type="button" onclick="selectedIcon()" style="float:right;font-size:0.8em" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> {gt text="Ok"}</button> 
                        </div>         
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->        
        
        <div class="col-xs-offset-2 row">    
            {if $icons neq ''}
                <div class="form-group col-xs-4">                                
                    <div id="addIcon">
                        <label class="control-label" >
                            <span style='cursor:pointer' title='{gt text="Add an icon to the message"}' data-toggle="modal" data-target="#icons"><span class="fa fa-smile-o">&nbsp;</span>{gt text="Icon message"}&nbsp;<img id="currentIcon" style="display:none" src=""></span>
                        </label>
                    </div>
                </div>
            {else}
                <input type="hidden" name="icon" value="" />
            {/if}
            
            {if $moderator && ($missatge.idparent eq 0)}
            <div class="form-group">
                <label class="col-xs-4 control-label" for="onTop">{gt text="Set as main message"}&nbsp;<span class="glyphicon glyphicon-pushpin"></span></label>
                <div>
                    <input class="checkbox" type="checkbox" name="onTop" id="onTop" value="1" {if $missatge.onTop}checked="checked"{/if} />
                </div>
            </div>
            {/if}
        </div> <!--row -->
        
            <div class="form-group">
                <label class="col-xs-2 control-label" for="intraweb">{gt text="Message"}</label>
                <div class="col-xs-8">
                    <textarea class="form-control" name="msg" cols="80" rows="10" id="msg" required>{$missatge.missatge}</textarea>
                </div>
            </div>     
            <div id="attachment">
                {include file="ajax/IWforums_ajax_attachment.tpl"}
            </div>
            <div class="z-center">
                <span id="btnSend" class="z-buttons">
                    <a onclick="javascript: preSubmit();"><span class="green fs1em glyphicon glyphicon-ok"></span>
                    &nbsp;{gt text="Modify the message"}
                    </a>
                </span>
                <span class="z-buttons">
                    {if $ftid neq 0}
                     <a href="{modurl modname='IWforums' type='user' func='llista_msg' fid=$fid ftid=$ftid}">
                        <span class="red fs1em glyphicon glyphicon-remove"></span>                    
                        &nbsp;{gt text="Cancel"}
                    </a>
                    {else}
                    <a href="{modurl modname='IWforums' type='user' func='forum' fid=$fid}">
                        <span class="red fs1em glyphicon glyphicon-remove"></span> &nbsp;
                        {gt text="cancel"}
                    </a>
                    {/if}
                </span>
            </div>
            <div class="z-formrow">
                <div class="z-formnote">
                    <div style="margin:30px;">
                        {$missatge.quotes|nl2br}
                    </div>
                </div>
            </div>
        {*<div ><textarea name="oldmsg" cols="80" rows="10" id="oldintraweb" class="noeditor">{$missatge.quotes}</textarea></div>*}
    </form>
</div>
{notifydisplayhooks eventname='IWforums.ui_hooks.IWforums.form_edit' id='intraweb'}

<script type="text/javascript">
    jQuery( document ).ready(function() {
        // Get selected icon image
        selectedIcon();
    });

    jQuery('[data-toggle="modal"]').tooltip();
    jQuery('[data-toggle="tooltip"]').tooltip();    

    function preSubmit(){
        document.getElementById('new_msg').action = "javascript:validate();";
        document.getElementById('new_msg').submit();
    }
    
    function validate() {
        var error = "";
        if (jQuery('#titol').val() == '') {
            // for gt detection
            error = "{{gt text="You didn't write a title for the message."}}"+'\n';
        }
        if (jQuery('#msg').val() == '') {
            document.getElementById('new_msg').action = "javascript:void();";
            // for gt detection
            error = error + "{{gt text="You didn't write the message."}}"+'\n';
        }
        {{if $adjunts neq "0"}}
            if (jQuery("#adjunt").val() != "" && "{{$extensions}}".indexOf(jQuery("#adjunt").val().toLowerCase().substring(jQuery("#adjunt").val().toLowerCase().length - 3, jQuery("#adjunt").val().length)) == - 1 && "{{$extensions}}".indexOf(jQuery("#adjunt").val().toUpperCase().substring(jQuery("#adjunt").val().toUpperCase().length - 3, jQuery("#adjunt").val().length)) == - 1){
            //var f = document.forms['new_msg'];
            //if (f.adjunt.value != "" && "{{$extensions}}".indexOf(f.adjunt.value.toLowerCase().substring(f.adjunt.value.toLowerCase().length - 3, f.adjunt.value.length)) == - 1 && "{{$extensions}}".indexOf(f.adjunt.value.toUpperCase().substring(f.adjunt.value.toUpperCase().length - 3, f.adjunt.value.length)) == - 1 && !error){
		//for gt detection 
                error = error + "{{gt text="The extension of the attached file isn't correct. The valid extensions are: "}}{{$extensions}}";
            }
        {{/if}}
        if (error == ''){
            document.getElementById('new_msg').action = "index.php?module=IWforums&func=update_msg";
            document.getElementById('new_msg').submit();
        } else {
            alert(error);
            document.getElementById('new_msg').action = 'javascript:void();';
        }
    }
</script>
