{include file="IWforums_user_menu.htm" m2=1 m3=1 m4=1 m10=1 fid=$fid ftid=$ftid}
{userloggedin assign=userid}
{foreach item=missatge from=$missatges}
<table width="100%" style="border-color:#aaaaaa;border-width:2px; border-style:solid">
    {if $missatge.photo neq '' AND ($userid neq '' OR $avatarsVisible eq 1)}
        <tr>
            <td rowspan="5" width="5%">
                <img src="{$baseurl}{modurl modname=IWforums type=user func=getFile fileName=$missatge.photo}" alt="" />
            </td>
        </tr>
    {/if}
    <tr>
        <td>
            <font face="arial" color="#0080C0"><b>{$missatge.titol}</b></font>
        </td>
    </tr>
    <tr>
        <td>
            {gt text="From: "}
            <font color=green><b>{$users[$missatge.usuari]}</b></font>
        </td>
    </tr>
    <tr>
        <td>
            {gt text="Date"}: <font face="arial" size="2" color="#696969"><b>{$missatge.data}</b></font>
        </td>
    </tr>
    <tr>
        <td>
            {gt text="Time"}: <font face="arial" size="2" color="#696969"><b>{$missatge.hora}</b></font>
        </td>
    </tr>
    {if $missatge.adjunt neq ""}
        <tr>
            <td colspan="2">
                <img src="modules/IWmain/images/fileIcons/{$missatge.fileIcon}" alt="" />
                <a href="{modurl modname="IWforums" type="user" func="download" fileName=$missatge.adjunt fmid=$missatge.fmid fid=$fid}">
                    {$missatge.adjunt|safetext}
                </a>
            </td>
        </tr>
    {/if}
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {$missatge.missatge|nl2br}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
</table>
<br>
{/foreach}