<script language="javascript">
    function send(){
        var f = document.forms['new_msg'];
        if(f.titol.value==""){
            alert("{{gt text="You didn't write a title for the message."}}");
            var error=true;
        }
        {{if $adjunts neq "0"}}
        if(f.adjunt.value!="" && "{{$extensions}}".indexOf(f.adjunt.value.toLowerCase().substring(f.adjunt.value.toLowerCase().length-3,f.adjunt.value.length))==-1  && "{{$extensions}}".indexOf(f.adjunt.value.toUpperCase().substring(f.adjunt.value.toUpperCase().length-3,f.adjunt.value.length))==-1 && !error){
            alert("{{gt text="The extension of the attached file isn't correct. The valid extensions are: "}}{{$extensions}}");
            var error=true;
        }
        {{/if}}
        if(!error){resposta=confirm("{{gt text="Do you really want to send the message?"}}");}
        if(!error && resposta){
            f.submit();
        }
    }
</script>

{include file="IWforums_user_menu.htm" fid=$fid fmid=$fmid ftid=$ftid m2=1 m7=1}
<div class="usercontainer">
    <div class="userpageicon">{img modname='core' src='filenew.png' set='icons/large'}</div>
    <h2>{$name} => {gt text="Add a new message"}</h2>
    <form  method="post" class="z-form" id="new_msg" action="{modurl modname='IWforums' type='user' func='crear_msg'}" enctype="multipart/form-data">
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" name="fid" value="{$fid}" />
        <input type="hidden" name="ftid" value="{$ftid}" />
        <input type="hidden" name="fmid" value="{$fmid}" />
        <input type="hidden" name="oid" value="{$oid}" />
        <input type="hidden" name="u" value="{$u}" />
        <fieldset>
            <legend>{gt text="Message content"}</legend>
            <div class="z-formrow">
                <label for="titol">{gt text="Title of the message"}</label>
                <input type="text" id ="titol" name="titol" maxlength="100" size="60" value="{$title}" />
            </div>
            {if $adjunts neq "0"}
            <div class="z-formrow">
                <label for="adjunt">{gt text="Attached file"}</label>
                <input type="file" id="adjunt" name="adjunt" />
            </div>
            {/if}
            {if $icons neq ''}
            <div class="z-formrow">
                <label for="icon">{gt text="Icon"}</label>
                <div class="z-formnote">
                    <input type="radio" id="icon" name="icon" value="" checked />
                    {section name=icons loop=$icons}
                    <input type="radio" name="icon" value="{$icons[icons].imgsrc}" />
                    <img src="modules/IWmain/images/smilies/{$icons[icons].imgsrc}" alt="" style="vertical-align: middle;" />
                    {/section}
                </div>
            </div>
            {else}
            <input type="hidden" name="icon" value="" />
            {/if}
            <div class="z-formrow">
                <label for="intraweb">{gt text="Message"}</label>
                <textarea name="msg" cols="80" rows="10" id="intraweb"></textarea>
            </div>
        </fieldset>
        <div class="z-center">
            <span class="z-buttons">
                <a href="javascript:send()">
                    {img modname='core' src='button_ok.png' set='icons/small' __alt="Create the message" __title="Create the message"}
                    {gt text="Create the message"}
                </a>
            </span>
            <span class="z-buttons">
                {if $ftid neq 0}
                <a href="{modurl modname='IWforums' type='user' func='llista_msg' fid=$fid ftid=$ftid}">
                    {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                    {gt text="Cancel"}
                </a>
                {else}
                <a href="{modurl modname='IWforums' type='user' func='forum' fid=$fid}">
                    {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                    {gt text="Cancel"}
                </a>
                {/if}
            </span>
        </div>
        <div style="margin:30px;">
            {$msg|nl2br}
        </div>
        <div style="visibility:hidden;">
            <textarea name="oldmsg" cols="80" rows="10" id="oldintraweb">{$msg}</textarea>
        </div>
    </form>
</div>