<script language="javascript">
    function esborra_fitxer(){
    document.new_msg.action = "index.php?module=IWforums&func=del_adjunt"
            document.new_msg.submit();
    }

    function send(){
    document.new_msg.action = "index.php?module=IWforums&func=update_msg"
            if (document.new_msg.titol.value == ""){
    alert("{{gt text="You didn't write a title for the message."}}");
            var error = true;
    }
    {{if $adjunts neq "0"}}
    if (document.new_msg.adjunt.value != "" && "{{$extensions}}".indexOf(document.new_msg.adjunt.value.substring(document.new_msg.adjunt.value.length - 3, document.new_msg.adjunt.value.length)) == - 1 && !error){
    alert("{{gt text="The extension of the attached file isn't correct. The valid extensions are: "}}{{$extensions}}");
            var error = true;
    }
    {{/if}}
            if (!error){document.new_msg.submit(); }
    }
</script>
{include file="IWforums_user_menu.htm" m2=1 m7=1 fid=$fid ftid=$ftid}
<div class="usercontainer">
    <div class="userpageicon">{img modname='core' src='edit.png' set='icons/large'}</div>
    <h2>{$name} => {gt text="Edit the message"}</h2>
    <div style="height:15px;">&nbsp;</div>
    <form  class="z-form" method="post" name="new_msg" id="new_msg" enctype="multipart/form-data">
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" name="fid" value="{$fid}" />
        <input type="hidden" name="ftid" value="{$ftid}" />
        <input type="hidden" name="u" value="{$u}" />
        <input type="hidden" name="fmid" value="{$missatge.fmid}" />
        <fieldset>
            <legend>{gt text="Message content"}</legend>
            <div class="z-formrow">
                <label for="titol">{gt text="Title of the message"}</label>
                <input type="text" name="titol" id ="titol" maxlength="100" size="60" value="{$missatge.titol}" />
            </div>
            {if $adjunts neq "0"}
            <div class="z-formrow">
                <label for="adjunt">{gt text="Attached file"}</label>
                {if $missatge.adjunt eq ""}
                <input type="file" id="adjunt" name="adjunt" />
                {else}
                <div class='z-formnote'>
                <input type="hidden" name="adjunt" value="" />
                {$missatge.adjunt}
                <input type="button" onClick="javascript:esborra_fitxer()" value="{gt text='Delete the attached file'}" />
                <input type="checkbox" name="segur" />{gt text="I'm sure"}
                </div>
                {/if}
            </div>
            {/if}
            {if $icons neq ''}
            <div class="z-formrow">
                <label for="icon">{gt text="Icon"}</label>
                <div class="z-formnote">
                    <input type="radio" id="icon" name="icon" value="" {if $missatge.icon eq ''}checked{/if} />
                           {section name=icons loop=$icons}
                           <input type="radio" name="icon" {if $missatge.icon eq $icons[icons].imgsrc}checked{/if} value="{$icons[icons].imgsrc}" />
                           <img src="modules/IWmain/images/smilies/{$icons[icons].imgsrc}" alt="" style="vertical-align: middle;" />
                    {/section}
                </div>
            </div>
            {else}
            <input type="hidden" name="icon" value="" />
            {/if}
                        {if $moderator}
            <div class="z-formrow">
                <label for="onTop">{gt text="Set as main message"}</label>
                <input type="checkbox" name="onTop" {if $missatge.onTop}checked="checked"{/if} id="onTop" value="1" />
            </div>
            {/if}
            <div class="z-formrow">
                <label for="intraweb">{gt text="Message"}</label>
                <textarea name="msg" cols="80" rows="10" id="intraweb">{$missatge.missatge}</textarea>
            </div>
            <div class="z-center">
                <span class="z-buttons">
                    <a href="javascript:send()">
                        {img modname='core' src='button_ok.png' set='icons/small' __alt="Modify the message" __title="Modify the message"}
                        {gt text="Modify the message"}
                    </a>
                </span>
                <span class="z-buttons">
                    {if $ftid neq 0}
                    <a href="{modurl modname='IWforums' type='user' func='llista_msg' fid=$fid ftid=$ftid}">
                        {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                        {gt text="cancel"}
                    </a>
                    {else}
                    <a href="{modurl modname='IWforums' type='user' func='forum' fid=$fid}">
                        {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                        {gt text="cancel"}
                    </a>
                    {/if}
                </span>
            </div>
            <div class="z-formrow">
                <div class="z-formnote">
                    <div style="margin:30px;">
                        {$missatge.quotes|nl2br}
                    </div>
                </div>
            </div>
        </fieldset>
        <div style="visibility:hidden;"><textarea name="oldmsg" cols="80" rows="10" id="oldintraweb">{$missatge.quotes}</textarea></div>
    </form>
</div>