[submodule "html/zikula2/modules/IWagendas"]
	path = html/zikula2/modules/IWagendas
	url = http://github.com/intraweb-modules13/IWagendas.git
[submodule "html/zikula2/modules/IWdocmanager"]
	path = html/zikula2/modules/IWdocmanager
	url = http://github.com/intraweb-modules13/IWdocmanager.git
[submodule "html/zikula2/modules/IWgroups"]
	path = html/zikula2/modules/IWgroups
	url = http://github.com/intraweb-modules13/IWgroups.git
[submodule "html/wordpress"]
	path = html/wordpress
	url = git@github.com:projectestac/agora_nodes.git
