adminInfo/*
html/.htaccess
html/index.php
html/syncdata
html/config/env-config.php
html/config/env-config-eoi-pro.php
html/config/env-config-pro.php
html/config/config-restricted.php
html/config/sync-config.sh
html/config/.htaccess
html/config/phpmemcache/Temp/*
html/moodle2/auth/odissea
sh/
.Trash*/*
localmuc/
.buildpath
.project
.settings/*
.idea

