[submodule "html/wordpress"]
	path = html/wordpress
	url = https://github.com/projectestac/agora_nodes.git
[submodule "html/moodle2"]
	path = html/moodle2
	url = https://github.com/projectestac/agora_moodle2.git