[submodule "html/zikula2/modules/IWagendas"]
	path = html/zikula2/modules/IWagendas
	url = http://github.com/intraweb-modules13/IWagendas.git
[submodule "html/zikula2/modules/IWdocmanager"]
	path = html/zikula2/modules/IWdocmanager
	url = http://github.com/intraweb-modules13/IWdocmanager.git
[submodule "html/zikula2/modules/IWgroups"]
	path = html/zikula2/modules/IWgroups
	url = http://github.com/intraweb-modules13/IWgroups.git
[submodule "html/wordpress"]
	path = html/wordpress
	url = http://github.com/projectestac/agora_nodes.git
[submodule "html/moodle2"]
	path = html/moodle2
	url = http://github.com/projectestac/agora_moodle2.git
[submodule "html/portal/modules/XtecMailer/includes"]
	path = html/portal/modules/XtecMailer/includes
	url = https://github.com/projectestac/mailer.git
