/adminInfo/*
/html/config/config.php
/html/config/env-config.php
/html/config/env-config-eoi-pro.php
/html/config/env-config-pro.php
/html/config/config-restricted.php
/html/config/sync-config.php
/html/moodle/config.php
/html/moodle2/config.php
/nbproject/*
/moodledata/moodle2/usu*/*
/moodledata/usu*/*
/portaldata/pnTemp/*
/sh/*
/zkdata/usu*/*

