html/.htaccess
html/syncdata
html/config/env-config.php
html/config/config.php
html/config/config-restricted.php
html/config/sync-config.sh
html/config/.htaccess
html/config/.htpasswd
.Trash*/*
.buildpath
.project
.settings/*
.idea

