@import "reset.css";
/* Typeface	*/
@font-face {
  font-family: 'OswaldLight';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Oswald-Light-webfont.eot');
  src: url('../fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Oswald-Light-webfont.woff') format('woff'), url('../fonts/Oswald-Light-webfont.ttf') format('truetype'), url('../fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
}
@font-face {
  font-family: 'OswaldBook';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Oswald-Regular-webfont.eot');
  src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Oswald-Regular-webfont.woff') format('woff'), url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'), url('../fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
}
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols/websymbols-regular-webfont.eot');
  src: url('../fonts/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/websymbols/websymbols-regular-webfont.woff') format('woff'), url('../fonts/websymbols/websymbols-regular-webfont.ttf') format('truetype'), url('../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
/*Transitions*/
/* Color Variabel */
/*   General style   */
body {
  background: #fff;
  border: 1px solid #ddd;
  font: 14px/21px "Helvetica Neue", Helvetica, arial, sans-serif;
}
p,
ul,
ol {
  margin-bottom: 1.5em;
}
a {
  color: #0d72c7;
  text-decoration: none;
}
a:hover {
  color: #0f80df;
  text-decoration: underline;
}
p a,
h5 a {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  color: #0d72c7;
}
p a:hover,
h5 a:hover {
  color: #0f80df;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: italic;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  line-height: 1.5em;
  margin-bottom: 1em;
  word-wrap: break-word;
}
h1 {
  font-family: "OswaldBook", arial, serif;
  font-size: 26px;
}
h2 {
  font-family: "OswaldBook", arial, serif;
  font-size: 21px;
}
h3 {
  font-family: "OswaldBook", arial, serif;
  font-size: 18px;
}
h4 {
  font-family: "OswaldBook", arial, serif;
  font-size: 16px;
  line-height: 16px;
}
h5 {
  font-size: 14px;
  font-weight: bold;
}
h6 {
  color: #c4c4c4;
  font-size: 12px;
}
/*Responsive iframe*/
iframe,
object,
embed {
  max-width: 100%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
small {
  font-size: smaller;
}
table {
  border: 1px solid #eaeaea;
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}
table caption {
  background: #fafafa;
  border: 1px solid #dddddd;
  font-weight: bold;
  margin-bottom: .5em;
  padding: .5em;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #ffffff;
}
tr:nth-of-type(even) {
  background: #f5f5f5;
}
th,
th a {
  background: #6a6a6a;
  color: #ffffff;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  text-align: left;
}
td:first-child,
th:first-child {
  border-style: solid none solid solid;
}
td:last-child,
th:last-child {
  border-style: solid solid solid none;
}
blockquote {
  border-left: 5px solid #dddddd;
  color: #aaaaaa;
  font: italic 14px/1.5em Georgia, serif;
  margin: 1.5em 3em;
  padding-left: 2em;
}
blockquote cite {
  color: #333333;
  display: block;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-top: 21px;
}
img,
video,
select {
  height: auto;
  max-width: 100%;
  max-width: none\9;
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header-container {
  background: #ffffff;
  margin-bottom: 3em;
}
/* Top Nav */
.top-menu-container .current_page_item > a {
  font-weight: bolder;
}
.top-menu-container {
  background: #f5f5f5;
  margin-bottom: 0;
}
.top-menu-container .top-menu-navigation {
  float: right;
}
.top-menu-container .top-menu-navigation ul {
  z-index: 9999;
}
.top-menu-container .top-menu-navigation ul > li {
  float: left;
  position: relative;
}
.top-menu-container .top-menu-navigation ul > li a {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  color: #333333;
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  margin-right: 1em;
  padding-right: 1em;
  position: relative;
  text-transform: capitalize;
}
.top-menu-container .top-menu-navigation ul > li a::before {
  color: #000000;
  content: '|';
  font-size: 10px;
  position: absolute;
  right: 0;
  top: -1px;
}
.top-menu-container .top-menu-navigation ul > li ul {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  background: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  filter: alpha(opacity=0);
  left: -1em;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.top-menu-container .top-menu-navigation ul > li ul li {
  border-bottom: 1px solid #dcdcdc;
  float: none;
  position: relative;
  white-space: nowrap;
}
.top-menu-container .top-menu-navigation ul > li ul li a {
  display: block;
  margin-right: 0;
  padding: 0 1em;
  white-space: nowrap;
}
.top-menu-container .top-menu-navigation ul > li ul li a:hover {
  background: #ededed;
}
.top-menu-container .top-menu-navigation ul > li ul li a::before {
  content: '';
}
.top-menu-container .top-menu-navigation ul > li ul li ul {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  filter: alpha(opacity=0);
  left: 100%;
  opacity: 0;
  position: absolute;
  top: -1px;
  visibility: hidden;
}
.top-menu-container .top-menu-navigation ul > li:hover > ul {
  filter: alpha(opacity=100);
  opacity: 10;
  visibility: visible;
}
#header-wrap {
  padding: 3em 0 3em 0;
}
#header-wrap .logo-container {
  padding-left: 1.5em;
}
#header-wrap .logo-container .site-title,
#header-wrap .logo-container .site-title a {
  color: #333333;
  display: inline-block;
  font-family: "OswaldBook", arial, serif;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 0;
  margin-top: 0;
}
#header-wrap .logo-container .site-description {
  display: block;
  font-family: "OswaldLight", arial, serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 0;
}
#header-wrap .logo-container .logo {
  margin-bottom: 0;
}
#header-wrap .logo-container h1 {
  line-height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
#header-wrap .logo-container h1 a {
  color: #333333;
}
#header-wrap .right-header-widget {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}
#header-wrap .right-header-widget img {
  display: block;
  max-width: 100%;
}
#header-wrap .ads-block {
  margin: 0;
}
/*	Clearfix Navigation WordPress	*/
.menu-header-container {
  content: "";
  display: table;
  line-height: 0;
}
/* Main Nav */
.main-menu-container .current_page_item {
  background: #dcdcdc;
}
.main-menu-container {
  background: #f5f5f5;
}
.main-menu-container .main-menu-navigation ul {
  z-index: 9999;
}
.main-menu-container .main-menu-navigation ul > li {
  float: left;
  position: relative;
}
.main-menu-container .main-menu-navigation ul > li a {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  color: #333333;
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  padding: 0 2em;
  text-transform: uppercase;
}
.main-menu-container .main-menu-navigation ul > li a:hover {
  background: #ededed;
}
.main-menu-container .main-menu-navigation ul > li:hover > ul {
  filter: alpha(opacity=100);
  opacity: 10;
  visibility: visible;
}
.main-menu-container .main-menu-navigation ul > li ul {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  background: #f5f5f5;
  border-bottom: 0;
  filter: alpha(opacity=0);
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.main-menu-container .main-menu-navigation ul > li ul li {
  border-bottom: 1px solid #dcdcdc;
  float: none;
  position: relative;
  white-space: nowrap;
}
.main-menu-container .main-menu-navigation ul > li ul li a {
  display: block;
  margin-right: 0;
  white-space: nowrap;
}
.main-menu-container .main-menu-navigation ul > li ul li ul {
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  border-bottom: 0;
  filter: alpha(opacity=0);
  left: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}
.widget-below-header {
  margin-bottom: 3em;
  text-align: center;
}
/*		ARTICLES 		*/
#breadcrumbs {
  word-wrap: break-word;
}
/* icons */
.content .content-separator {
  background: #E4E4E4;
  border: none;
  -webkit-box-shadow: 0px 0px 7px #D7D7D7;
  box-shadow: 0px 0px 7px #D7D7D7;
  clear: both;
  height: 1px;
  margin: 0 0 2em 0;
}
.content article h1 {
  margin-bottom: 0;
}
.content article .icon {
  color: #737373;
  font-family: "WebSymbolsRegular";
  font-size: 12px;
  line-height: 1em;
  margin: 0 2px 0 8px;
}
.content article .categories,
.content article .tags {
  margin-right: 3px;
}
.content article .categories a {
  display: inline-block;
}
.content article .left-meta-icon {
  margin-left: 0px;
}
.content article .entry-content {
  margin-bottom: 1em;
  word-wrap: break-word;
}
.content article.sticky {
  background: #fafafa;
  border: 1px solid #dddddd;
  padding: 1.5em 1em 0.5em 1em;
}
.content article .aside-container {
  background: #f7f7f7;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #333333;
  padding: 8px 5px 8px 15px;
}
.content article .quote-container {
  background: #fafafa;
  border: 1px solid #c4c4c4;
  padding: 3em;
  text-align: center;
}
.content article .quote-container blockquote {
  border: 0;
  color: #333333;
  font: 21px Georgia, serif;
  font-style: italic;
  margin: 0;
  padding-left: 0;
}
.content article .quote-container .cite {
  display: block;
  margin-top: 1.5em;
}
.content article .url-container {
  background: #d7ebfc;
  border: 1px solid #a7d4f9;
  padding: 3em;
  text-align: center;
}
.content article .url-container p {
  color: #333333;
  font-size: 21px;
}
.content article .url-container span {
  display: block;
  margin-top: 1.5em;
  text-align: center;
  word-break: break-all;
}
.content article h1.entry-title,
.content article h1.entry-title a,
.content article h2.entry-title,
.content article h2.entry-title a {
  font-family: "OswaldBook", arial, serif;
  font-size: 22px;
  line-height: 1.2em;
  margin-bottom: 0;
}
.content article h1 a,
.content article h2 a {
  color: #333333;
}
.content article h1 a:hover,
.content article h2 a:hover {
  color: #0f80df;
}
.content article h2 + .entry-meta,
.content article h1 + .entry-meta {
  line-height: 21px;
  margin-bottom: 2em;
  margin-top: 0.3em;
}
.content article .article-meta-extra {
  color: #333333;
  font-size: 11px;
  height: 30px;
  line-height: 21px;
}
.content article .article-meta-comment {
  margin-left: 3px;
}
.content article .article-full-image {
  margin-bottom: 1.5em;
}
.content article .post_image {
  float: left;
  margin: 0 2em 2em 0;
}
.content article .post_image img {
  border: 1px solid #dddddd;
  display: block;
  height: 125px;
  width: 125px;
}
.content article p a.more-link {
  display: block;
  float: right;
  font-weight: bold;
  line-height: 3em;
}
.content article #tag-container {
  border: 1px solid #e4e4e4;
  border-width: 1px 0;
  font-size: 12px;
  height: auto;
  line-height: 2em;
  margin-bottom: 1.5em;
  margin-top: 3em;
  padding: .5em 0;
}
.content article .post-pagination {
  font-size: 12px;
  line-height: 42px;
  text-align: center;
}
.content article .entry-meta {
  font-size: 11px;
  line-height: 21px;
  margin-bottom: 1em;
}
.content article .entry-meta p {
  display: inline;
}
.content article .entry-meta ul {
  display: inline-block;
  margin-bottom: 0;
}
.content article .entry-meta ul li {
  display: inline;
}
.content .article-author {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  margin-bottom: 2em;
  padding: 1em;
}
.content .article-author h5 {
  margin-bottom: .5em;
}
.content .article-author figure {
  float: left;
  width: 10%;
  margin-right: 15px;
}
.content .article-author .author-detail {
  float: left;
  width: 80%;
}
.content .article-author .author-detail p {
  margin-bottom: 0;
}
.content .entry-content pre,
.content .comment-content pre {
  border: 1px solid #e1e1e1;
  color: #333333;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  margin: 24px 0;
  overflow: auto;
  padding: 24px;
}
.content .entry-content dl,
.content .comment-content dl {
  margin: 0 24px;
  margin: 0 0;
}
.content .entry-content dt,
.content .comment-content dt {
  font-weight: bold;
  line-height: 1.5em;
}
.content .entry-content dd,
.content .comment-content dd {
  line-height: 1.5em;
  margin-bottom: 24px;
}
.content .entry-content ul li,
.content .comment-content ul li {
  list-style: disc outside;
}
.content .entry-content ol li,
.content .comment-content ol li {
  list-style: decimal outside;
}
.content .entry-content li,
.content .comment-content li {
  margin: 0 0 0 36px;
  margin: 0 0 0 2.571428571rem;
}
.content .entry-content ul ul,
.content .comment-content ul ul,
.content .entry-content ul ul,
.content .comment-content ul ul,
.content .entry-content ol ol,
.content .comment-content ol ol,
.content .entry-content ol ol,
.content .comment-content ol ol,
.content .entry-content ul ol,
.content .comment-content ul ol,
.content .entry-content ul ol,
.content .comment-content ul ol,
.content .entry-content ol ul,
.content .comment-content ol ul,
.content .entry-content ol ul,
.content .comment-content ol ul {
  margin-bottom: 0;
}
.content .entry-content address,
.content .comment-content address {
  display: block;
  line-height: 1.5em;
  margin: 0 0 24px;
}
.content .entry-content code,
.content .comment-content code {
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  line-height: 1.5em;
}
.content hr {
  margin: 3em 0;
}
.content .pagination ul {
  display: inline-block;
}
.content .pagination ul li {
  background: #fafafa;
  border: 1px solid #dddddd;
  display: inline-block;
  margin-right: 5px;
  padding: 2px 6px;
}
.content .pagination ul li:hover {
  background: #ededed;
}
.content .pagination .article-nav-prev {
  float: left;
}
.content .pagination .article-nav-prev a {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.content .pagination .article-nav-next {
  float: right;
}
.content .pagination .article-nav-next a {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.aligncenter,
.alignleft,
.alignright,
.alignnone {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  margin: 1.5em 0;
  padding: 5px;
}
.aligncenter,
img.center {
  display: block;
  margin: 1.5em auto;
}
.alignleft {
  float: left;
  margin: 1.5em 2em 1.5em 0;
}
.alignright {
  float: right;
  margin: 1.5em 0 1.5em 2em;
}
.left {
  float: left;
  margin: 1.5em 2em 1.5em 0;
}
.right {
  float: right;
  margin: 1.5em 0 1.5em 2em;
}
.wp-caption,
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  text-align: center;
  margin-bottom: 1em;
  font-size: 12px;
  font-style: italic;
  line-height: 34px;
  height: auto;
  max-width: 100%;
}
.entry-attachment {
  margin: 0em 0.5em;
  padding: 5px 0px 0px 6px;
}
.video-container + p {
  margin-top: 1.5em;
}
/*		COMMENTS			*/
.comment-area {
  margin-top: 2.5em;
}
.comment-area h3 {
  font-family: "OswaldLight", arial, serif;
  font-size: 18px;
}
.commentslist {
  counter-reset: comment-id;
  margin-top: 2.5em;
}
.commentslist .bypostauthor {
  background: #d7ebfc;
  border: 1px solid #a7d4f9;
  border-bottom: 5px solid #77bcf6;
}
.commentslist .bypostauthor header {
  border-bottom: 1px solid #47a4f3;
}
.commentslist .bypostauthor header::before {
  color: #0d72c7;
}
.commentslist li ol,
.commentslist li ul {
  border-left: 1px dotted #cbcbcb;
  margin-left: 3em;
  padding-left: 3em;
}
.commentslist li ol li,
.commentslist li ul li {
  position: relative;
}
.commentslist li ol li::before,
.commentslist li ul li::before {
  border-bottom: 1px dotted #cbcbcb;
  content: '';
  height: 1px;
  left: -2em;
  position: absolute;
  top: 3em;
  width: 1em;
}
.commentslist li article {
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  margin-bottom: 1.5em;
  padding: 1.5em 2em;
}
.commentslist li article.by-admin {
  border-color: #cbcbcb;
}
.commentslist li article header {
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  margin-bottom: 1.5em;
  position: relative;
}
.commentslist li article header span {
  font-style: italic;
}
.commentslist li article header h5 {
  margin-bottom: 0;
}
.commentslist li article header h5 span {
  background: #333333;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  height: 21px;
  line-height: 21px;
  margin-right: .5em;
  padding: 0 1em;
  text-transform: uppercase;
}
.commentslist li article header p {
  margin-bottom: 1em;
}
.commentslist li article header::before {
  color: #d0d0d0;
  content: counter(comment-id);
  counter-increment: comment-id;
  font-size: 42px;
  position: absolute;
  right: 0;
  top: 8px;
}
.comment-avatar img {
  float: right;
  height: auto;
  margin: 0 0 1.5em 2em;
}
.awaiting-moderation {
  color: #4d4d4d;
  font-style: italic;
}
.comments-nav-section {
  margin: 3em 0;
}
#cancel-comment-reply-link {
  display: block;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 12px;
  margin-top: 1em;
}
#comment-form p label,
#contact-form p label {
  display: block;
  font-size: 12px;
  line-height: 2em;
}
/*		BUTTONS		*/
.button {
  color: #ffffff;
  display: inline-block;
  font-weight: normal;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
.small-button {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  margin: 6px 0;
}
.blue {
  background: #178df0;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
.blue:hover {
  background: #47a4f3;
  color: #ffffff;
  text-decoration: none;
}
.gray {
  background: #e9e9e9;
  color: #333333;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
.gray:hover {
  background: #d8d8d8;
  color: #333333;
  text-decoration: none;
}
.menus {
  background: #0d72c7 url(../images/icons/menu.png) 0.8em center no-repeat;
  height: 3em;
  line-height: 3em;
  padding: 0 1em 1em 3em;
}
.menus:hover {
  background: #178df0 url(../images/icons/menu.png) 0.8em center no-repeat;
  color: #ffffff;
  text-decoration: none;
}
/*    Sidebar   */
.sidebar-widget {
  font-size: 12px;
  margin-bottom: 1.5em;
  word-wrap: break-word;
}
.sidebar-widget h4 {
  font-family: "OswaldLight", arial, serif;
  font-size: 18px;
  height: 42px;
  line-height: 42px;
  margin-bottom: 0;
}
.sidebar-widget ul li ul {
  margin-bottom: 0;
  margin-left: 3px;
}
.sidebar-widget ul li ul li {
  padding-left: 1em;
  position: relative;
}
/*    Forms   */
form input[type="text"],
form input[type="email"],
form input[type="url"] {
  border: 1px solid #dddddd;
  height: 42px;
  padding: .5em;
  width: 100%;
}
form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="url"]:hover,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus {
  border-color: #bebebe;
}
form #recaptcha_response_field {
  height: 30px;
}
form textarea {
  border: 1px solid #dddddd;
  padding: .5em;
  width: 100%;
}
form textarea:hover,
form textarea:focus {
  border-color: #bebebe;
}
form input[type="submit"] {
  color: #ffffff;
  display: inline-block;
  font-weight: normal;
  border: none;
  font: normal 12px/1.5em "Helvetica Neue", Helvetica, arial, sans-serif;
  background: #178df0;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
form input[type="submit"]:hover {
  background: #47a4f3;
  color: #ffffff;
  text-decoration: none;
}
form .p-errors label {
  color: red;
}
form .p-errors input,
form .p-errors textarea {
  border: 1px solid #f7b5b5;
}
form .p-errors input:hover,
form .p-errors input:focus,
form .p-errors textarea:hover,
form .p-errors textarea:focus {
  border: 1px solid #f87c7c;
}
input[type="password"] {
  border: 1px solid #dddddd;
  padding: .7em;
}
input[type="password"]:hover,
input[type="password"]:focus {
  border-color: #cbcbcb;
}
#search-title {
  margin-bottom: 1em;
}
.search-form-404 {
  margin-top: 2em;
}
.search-form-404 input[type="text"] {
  width: 50%;
}
#search-form input[type="text"] {
  background: #f5f5f5;
  margin-bottom: 1em;
  padding: 0.5em;
}
/*ads*/
.ads a img {
  float: left;
  margin: 2%;
  max-width: 46%;
  padding: 3px;
}
.ads-block li figure a img {
  max-width: 100%;
}
/*	Footer 	*/
.footer-widget-area {
  background: #f7f7f7;
  border-top: 1px solid #dddddd;
  margin-top: 3em;
  word-wrap: break-word;
  padding: 3em 0;
}
.footer-widget-area .footer-widget {
  font-size: 12px;
}
.footer-widget-area .footer-widget h4 {
  font-family: "OswaldLight", arial, serif;
  font-size: 18px;
  height: 42px;
  line-height: 42px;
  margin-bottom: 0;
}
.footer-widget-area .footer-widget ul li ul {
  margin-bottom: 0;
  margin-left: 2em;
}
.footer-widget-area .footer-widget ul li ul li {
  padding-left: 1em;
  position: relative;
}
.footer-widget-area .footer-widget ul li ul li::before {
  content: '-';
  left: 0;
  position: absolute;
}
.copyright-container {
  background: #ededed;
  border-top: 1px solid #dddddd;
  font-size: 12px;
  padding-top: 1.5em;
}
.copyright-container a {
  color: #0a5797;
}
.copyright-container .top-link-footer {
  float: right;
}
/*	Adaptive layout 	*/
.adaptive-top-nav,
#adaptive-top-nav-btn,
.adaptive-main-nav,
#adaptive-main-nav-btn {
  display: none;
}
.adaptive-top-nav li {
  margin-bottom: 1em;
}
.adaptive-top-nav li a {
  color: #0d72c7;
}
.adaptive-top-nav li ul {
  margin: 1em 0 0 2em;
}
.adaptive-main-nav li {
  margin-bottom: 1em;
}
.adaptive-main-nav li a {
  color: #0d72c7;
}
.adaptive-main-nav li ul {
  margin: 1em 0 0 2em;
}
/* #Media Queries
================================================== */
/*	Content in the middle for large screen	*/
@media screen and (min-width: 60em) {
  
}
/* Smaller than standard 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {
  
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .top-menu-navigation,
  .main-menu-navigation {
    display: none;
  }
  #adaptive-top-nav-btn,
  #adaptive-main-nav-btn {
    display: inline-block;
    margin-bottom: 1em 0;
  }
  .main-menu-container .current_page_item,
  .top-menu-container .current_page_item {
    font-weight: bold;
    padding: .5em;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .top-menu-navigation,
  .main-menu-navigation {
    display: none;
  }
  #adaptive-top-nav-btn,
  #adaptive-main-nav-btn {
    display: inline-block;
    margin-bottom: 1em 0;
  }
  .main-menu-container .current_page_item,
  .top-menu-container .current_page_item {
    font-weight: bold;
    padding: .5em;
  }
  .container {
    padding: 0 2em;
  }
  .article-container-adaptive {
    width: 100%;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .right-header-widget {
    float: none;
    max-width: 100%;
  }
  .right-header-widget img {
    display: block;
    max-width: 100%;
  }
  .main-menu-container .current_page_item,
  .top-menu-container .current_page_item {
    font-weight: bold;
    padding: .5em;
  }
  .content .article-author figure {
    float: left;
    width: 20%;
  }
  .content .article-author .author-detail {
    float: left;
    width: 80%;
  }
  #header-wrap .logo-container {
    margin-bottom: 0;
    text-align: center;
  }
  .text-logo {
    text-align: center;
  }
  #header-wrap .right-header-widget {
    margin-top: 1em;
    padding: 1em;
  }
  .sidebar-widget {
    font-size: 12px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .footer-widget {
    font-size: 12px;
    margin-bottom: 1.5em;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .main-menu-container .current_page_item,
  .top-menu-container .current_page_item {
    font-weight: bold;
    padding: .5em;
  }
  .main-menu-container .current_page_item {
    background: none;
  }
  .content article header h1,
  .content article header h2.entry-title a,
  .content article header h1.entry-title a {
    line-height: 1.5em;
  }
  .content article .icon {
    margin: 0 3px 0 5px;
  }
  .content article .icon .categories,
  .content article .icon .tags {
    margin: 5px;
  }
  .content .pagination ul li {
    margin-bottom: 5px;
  }
  .content .article-author figure {
    float: left;
    width: 100%;
  }
  .content .article-author .author-detail {
    float: left;
    width: 100%;
  }
  .url-container {
    font-size: 12px;
  }
  .alignleft,
  .alignright,
  .alignnone {
    float: none;
    margin: 1.5em 0;
  }
  p + .alignleft,
  p + .alignright,
  p + .alignnone,
  br + .alignleft,
  br + .alignright {
    margin-top: 0;
  }
  .commentslist li article header::before {
    content: '';
  }
  #header-wrap .logo-container {
    margin-bottom: 0;
    text-align: center;
  }
  .text-logo {
    text-align: center;
  }
  #header-wrap .right-header-widget {
    margin-top: 1em;
    padding: 1em;
  }
  .sidebar-widget {
    font-size: 12px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .footer-widget {
    font-size: 12px;
    margin-bottom: 1.5em;
  }
}

/* XTEC ************ AFEGIT - Change format of input fields */
/* 2014.07.01 @aginard @jmeler */
#search-form input[type="text"] {
    background: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.1em;
    height: 24px;
    width: 150px;
    float: right;
}
/************ FI */