# ----------------------------------------------------------------------
# Purpose of file: block web access to not allowed files
#                  stored under the system/ directory
# ----------------------------------------------------------------------
Require all denied
<FilesMatch "\.(css|js|jpg|gif|png)$">
    Require all granted
</FilesMatch>
