
<table cellspacing="0" style="margin-bottom:10px; width:100%;">
	<tr class="newswrapper">
		<td colspan="3" class="newssummary1">
			<p style="margin:0px;"><strong><!--[$preformat.catandtitle]--></strong></p>
			<p style="margin:0px;"><!--[gt text="Posted by" domain="theme_iw_mobile"]--> <!--[$info.informant]--> <!--[gt text="on" domain="theme_iw_mobile"]--> <!--[$info.longdatetime]--></p>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="newssummary2">
			<div style="float:left; margin-right:10px;"><!--[$preformat.searchtopic]--></div>
			<span><!--[$info.hometext]--></span>
			<p style="margin-top:10px;"><!--[$preformat.notes]--></p>
		</td>
	</tr>
	<tr>
		<td class="newssummary2" style="border-right:0px;">
			<!--[$info.counter]--> <!--[gt text="reads" domain="theme_iw_mobile"]-->
		</td>
		<td class="newssummary2" style="text-align:center; border-left:0px; border-right:0px;">
			<a href="<!--[$links.fullarticle]-->" title="<!--[$info.title]-->"><!--[gt text="Full story" domain="theme_iw_mobile"]--></a>
		</td>
		<td class="newssummary2" style="text-align:right; border-left:0px;">
			<!--[$preformat.print]-->
			<a href="index.php?module=xFPDF&amp;func=main&amp;plugin=News&amp;sid=<!--[$info.sid]-->"><img src="modules/xFPDF/pnimages/pdf.gif" alt="<!--[gt text="Create PDF file" domain="theme_iw_mobile"]-->" border="0"></a>
		</td>
	</tr>
</table>
