
<table cellspacing="0" style="width:100%;">
	<tr class="newswrapper">
		<td colspan="2" class="newssummary1" style="vertical-align:middle; border-right:0px;">
			<p style="margin:0px;"><strong><!--[$preformat.catandtitle]--></strong></p>
			<p style="margin:0px;">
				<span class="pn-sub"><!--[gt text="Posted by" domain="theme_iw_mobile"]--> <!--[$info.informant]--> <!--[gt text="on" domain="theme_iw_mobile"]--> <!--[$info.briefdatetime]--></span>
				<span><!--[articleadminlinks sid=$info.sid]--></span>
			</p>
		</td>
		<td class="newssummary1" style="text-align:center; border-left:0px;">
			<!--[$preformat.searchtopic]-->
   		</td>
	</tr>
	<tr>
		<td colspan="3" class="newssummary2">
			<div><!--[$info.hometext]--></div>
			<div style="margin-top:10px;"><!--[$info.bodytext]--></div>
			<div style="margin-top:20px;"><!--[$preformat.notes]--></div>
		</td>
	</tr>
	<tr>
		<td class="newssummary2" style="border-right:0px;">
			<!--[$info.fulltext|count_words]--> <!--[gt text="characters" domain="theme_iw_mobile"]-->
		</td>
		<td class="newssummary2" style="text-align:center; border-left:0px; border-right:0px;">
			<!--[$info.counter]--> <!--[gt text="reads" domain="theme_iw_mobile"]-->
		</td>
		<td class="newssummary2" style="text-align:right; border-left:0px;">
			<!--[$preformat.print]-->
			<a href="index.php?module=xFPDF&amp;func=main&amp;plugin=News&amp;sid=<!--[$info.sid]-->"><img src="modules/xFPDF/pnimages/pdf.gif" alt="<!--[gt text="Create PDF file" domain="theme_iw_mobile"]-->" border="0"></a>
		</td>
	</tr>
</table>
