<?xml version="1.0" encoding="<!--[charset]-->"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<atom:link href="<!--[pngetcurrenturl]-->" rel="self" type="application/rss+xml" />
<title><!--[pnconfiggetvar name="sitename"]--></title>
<link><!--[pngetbaseurl]--></link>
<description><!--[pnconfiggetvar name="slogan"]--></description>
<language><!--[lang]--></language>
<image>
 <title><!--[pnconfiggetvar name="sitename"]--></title>
 <url><!--[iw_themepath file=logorss.png type=logo]--></url>
 <link><!--[pngetbaseurl]--></link>
</image>
<managingEditor><!--[gt text="Administrator"]--> <!--[pnconfiggetvar name="adminmail"]--> (<!--[pnconfiggetvar name="sitename"]-->)</managingEditor>
<webMaster><!--[gt text="Administrator"]--> <!--[pnconfiggetvar name="adminmail"]--> (<!--[pnconfiggetvar name="sitename"]-->)</webMaster>
<!--[$maincontent]-->
</channel>
</rss>
<!--[nocache]--><!--[xmlHeader]--><!--[/nocache]-->
