# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the downloads_cache directory
# ----------------------------------------------------------------------
SetEnvIf Request_URI "\.gif$" object_is_gif=gif
SetEnvIf Request_URI "\.png$" object_is_png=png
SetEnvIf Request_URI "\.jpg$" object_is_jpg=jpg
Order deny,allow
Deny from all
Allow from env=object_is_gif
Allow from env=object_is_png
Allow from env=object_is_jpg
