#contactform {
}

#contactform label {
  display: inline;
  font-size: 1em;
  font-weight: bold;
  margin: 2px 0;
}

#contactform label:before {
  content: url("../images/bullet.gif");
  margin-right: 0.5em;
}

#contactform label.radio:before {
  content: '';
  margin-right: 0;
}

#contactform .mandatory,
#contactform2 .mandatory {
  color: red;
  margin-left: 0.5em;
}

#contactform .required {
  border: 1px solid #c88;
}

#contactform input,
#contactform select,
#contactform textarea {
  margin: 3px 0;
}

#contactform .formborder {
  border: 1px solid #ccc;
  padding: 5px;
  width: 80%;
}

#contactform input:focus,
#contactform select:focus,
#contactform form .formborder:focus,
#contactform textarea:focus {
  border-color: #ccc;
  background-color: #eee;
}

#contactform textarea {
  width: 99%;
}

#contactform .validation-failed,
#contactform2 .validation-failed {
  border: 1px solid red!important;
}

#contactform .custom-advice,
#contactform2 .custom-advice {
  color:red!important;
}


