/*  $Id: style.css 118 2009-06-30 12:23:43Z herr.vorragend $  */

/**
* user interface
*
*/

.noscript {
    background: #fff6bf url(../pnimages/exclamation.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px ! important;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
}

.bbsmile_smilies {
    display: none;
}

.bb_standardsmilies {
    margin-top: 1em;
    width: 300px;
}

img.bb_smilie {
    margin: 0 2px;
}

.bb_showhidesmilies {
    margin: 5px 0;
}

.bb_moresmilies {
    margin-bottom: 10px;
    width: 300px;
    height: 2em;
    overflow: auto;
    color: #00009C;
    background: transparent;
    border: none;
    display: block;
}

.hidden {
    display: none;
}

.shown {
    display: inline;
}

/**
* control_modal
*
*/

#modal_container {
    padding:5px;
    background-color:#fff;
    border:1px solid #666;
    overflow:auto;
    font-family:"Lucida Grande",Verdana;
    font-size:12px;
    color:#333;
    text-align:left;
    height: 350px;
}

#modal_overlay {
    background-color:#000;
}

#bbsmileadmin p.footer {
    margin-top: 2em;
    text-align:center;
    font-size: 90%;
}
