.modulesList {
    float: left;
    width: 170px;
}

.usersListForStats {
    float: left;
    width: 170px;
    margin-right: 20px;
}

.statsItem {
    margin: 7px 0px 7px 0px;
}

.onLineStatus {
    margin-top: 15px;
}