# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the ztemp/ directory
# ----------------------------------------------------------------------
Require all denied
