td#wirisdialog_options {
    height: 2.5em;    
    padding: 6px;
}

form {
    padding:0px;
    margin:0px;
}

td#wirisdialog_options td {
    white-space: nowrap;
    font-size: 10pt;
}

#width_value input, #height_value input {
    width: 4em;
    height: 1.5em;
    font-size: 10pt;
}

td#paramspane {
    width: 17em;
}

td#dimensionpane {
    width: 8em;
}

td#langpane {
    width: auto;
}

td#langpane td {
    text-align: center;
}