html, body { 
    height: 100%; 
    margin: 0px;
    padding: 0px;
    background-color: #ece9d8;
    color: #000;
    font-family: sans-serif;
    overflow-y: hidden;
}

#wirisdialog_controls {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #444444;
	text-align: right;
	font-size: 9pt;
}

#wirisdialog_controls button {    
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.08em;
}

#manualLink {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
