# ----------------------------------------------------------------------
# Purpose of file: block any web access to files stored under
#                  the install/ directory
# ----------------------------------------------------------------------
Require all denied
<FilesMatch "\.(css|js|jpg|gif|png)$">
    Require all granted
</FilesMatch>
