body {
  color: [[setting:color3]];
  background: [[setting:color2]];
}
a {
  color: [[setting:color5]];
}
h1 {
  color: [[setting:color4]];
}
h2 {
  color: [[setting:color3]];
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);	/*default*/
  background-color: [[setting:color2]];
}
.nav .nav-item a {
  color: [[setting:color5]];
}
#manage-accounts .account-details {
  color: #666666;				/*default*/
}
.header-main {
  color: [[setting:color3]];
  background:  [[setting:color2]];
}
#page-title {
  text-shadow: none;
}
#panel-right,
#panel-center {
  background: white;
  color: [[setting:color2]];
}

.user-menu {
  background: white;
  color: [[setting:color5]];
}

.user-menu .section-header,
.user-menu .divider{
	background: [[setting:color2]];
	color:  [[setting:color3]];
	box-shadow: none;
}

.user-menu .section-header .plugin-name,
.user-menu .section-header a{
	color: [[setting:color3]];
}

.user-menu header {
	background: #fafafa;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
	background-image: -o-linear-gradient(top,#fff,#f2f2f2);
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	border-bottom: 2px solid [[setting:color2]];
}
.user-menu header h1 {
  color: black;				/*default*/
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);	/*default*/
}
.user-menu h2 {
  color: #4b565d;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);	/*default*/
  background: #ffffff;
  box-shadow: none;
}
.user-menu .nav-item > a {
  color: [[setting:color5]];
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);	/*default*/
}

.refresh.app-ico,
.user-menu .nav-item .plugin-ico,
.user-menu .nav-item .course-ico {
  background-color: #4b565d;
}

.refresh.app-ico{
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
}

.grades .section-name {
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);	/*default*/
  background-color: #7a8a94;
  border-bottom: 1px solid #ffffff;		/*default*/
}

#app-dialog .modalHeader{
  color:  [[setting:color3]];
	background-color:  [[setting:color2]];
}
