/* style.css */
.active{
	color: green;
}

.inactive{
	color: red;
}

.pn-noteinfo {
    text-align: center;
    font-weight: bold;
    color: red;
}


/* style for main user tables */
table.usertable {
	width: 100%;
	color: inherit;
	margin-top: 0px;
	margin-bottom: 1em;
	padding: 5px; /* top, right, bottom, left */
}

table.usertable td  {
	padding: 5px; /* top, right, bottom, left */
}

table.usertable th  {
	background-color: #CFCFCF;
	padding: 5px 5px 10px 5px; /* top, right, bottom, left */
}

div.usercontainer h2 {
	text-align: left;
	border-bottom: 1px solid #cccccc;
	margin-top: 0px;
}

/* styling for a page icon */
div.userpageicon {
	padding: 0px 0px 10px 5px; /* top, right, bottom, left */
}

div.userpageicon img{
    	float: right;
	padding-top: 5px;
}

div.activityObservations{
	border: 1px solid #ffff9f;
	background-color: #FFFCDF;
	padding: 10px;
	margin-bottom: 10px;
}

div.results{
	background: #D1E5EF;
	margin: 10px;
	padding: 10px;
}
