#page-mod-journal-view .feedbackbox {
  width: 75%;
  border-collapse: separate;
}
#page-mod-journal-view .entrycontent {
  padding: 3px;
}
#page-mod-journal-view .picture {
  width: 35px;
}
#page-mod-journal-view .info {
  margin-bottom: 5px;
  text-align: right;
}
#page-mod-journal-view .lastedit,
#page-mod-journal-view .editend {
  font-size: 0.7em;
  margin: 5px;
  text-align: center;
}
#page-mod-journal-view .author {
  font-size: 1em;
  font-weight: bold;
}
#page-mod-journal-view .time {
  font-size: 0.7em;
  font-style: italic;
}
#page-mod-journal-view .grade {
  font-weight: bold;
  font-style: italic;
  text-align: right;
}

#page-mod-journal-index .cell {
  font-size:0.8em;
}
#page-mod-journal-view .feedbackbox .left,
#page-mod-journal-view .feedbackbox .entryheader {
  background-color: #dddddd;
}

#page-mod-journal-view .feedbackbox {
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
}
#page-mod-journal-view .feedbackbox .side {
  -moz-border-radius-bottomleft:15px;
}
#page-mod-journal-view .feedbackbox .entrycontent {
  -moz-border-radius-bottomright:15px;
}