/* $Id: style.css 137 2009-12-27 20:33:28Z aperezm $ */

.userpageicon{
    float: right;
}
.files_container h2 {
    border-bottom: 1px solid #aaa;
    padding-top: 15px;
}
.actionIcons {
    margin:0.5em 0;
}
.diskSpace {
    background:#FEFEFE none repeat scroll 0 0;
    border:1px solid #CCCCCC;
    color:inherit;
    margin:1em 0;
    padding:0.5em;
}
.groupsQuota {
    width: 350px;
    padding-left: 20px;
}
.groupsQuota th {
    background-color: #ccc;
    padding: 3px;
}
.groupsQuota td {
    padding: 3px;
}

.editTextArea {
    margin-top: 15px;
    width: 100%;
    height: 170px;
}

.fi_image {
    font-size:1em;
    margin:0 1em 0 0;
    padding:2px 0 2px 21px;
}
.fi_createdir {
    background: url(../../../images/icons/extrasmall/folder_new.png) no-repeat 0 50% !important;
}
.fi_uploadfile {
    background: url(../../../images/icons/extrasmall/up.png) no-repeat 0 50% !important;
}
.fi_folder {
    background: url(../../../images/icons/extrasmall/folder_yellow.png) no-repeat 0 50% !important;
}
.fi_notpublic {
    background: url(../../../images/icons/extrasmall/folder_blue.png) no-repeat 0 50% !important;
}
.fi_public {
    background: url(../../../images/icons/extrasmall/folder_blank.png) no-repeat 0 50% !important;
}
