/* style.css */
.active{
	color: green;
}

.inactive{
	color: red;
}

.z-noteinfo {
    text-align: center;
    font-weight: bold;
    color: red;
}

.Diames {
    color: #0000FF;
    font-weight: bold;
    font-style: italic;
    align: right;
    valign: top;
}
.monthyear {
    font-weight: bold;
    font-size: 1.5em;
}