div#downloads_item {
    background: #C5E8F1 15px 50% no-repeat; /*non-CSS3 browsers*/
    background: 15px 50% no-repeat, -moz-linear-gradient(top,  #EAF5FA, #C5E8F1) repeat scroll 0 0 transparent; /*gecko*/
    background: 15px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#EAF5FA), to(#C5E8F1)) repeat scroll 0 0 transparent; /*webkit*/
    background: 15px 50% no-repeat, linear-gradient(#EAF5FA, #C5E8F1); /*CSS3*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 1em 20px 1em 20px;
    border: 2px solid #95C9EF;
    min-height: 1em;
    margin: 2em auto 2em auto;
    width: 90%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
}

div#downloads_item img {
    vertical-align: middle;
}

div#downloads_item_details {
    margin: 2em auto 2em auto;
    width: 90%;
}

.z-datatable .downloads-parent {
    background-color: #C5E8F1;
}

.z-datatable .downloads-rootparent {
    background-color: #FFB3B3;
}