#idcentre-box{
    background-color:#fea200;
}

.site-logo{
    display:table !important;
    background-color:#fea200;
}
.site-logo-inner{
    color:white; 
}
.site-description-box{
    background-color:#0f6333;
}
.site-description-box-inner{
    color:white; 
}

h1, h2, h3, h4, h5, h6, a {
    color: #0f6333 !important;
}

#icon-11{
    background-color:#0f6333;
}
#icon-21{
    background-color:#fea200;
}
#icon-22{
    color:#0f6333;
}

#icon-23{
   background-color: #0f6333;
}
#icon-13{
   background-color: #fea200;
}

.entry-comments,
.entry-categories>a,
.entry-tags >a,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
    color: #0f6333 !important;
}

#menu-panel {
    border-bottom: 2px solid #0f6333;
}


#footer {    
    background-color: #0f6333 ;
}