#idcentre-box{ 
    background-color: #521A09 ;
}
.site-logo{
    display:table !important;
    background-color: #521A09 ;
}
.site-description-box{
    background-color: #923917 ;
}
h1, h2, h3, h4, h5, h6, a {    
    color: #923917  !important;
}
#icon-11{	
    background-color:  #923917;
}
#icon-21{
    background-color: #521A09 ;
}
#icon-22{
    color: #521A09 ;
}
#icon-23{
   background-color: #923917;
}
#icon-13{
   background-color: #521A09;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a {
    	color: #923917  !important;
}
.entry-comments:before,
.entry-categories:before,
.entry-tags:before{
    	color: #923917 ; }
.menu-link, .sub-menu-link {
	color: #923917  !important;
}
#menu-panel {
	border-bottom: 2px solid #923917 ;
}#footer {    background-color: #923917 ;
}
