
#idcentre-box{
    background-color: #ffa00c;
}

.site-logo{
    display:table !important;
    background-color:#ffa00c;
}

.site-description-box{
    background-color:#b501c4;
}

h1, h2, h3, h4, h5, h6, a {
    color: #7a0483 !important;
}

#icon-11{
    background-color:#b501c4;
}
#icon-21{
    background-color:#ffa00c;
}
#icon-23{
    background-color: #b501c4;
}
#icon-22{
    color: #b501c4;
}
#icon-13{
    background-color: #ffa00c;
}

.entry-comments,
.entry-categories>a,
.entry-tags >a,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
    color: #b501c4 !important;
}

#menu-panel {
border-bottom: 2px solid #b501c4;
}

#footer {    
    background-color: #ffa00c ;
}