#idcentre-box{ 
    background-color: #FF4C00 ;
}
.site-logo{
    display:table !important;
    background-color: #FF4C00 ;
}
.site-description-box{
    background-color: #C42300 ;
}
h1, h2, h3, h4, h5, h6, a {    
    color: #C42300  !important;
}
#icon-11{	
    background-color: #C42300;
}
#icon-21{
    background-color: #FF4C00;
}
#icon-22{
    color: #C42300;
}
#icon-23{
   background-color: #C42300;
}
#icon-13{
   background-color: #FF4C00;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
    color: #C42300  !important;
}
#menu-panel {
    border-bottom: 2px solid #C42300 ;
}
#footer {    
    background-color: #C42300 ;
}

.gce-today span.gce-day-number{
    border: 3px solid #C42300 !important;
}

.gce-widget-grid .gce-calendar th abbr {
    color: #C42300;
}