
#idcentre-box{
    background-color:#0eb1ff;
}


.card_bgcolor1{
	background-color:#e5e5e5;
	
}
.card_bgcolor2{
background-color:#f1f1f1;
	
}
.card_bgcolor3{
	background-color:#f8f8f8;
}

.site-logo{
    display:table !important;
    background-color:#0eb1ff;
}
.site-logo-inner{
    color:white; 
}
.site-description-box{
    background-color:#087eb6;
}
.site-description-box-inner{
    color:white; 
}

h1, h2, h3, h4, h5, h6, a {
    color: #087eb6 !important;
}

.entry-comments,
.entry-categories>a,
.entry-tags >a, 
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
    color:#087eb6 !important;
}


#icon-11{
background-color:#087eb6;
}
#icon-21{
background-color:#0eb1ff;
}
#icon-22{
color:#087eb6;
}

#icon-13{
background-color:#0eb1ff;
}

#footer {    
    background-color: #087eb6 ;
}

