#idcentre-box{
    background-color:#ff2a2a;
}
.site-logo{
    display:table !important;
    background-color:#ff2a2a;
}

.site-description-box{
    background-color:#00854e;
}

h1, h2, h3, h4, h5, h6, a {
    color: #00854e !important;
}

#icon-11{
background-color:#00854e;
}
#icon-21{
background-color:#ff2a2a;
}
#icon-22{
color:#00854e;
}
#icon-23{
   background-color: #00854e;
}
#icon-13{
   background-color: #ff2a2a;
}


.entry-comments,
.entry-categories>a,
.entry-tags >a {
    color:#00854e !important;
}



.entry-comments:before,
.entry-categories:before,
.entry-tags:before{
    color:#00854e; 
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 22px/1 'dashicons';
    vertical-align: middle;
    margin-right: 0.2rem;
}

.menu-link, .sub-menu-link {
color: #00854e !important;
}

#menu-panel {
border-bottom: 2px solid #ff2a2a;
}
