#idcentre-box{ 
    background-color: #FF4C00 ;
}
.site-logo{
    display:table !important;
    background-color: #FF4C00 ;
}
.site-description-box{
    background-color: #7D7D7D ;
}
h1, h2, h3, h4, h5, h6, a {    
    color: #FF4C00  !important;
}
#icon-11{	
    background-color:  #7D7D7D;
}
#icon-21{
background-color: #FF4C00 ;
}
#icon-22{
    color: #7D7D7D ;
}
#icon-23{
   background-color: #7D7D7D ;
}
#icon-13{
   background-color: #FF4C00 ;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
	color: #FF4C00  !important;
}
#menu-panel {
	border-bottom: 2px solid #7D7D7D ;
}#footer {    background-color: #7D7D7D ;
}


.gce-today span.gce-day-number{
    border: 3px solid #FF4C00 !important;
}

.gce-widget-grid .gce-calendar th abbr {
    color: #FF4C00;
}