#idcentre-box{ 
    background-color: #40C3C4 ;
}
.site-logo{
    display:table !important;
    background-color: #40C3C4 ;
}
.site-description-box{
    background-color: #2F5D5D ;
}
h1, h2, h3, h4, h5, h6, a {    color: #2F5D5D  !important;
}
#icon-11{	
    background-color: #40C3C4 ;
}
#icon-21{
background-color: #2F5D5D ;
}
#icon-22{
    color: #2F5D5D ;
}
#icon-23{
   background-color: #40C3C4 ;
}
#icon-13{
   background-color: #2F5D5D ;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
	color: #2F5D5D  !important;
}
#menu-panel {
	border-bottom: 2px solid #2F5D5D ;
}
#footer {    
    background-color: #2F5D5D ;
}
