#idcentre-box{ 
    background-color: #FF0000 ;
}
.site-logo{
    display:table !important;
    background-color: #FF0000 ;
}
.site-description-box{
    background-color: #950000 ;
}
h1, h2, h3, h4, h5, h6, a {    color: #950000  !important;
}
#icon-11{	background-color: #FF0000 ;
}
#icon-21{
background-color: #950000 ;
}
#icon-22{
    color: #FF0000 ;
}
#icon-23{
   background-color: #FF0000 ;
}
#icon-13{
   background-color: #950000 ;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a {
    	color: #950000  !important;
}
.entry-comments:before,
.entry-categories:before,
.entry-tags:before{
    	color: #950000 ; }
.menu-link, .sub-menu-link {
	color: #950000  !important;
}
#menu-panel {
	border-bottom: 2px solid #950000 ;
}#footer {    background-color: #950000 ;
}
