#idcentre-box{
    background-color:#ff3257;
}
.site-logo{
    display:table !important;
    background-color:#ff3257;
}
.site-description-box{
    background-color:#6c6c6c;
}
h1, h2, h3, h4, h5, h6, a {
    color: #ff3257 !important;
}
#icon-11{
    background-color:#6c6c6c;
}
#icon-21{
    background-color:#ff3257;
}
#icon-22{
    color:#6c6c6c;
}
#icon-23{
    background-color: #6c6c6c;
}
#icon-13{
    background-color: #ff3257;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, 
.sub-menu-link {
    color: #ff3257 !important;
}
#menu-panel {
    border-bottom: 2px solid #ff3257;
}

#footer {    
    background-color: #6c6c6c ;
}
.gce-today span.gce-day-number{
    border: 3px solid #ff3257 !important;
}

.gce-widget-grid .gce-calendar th abbr {
    color: #ff3257;
}