#idcentre-box{ 
    background-color: #CA5F5F ;
}
.site-logo{
    display:table !important;
    background-color: #CA5F5F ;
}
.site-description-box{
    background-color: #763333 ;
}
h1, h2, h3, h4, h5, h6, a {    
    color: #763333  !important;
}
#icon-11{	
    background-color: #763333 ;
}
#icon-21{
    background-color: #CA5F5F ;
}
#icon-22{
    color: #CA5F5F;
}
#icon-23{
   background-color: #763333;
}
#icon-13{
   background-color: #CA5F5F ;
}
.entry-comments,
.entry-categories>a,
.entry-tags >a, 
.entry-comments:before,
.entry-categories:before,
.entry-tags:before,
.menu-link, .sub-menu-link {
	color: #763333  !important;
}
#menu-panel {
	border-bottom: 2px solid #763333 ;
}#footer {    
    background-color: #763333 ;
}
