
body {
    /*background-color: #a4d3df !important;*/
    
}
.site-logo{
    display:table !important;
    background-color:#fea200;
}
.site-logo-inner{
    color:white; 
}
.site-description-box{
    background-color:#0f6333;
}
.site-description-box-inner{
    color:white; 
}

h1, h2, h3, h4, h5, h6, a {
    color: #0f6333 !important;
}

#icon-11{
background-color:#0f6333;
}
#icon-21{
background-color:#fea200;
}
#icon-22{
color:#0f6333;
}