/* style.css */
.active{
  color: green;
}

.inactive{
  color: red;
}

.z-noteinfo {
  text-align: center;
  font-weight: bold;
  color: red;
}

div.usercontainer h2 {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  margin-top: 0px;
}

/* styling for a page icon */
div.userpageicon {
  padding: 0px 0px 10px 5px; /* top, right, bottom, left */
}

div.userpageicon img{
  float: right;
  padding-top: 5px;
}


table.z-datatable td,
table.z-datatable th,
table.z-admintable td,
table.z-admintable th {
    vertical-align: top !important;
}