{include file="IWwebbox_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='core' src='configure.png' set='icons/large' __alt=''}</div>
    <h2>{gt text="Module configuration"}</h2>
    <form class="z-form" id="conf" action="{modurl modname="IWwebbox" type="admin" func="update_conf"}" method="post" enctype="application/x-www-form-urlencoded">

          <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <div class="z-formrow">
            <label for="webbox_url">{gt text="Home URL for the module"}</label>
            <input id="url" name="webbox[url]" type="text" size="70" maxlength="255" value="{$url|safetext}" />
        </div>
        <div class="z-formrow">
            <label for="webbox_width">{gt text="Width (%)"}</label>
            <div class="z-formrow">
                <input id="width" name="webbox[width]" type="text" size="4" maxlength="10" value="{$width|safetext}" />
                <select id="widthunit" name="webbox[widthunit]">
                    <option value="%" {if $widthunit eq '%'}selected{/if}>%</option>
                    <option value="px" {if $widthunit eq 'px'}selected{/if}>px</option>
                </select>
            </div>
        </div>
        <div class="z-formrow">
            <label for="webbox_height">{gt text="Height (pixels)"}</label>
            <div class="z-formrow">
                <input id="height" name="webbox[height]" type="text" size="4" maxlength="10" value="{$height|safetext}" /> px
            </div>
        </div>
        <div class="z-formrow">
            <label for="webbox_scrolls">{gt text="Show scroll"}</label>
            <input id="scrolls" name="webbox[scrolls]" type="checkbox" {if $scrolls}checked{/if} /> {gt text="(recommended)"}
        </div>
        <div class="z-center">
            <span class="z-buttons">
                <a onClick="javascript:forms['conf'].submit()">
                    {img modname='core' src='button_ok.png' set='icons/small' __alt="Modify" __title="Modify"} {gt text="Modify"}
                </a>
            </span>
            <span class="z-buttons">
                <a href="{modurl modname=IWwebbox type=admin func=main}">
                    {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"} {gt text="Cancel"}
                </a>
            </span>
        </div>
    </form>
</div>

<script type="text/javascript">
    function send(){
        var f=document.new_url;
        var error=false;
        if($('url').value == ""){
            alert("{{gt text="You must introduce an URL address"}}");
            error=true;
        }
        if((!IsNumeric($('width').value) || ($('width').value >100  && $('widthunit').value=='%')) && !error){
            alert("{{gt text="Width introduced is not valid. The maximum value for percentual unit is 100"}}");
            error=true;
        }
        if(!IsNumeric($('height').value) && !error){
            alert("{{gt text="Height introduced is not valid"}}");
            error=true;
        }
        if(!error){return true;}
        return false;
    }

    function IsNumeric(strString){
        //  check for valid numeric strings
        var strValidChars = "0123456789.-";
        var strChar;
        var blnResult = true;
	
        if (strString.length == 0) return false;
	
        //  test strString consists of valid characters listed above
        for (i = 0; i < strString.length && blnResult == true; i++)
        {
            strChar = strString.charAt(i);
            if (strValidChars.indexOf(strChar) == -1)
            {
                blnResult = false;
            }
        }
        return blnResult;
    }
</script>