{include file="IWwebbox_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='core' src='windowlist.png' set='icons/large' __alt=''}</div>
    <h2>{gt text="References List"}</h2>
    <div style="height:15px;">&nbsp;</div>
    {if $IWwebbox|@count gt 0}
    <table class="z-datatable">
        <thead>
            <tr>
                <th>{gt text="Reference"}</th>
                <th>{gt text="URL"}</th>
                <th>{gt text="Description"}</th>
                <th>{gt text="Width (%)"}</th>
                <th>{gt text="Height (pixels)"}</th>
                <th>{gt text="Show scroll"}</th>
                <th>{gt text="Options"}</th>
            </tr>
        </thead>
        <tbody>
            {section name=IWwebbox loop=$IWwebbox}
            <tr class="{cycle values="z-odd,z-even"}">
                <td>{$IWwebbox[IWwebbox].ref|safetext}</td>
                <td>
                    <a href="{$IWwebbox[IWwebbox].url|safetext}" target="_blank">
                        {$IWwebbox[IWwebbox].url|safetext}
                    </a>
                </td>
                <td>
                    {if $IWwebbox[IWwebbox].description neq ''}
                        {$IWwebbox[IWwebbox].description|safetext}
                    {else}
                        ---
                    {/if}
                </td>
                <td>
                    {$IWwebbox[IWwebbox].width|safetext} {$IWwebbox[IWwebbox].widthunit|safetext}
                </td>
                <td>{$IWwebbox[IWwebbox].height|safetext} px</td>
                <td>
                    {if $IWwebbox[IWwebbox].scrolls eq 1}
                        {gt text="Yes"}
                    {else}
                        {gt text="No"}
                    {/if}
                </td>
                <td>
                    <a href="{modurl modname="IWwebbox" type="admin" func="modify" pid=$IWwebbox[IWwebbox].pid}">
                        {img modname='core' src='xedit.png' set='icons/extrasmall'   __alt="Edit" __title="Edit"}
                    </a>
                    <a href="{modurl modname="IWwebbox" type="admin" func="delete" pid=$IWwebbox[IWwebbox].pid}">
                        {img modname='core' src='14_layer_deletelayer.png' set='icons/extrasmall'   __alt="Edit" __title="Delete"}
                    </a>
                </td>
            </tr>
            {/section}
        </tbody>
    </table>
    <div class="z-informationmsg">
        {gt text="To call a reference it is necessary to write 'module=IWwebbox&ref=Reference'"}
    </div>
    {else}
    <div style="height: 20px;">{gt text="There are not URL created"}</div>
    {/if}
</div>
