{include file="IWstats_admin_menu.htm"}
<link rel="stylesheet" href="modules/IWstats/javascript/calendar/css/jscal2.css" type="text/css" />
<link rel="stylesheet" href="modules/IWstats/javascript/calendar/css/border-radius.css" type="text/css" />
<link rel="stylesheet" href="modules/IWstats/javascript/calendar/css/style.css" type="text/css" />
<script type="text/javascript" src="modules/IWstats/javascript/calendar/jscal2.js"></script>
<script type="text/javascript" src="modules/IWstats/javascript/calendar/lang/ca.js"></script>
<div class="z-admincontainer">
    <div class="z-adminpageicon">
        {img modname='IWstats' src='admin.gif' __alt='Statistics' }
    </div>
    <h2>{gt text="Pàgines consultades"}</h2>
    <form id="filter" class="z-form" action="{modurl modname='IWstats' type='admin' func='view'}" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>{gt text="Filter"}</legend>
            <div class="z-formrow">
                <label for="agenda_fromDate">{gt text="Entries between the day"}</label>
                <div class="z-formnote">
                    <input size="10" id="fromDate" name="fromDate"  value="{$fromDate}" onfocus="blur();" />
                    <input type="button" id="fromDate_btn" value="..." /> {gt text="and the day"}
                    <input size="10" id="toDate" name="toDate"  value="{$toDate}" onfocus="blur();" />
                    <input type="button" id="toDate_btn" value="..." />
                </div>
            </div>
            <div class="z-formrow">
                <label for="filter_module">{gt text="Module"}</label>
                <select id="filter_module" name="moduleId">
                    <option value="0">{gt text="Choose a module..."}</option>
                    {foreach item=module from=$modulesArray}
                    <option {if $moduleId eq $module.id}selected="selected"{/if} value="{$module.id}">{$module.name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="z-formrow">
                <label for="filter_uname">{gt text="Username"}</label>
                <input id="filter_uname" type="text" name="uname" value="{$uname}" />
            </div>
            <div class="z-formrow">
                <label for="filter_registered">{gt text="Kind of users"}</label>
                <select  id="filter_registered" name="registered">
                    <option {if $registered eq 0}selected="selected"{/if} value="0">{gt text="All users"}</option>
                    <option {if $registered eq 1}selected="selected"{/if} value="1">{gt text="Only registered users"}</option>
                </select>
            </div>
            <div class="z-center">
                <div class="z-buttons">
                    <a href="javascript:document.forms['filter'].submit();">
                        {img modname='core' src='button_ok.png' set='icons/extrasmall' __alt='Filter' } {gt text="Filter"}
                    </a>
                    <a href="{modurl modname='IWstats' type='admin' func='view' reset=1}" alt="">
                        {img modname='core' src='agt_reload.png' set='icons/extrasmall' __alt='Reload' } {gt text="Reload"}
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
    {pager rowcount=$pager.numitems limit=$pager.itemsperpage posvar=startnum shift=1}
    <table class="z-datatable">
        <thead>
            <tr>
                <th>{gt text="id"}</th>
                <th>{gt text="User"}</th>
                <th>{gt text="Module"}</th>
                <th>{gt text="Function"}</th>
                <th>{gt text="Type"}</th>
                <th>{gt text="Parameters"}</th>
                <th>{gt text="Date and time"}</th>
                <th>{gt text="IP"}</th>
                <th>{gt text="Obre"}</th>
            </tr>
        </thead>
        <tbody>
            {foreach item=record from=$records}
            <tr>
                <td>
                    {$record.statsid}
                </td>
                <td>
                    {if $record.uid gt 0}
                    <a href="{modurl modname='IWstats' type='admin' func='view' uname=$usersMails[$record.uid]}" alt="">
                        {$users[$record.uid]} ({$usersMails[$record.uid]})
                    </a>
                    {else}
                    {$users[$record.uid]}
                    {/if}
                </td>
                <td width="70">
                    {if $record.moduleid gt 0}
                    <a href="{modurl modname='IWstats' type='admin' func='view' moduleId=$record.moduleid}" alt="">
                        {$modulesNames[$record.moduleid]}
                    </a>
                    {/if}
                </td>
                <td width="70">
                    {$record.func}
                </td>
                <td width="70">
                    {$record.type}
                </td>
                <td>
                    {$record.params}
                </td>
                <td width="150">
                    {$record.datetime|dateformat:"%H:%M:%S - %d/%m/%Y"}
                </td>
                <td width="120">
                    <a href="{modurl modname='IWstats' type='admin' func='view' ip=$record.ip}" alt="">
                        {$record.ip}
                    </a>
                    <a href="{modurl modname='IWstats' type='admin' func='deleteIp' ip=$record.ip}">
                        {img modname='core' src='14_layer_deletelayer.png' set='icons/extrasmall' __alt='Remove'}
                    </a>
                </td>
                <td>
                    {if $record.moduleid gt 0}
                    <a href="{$url}index.php?module={$modulesNames[$record.moduleid]}&func={$record.func}&type={$record.type}&{$record.params}" target="_blank" alt="">
                        {gt text="Open"}
                    </a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {pager rowcount=$pager.numitems limit=$pager.itemsperpage posvar=startnum shift=1}
</div>
<script type="text/javascript">
    var from = Calendar.setup({
        onSelect       :    function(from) {from.hide()},
        max : {{$maxDate}}
    });

    from.manageFields("fromDate_btn", "fromDate", "%d-%m-%Y");

    var to = Calendar.setup({
        onSelect       :    function(to) {to.hide()},
        max : {{$maxDate}}
    });
    to.manageFields("toDate_btn", "toDate", "%d-%m-%Y");
</script>