<script type="text/javascript" language="javascript">
    function send(){
        f=document.edit_nota;
        if(f.c1.value==""){
            alert("{{$msg_no_nota}}");
            var error=true;
        }
        {{if $attachpermitted}}
        if(!error && f.fitxer.value!="" && "{{$extensions}}".indexOf(f.fitxer.value.substring(f.fitxer.value.length-3,f.fitxer.value.length))==-1){
            alert("{{gt text='Extension for attached file '}}"+f.fitxer.value+"{{gt text=' is not allowed. Possible extensions are: '}}{{$extensions}}");
            var error=true;
        }
        {{/if}}
        if(!error && f.diatriat.value == 0){
            alert("{{gt text='Incorrect date'}}.");
            var error=true;
        }

        if(!error && !checkDate(f.diatriat.value+'/'+f.mestriat.value+'/'+f.anytriat.value)){
            var error=true;
        }

        if(!error && f.daid.value>0){
            var resp=confirm("{{gt text='You are going to send an event to a shared agenda where there can be subscribed users. Proceed?'}}");
            if(!resp){var error=true;}
        }
        if(!error){f.submit();}
    }

    function treumarca(){
        document.edit_nota.totdia.checked=false;
    }

    // Original JavaScript code by Chirp Internet: www.chirp.com.au
    // Please acknowledge use of this code by including this header.
    function checkDate(value) {
        var allowBlank = true;
        var minYear = 2000;
        var maxYear = 3000;
        var errorMsg = "";
        // regular expression to match requiredate format
        re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;
        if(value != '') {
            if(regs = value.match(re)) {
                if(regs[1] < 1 || regs[1] > 31) {
                    errorMsg = "{{gt text='Incorrect date'}} " + value;
                } else if(regs[2] < 1 || regs[2] > 12) {
                        errorMsg = "{{gt text='Incorrect date''}} " + value;
                } else if(regs[3] < minYear || regs[3] > maxYear) {
                        errorMsg = "{{gt text='Incorrect date''}} " + value;
                } else if(regs[1] == 31 && (regs[2] == 2 || regs[2] == 4 || regs[2] == 6 || regs[2] == 9 || regs[2] == 11)) {
                        errorMsg = "{{gt text='Incorrect date''}} " + value;
                } else if(regs[1] > 29 && regs[2] == 2) {
                        errorMsg = "{{gt text='Incorrect date''}} " + value;
                }
            } else {
                errorMsg = "{{gt text='Incorrect date'}} " + value;
            }
        } else if(!allowBlank) {
            errorMsg = "{{gt text='Incorrect noteboard data'}}";
        }
        if(errorMsg != "") {
            alert(errorMsg);
            return false;
        }
        return true;
    }
</script>

<div>{$menu}</div>

<div class="opentable1">
    <h2 style="clear:both;">{$title}</h2>
    <form method="post" enctype="multipart/form-data" name="edit_nota" action="{modurl modname='IWagendas' type='user' func='modifica'}">
        <table border="0" width="99%">
            <tr>
                <td align="left" width="40%">{$date}</td>
                <td align="left" width="60%">
                    <select name="diatriat" id="diatriat">
                        {section name=day loop=$dies_MS}
                            <option value="{$dies_MS[day].id}" {if $dies_MS[day].id eq $selectedday}selected{/if}>{$dies_MS[day].name}</option>
                        {/section}
                    </select>
                    <select name="mestriat" id="mestriat">
                        {section name=month loop=$mesos_MS}
                            <option value="{$mesos_MS[month].id}" {if $mesos_MS[month].id eq $selectedmonth}selected{/if}>{$mesos_MS[month].name}</option>
                        {/section}
                    </select>
                    <select name="anytriat" id="anytriat">
                        {section name=year loop=$anys_MS}
                            <option value="{$anys_MS[year].id}" {if $anys_MS[year].id eq $selectedyear}selected{/if}>{$anys_MS[year].name}</option>
                        {/section}
                    </select>
                </td>
            </tr>
            {if not $task}
                <tr>
                    <td align="left">{gt text="Time"}</td>
                    <td align="left">
                        <select name="horatriada" id="horatriada" onchange="treumarca()">
                            {section name=hour loop=$hores_MS}
                                <option value="{$hores_MS[hour].id}" {if $hores_MS[hour].name eq $selectedhour}selected{/if}>{$hores_MS[hour].name}</option>
                            {/section}
                        </select>
                        &nbsp;:&nbsp;
                        <select name="minuttriat" id="minuttriat" onchange="treumarca()">
                            {section name=minute loop=$minuts_MS}
                                <option value="{$minuts_MS[minute].id}" {if $minuts_MS[minute].name eq $selectedminute}selected{/if}>{$minuts_MS[minute].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">{gt text="All day"}</td>
                    <td align="left">
                        <input type="checkbox" name="totdia" id="totdia" value="1" {if $totdia eq 1}checked="checked"{/if} />
                    </td>
                </tr>
                {if $daid > 0} <!-- It's a shared agenda -->
                    <tr>
                        <td align="left">{gt text="Display initially hidden"}</td>
                        <td align="left">
                            <input name="oculta" id="oculta" value="1" type="checkbox" />
                        </td>
                    </tr>
                {/if}
            {else} <!-- It's a task -->
                <tr>
                    <td align="left">{gt text="Priority level"}</td>
                    <td align="left">
                        <select name="nivell" id="nivell">
                            {section name=level loop=$nivells_MS}
                                <option value="{$nivells_MS[level].id}" {if $nivells_MS[level].id eq $nivell}selected{/if}>{$nivells_MS[level].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
            {/if}
            <tr>
                <td align="left">{gt text="Protected? "}</td>
                <td align="left">
                    <input type="checkbox" name="protegida" id="protegida" value="1" {if $protegida}checked="checked"{/if} />
                </td>
            </tr>
            {section name=field loop=$fields}
                <tr>
                    <td align="left" style="vertical-align:middle;">{$fields[field].desc}</td>
                    <td align="left" style="vertical-align:middle;">
                        {if $fields[field].type == 1}<input name="c{$smarty.section.field.iteration}" id="c{$smarty.section.field.iteration}" value="{$fields[field].value}" />{/if}
                        {if $fields[field].type == 2}<textarea name="c{$smarty.section.field.iteration}" id="c{$smarty.section.field.iteration}" rows="6" cols="40">{$fields[field].value}</textarea>{/if}
                        {if $fields[field].type == 3}{$fields[field].value}{/if}
                        {if $fields[field].type == 4}{$fields[field].value}{/if}
                        {if $fields[field].type == 5}
                            <select name="c5" id="c5">
                                {section name=opts loop=$fields[field].opts}
                                    <option value="{$fields[field].opts[opts].id}" {if $fields[field].opts[opts].id == $fields[field].value}selected{/if}>{$fields[field].opts[opts].value}</option>
                                {/section}
                            </select>
                        {/if}
                    </td>
                </tr>
            {/section}
            {if $attachpermitted}
                <tr>
                    <td align="left">{gt text="Attached file"}<br/>{gt text="Allowed extensions - "}&nbsp;{$extensions}</td>
                    <td align="left">
                        {if $file eq ''}
                            <input type="hidden" name="MAX_FILE_SIZE" value="{$midamaxima}" />
                            <input type="file" name="fitxer" id="fitxer" size="32" />
                            <input name="new_file" value="1" type="hidden" />
                        {else}
                            {$file}
                            <input name="fitxer" value="{$file}" type="hidden" />
                            <input name="new_file" value="0" type="hidden" />
                            &nbsp;&nbsp;&nbsp;
                            <input name="sure" type="checkbox" value="1">&nbsp;&nbsp;{gt text="Erase the file attached to the note"}
                        {/if}
                    </td>
                </tr>
            {/if}
            {if isset($quines_MS)}
                <tr>
                    <td align="left">{gt text="Select to modify"}</td>
                    <td align="left">
                        <select name="quines" id="quines">
                            {section name=rep loop=$quines_MS}
                                <option value="{$quines_MS[rep].id}">{$quines_MS[rep].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">{gt text="Warning: change of date does not affect the repeated registers"}</td>
                </tr>
            {/if}
            <tr>
                <td>{gt text="Copy event"}</td>
                <td><input name="copia" id="copia" value="1" type="checkbox" /></td>
            </tr>
        </table>

        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" name="daid" value="{$daid|safetext}" />
        <input type="hidden" name="aid" value="{$aid|safetext}" />
        <input type="hidden" name="tasca" value="{$task|safetext}" />

        <div style="text-align:center; margin:10px; margin-top:30px;">
            <input type="button" onClick="javascript:send()" value="{$acciosubmit|safetext}" />
        </div>
    </form>
</div>
