<script language="javascript">
    <!-- overLIB configuration -->
    ol_fgcolor = "lightyellow";
    ol_bgcolor = "#FFFFFF";
    ol_textcolor = "#000000";
    ol_capcolor = "#e7e7e7";
    ol_closecolor = "#000000";
    ol_textfont = "Verdana,Arial,Helvetica";
    ol_captionfont = "Verdana,Arial,Helvetica";
    ol_captionsize = 2;
    ol_textsize = 2;
    ol_border = 2;
    ol_width = 350;
    ol_offsetx = 10;
    ol_offsety = 10;
    ol_sticky = 0;
    ol_close = "Tanca";
    ol_closeclick = 0;
    ol_autostatus = 2;
    ol_snapx = 0;
    ol_snapy = 0;
    ol_fixx = -1;
    ol_fixy = -1;
    ol_background = "";
    ol_fgbackground = "";
    ol_bgbackground = "";
    ol_padxl = 1;
    ol_padxr = 1;
    ol_padyt = 1;
    ol_padyb = 1;
    ol_capicon = "";
    ol_hauto = 1;
    ol_vauto = 1;
    if (document.getElementById('overDiv')==null) {
        document.writeln('<div id="overDiv" style="position:absolute; top:0px; left:0px; visibility:hidden; z-index:1000;"></div>');
    }
</script>
{userloggedin assign=userid}
<script language="JavaScript" src="modules/IWmain/js/overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
<div id="userCalendarContainer" name="userCalendarContainer">
    <!-- Mostra les opcions, el calendari i el selector d'agenda -->
    <div>{$menu}</div>
    {ajaxheader modname=IWagendas filename=IWagendas.js}
    {if isset($statusmsg) && $statusmsg neq ""}
    <p style="border:1px solid #0f0; background-color:#ffc; padding:10px;">{$statusmsg}</p>
    {/if}
    {if isset($calendar) && $calendar}
    <!-- Calendar view -->
    <div class="opentable1" style="padding: 10px;">
        <table cellpadding="2" cellspacing="1" border="0" width="99%" style="background-color:#{$colors[4]}; border: 2px solid #{$colors[7]}; margin:auto; clear:both;">
            <!-- Month + year -->
            <tr>
                <td colspan="7" style="background:#{$colors[0]}; color:#{$colors[1]}; border:none; padding:5px;">
                    <span style="float: left;">
                        {if $mes eq 1}
                        <a href="javascript:changeMonth(12,{$any-1},{$daid})">{img modname=IWagendas src=mesmenys.gif __alt="Previous month"  __title="Previous month" }</a>
                        {else}
                        <a href="javascript:changeMonth({$mes-1},{$any},{$daid})">{img modname=IWagendas src=mesmenys.gif __alt="Previous month"  __title="Previous month" }</a>
                        {/if}
                        <select name="mes" id="month" onchange="javascript:changeMonth(this.value,{$any},{$daid})">
                            {section name=month loop=$months}
                            <option value="{$months[month].id}" {if $months[month].id eq $mes}selected{/if}>{$months[month].name}</option>
                            {/section}
                        </select>
                        <select name="any" id="year" onchange="javascript:changeMonth({$mes},this.value,{$daid})">
                            {section name=year loop=$years}
                            <option value="{$years[year].id}" {if $years[year].name eq $any}selected{/if}>{$years[year].name}</option>
                            {/section}
                        </select>
                        {if $mes eq 12}
                        <a href="javascript:changeMonth(1,{$any+1},{$daid})">{img modname=IWagendas src=mesmes.gif __alt="Next month"  __title="Next month" }</a>
                        {else}
                        <a href="javascript:changeMonth({$mes+1},{$any},{$daid})">{img modname=IWagendas src=mesmes.gif __alt="Next month"  __title="Next month" }</a>
                        {/if}
                        {if $mes neq $today.month || $any neq $today.year}
                        <a href="javascript:changeMonth({$today.month},{$today.year},{$daid})">{gt text="Today"}</a>
                        {/if}
                    </span>
                    {if $agendas|@count gt 0 && $userid neq ''}
                    <span style="float: right;">
                        <select onchange="javascript:changeMonth({$mes},{$any},this.value);">
                            {foreach item="agenda" from=$agendas}
                            <option {if $daid eq $agenda.daid}selected{/if} value="{$agenda.daid}">{$agenda.nom_agenda}</option>
                            {/foreach}
                        </select>
                    </span>
                    {/if}
                </td>
            </tr>
            <!-- Days of the week -->
            <tr>
                {section name=dia loop=$nom_dia start=1}
                <th style="background:#{$colors[2]}; color:#{$colors[3]}; width:14.27%; border:none; padding:5px;">
                    {$nom_dia[dia]}
                </th>
                {/section}
            </tr>
            <!-- Days of the month with the events and the tasks -->
            <tr>
                {section name=day start=1 loop=$days max=$daysofthemonth}
                {if $smarty.section.day.iteration == 1} {* Puts empty cells *}
                {section name=empty_days loop=$first_day start=1}
                <td style="width:14.27%; text-align:center;">&nbsp;</td>
                {/section}
                {/if}
                {if ($first_day + $smarty.section.day.iteration - 2) is div by 7} {* Change of row *}
            </tr><tr>
                {/if}
                <td valign="top" style="background:#{$days[day].bgcolor}; height:80px;" {$days[day].popup}>
                    <div style="margin:2px;">
                        <a href="{modurl modname='IWagendas' type='user' func='main' mes=$month any=$year daid=$daid dia=$smarty.section.day.index}">
                            <span style="float:left; color:#{$days[day].linkcolor};">{$smarty.section.day.index}</span>
                            {if isset($canAdd) && $canAdd}
                            <a href="{modurl modname='IWagendas' type='user' func='nova' mes=$month any=$year dia=$smarty.section.day.index tasca=0 daid=$gdaid odaid=$daid}">
                                <span style="vertical-align:middle; float: right;">
                                    {img modname='IWagendas' src='add.gif' __alt="Insert a new event"  __title="Insert a new event" }
                                </span>
                            </a>
                            {/if}
                        </a>
                    </div>
                    <div style="clear:both;"></div>
                    {section name=events_day loop=$days[day]}
                    {if isset($days[day][events_day].text) && $days[day][events_day].text neq ''}
                    {include file=IWagendas_user_mainCell.htm events_day=$days[day][events_day]}
                    {/if}
                    {/section}
                </td>
                {/section}
            </tr>
        </table>
    </div>
    {else}
    <!-- list view -->
    <div class="opentable1">
        <table style="width:99%; border:2px solid #{$colors[7]}; clear:both;" cellspacing="0">
            <tr>
                {if isset($dia)}
                <td colspan="4" style="text-align:center;">
                    <a href="{modurl modname='IWagendas' type='user' func='main' mes=$mes any=$any daid=$daid dia=$dia-1}">{img modname='IWagendas' src='mesmenys.gif' __alt="Previous day" __title="Previous day"}</a> {$dayName}, {$dia} {$monthName} {$any} <a href="{modurl modname='IWagendas' type='user' func='main' mes=$mes any=$any daid=$daid dia=$dia+1}">{img modname='IWagendas' src='mesmes.gif'  __alt="Next day" __title="Next day"}</a>
                    {else}
                <td colspan="4">
                    {$message}
                    {/if}
                </td>
            </tr>
            <tr>
                {section name=header loop=$headers}
                <th style="background:#{$colors[2]}; color:#{$colors[3]};">
                    {$headers[header]}
                </th>
                {/section}
            </tr>
            {foreach item=row from=$rows}
            <tr id="note_{$row.aid}">
                {if isset($row.date)}
                <td valign="top" style="padding: 2px; border-bottom:2px solid #DDDDDD; background:#{$row.bgcolor}; color:#{$row.linkcolor}; width: 90px;">
                    <a href="{modurl modname='IWagendas' type='user' func='main' mes=$mes any=$any daid=$daid dia=$row.dia llistat=1}">{$row.date}</a>
                </td>
                {/if}
                <td valign="top" style="padding: 2px; border-bottom:2px solid #DDDDDD; background:#{$row.bgcolor}; color:#{$row.linkcolor}; width: 90px;">
                    <span style="background:#{$row.hourcolor};">{$row.hour}</span>
                    {if isset($row.gCalendar) && $row.gCalendar}&nbsp;<span style="vertical-align:middle;">{img modname='IWagendas' src='gIcon.gif'}</span>{/if}
                    {if $row.modified eq 1 && $daid eq 0 && $row.daid neq 0 && $userid neq ''}
                    <br /><strong>{gt text="Agenda updated"}</strong>
                    {/if}
                    {if $row.deleted eq 1 && $daid eq 0 && $row.daid neq 0 && $userid neq ''}
                    <br /><strong>{gt text="Deleted"}</strong>
                    {/if}
                </td>
                {section name=field loop=$row}
                {if isset($row[field])}
                <td valign="top" style="padding: 2px; border-bottom:2px solid #DDDDDD; background:#{$row.bgcolor}; color:#{$rows[field].linkcolor};">
                    {$row[field]}
                </td>
                {/if}
                {/section}
                {if $userid neq ''}
                <td valign="top" style="padding: 2px; border-bottom:2px solid #DDDDDD; text-align:right; background:#{$row.bgcolor}; color:#{$row.linkcolor}; width: 90px;">
                    {if $row.filename neq ''}
                    <a href="{modurl modname='IWagendas' type='user' func='download' fileName=$row.filename aid=$row.aid}">
                        <img src="modules/IWagendas/images/fitxer.gif" onmouseout="nd();" onmouseover="overlib('<div style=\'padding:5px;\'><img src=modules/IWmain/images/fileIcons/{$row.fileIcon}> {$row.filename}</div>',CAPTION,'<div style=\'padding:5px;\'>{$row.filetitle}</div>',BGCOLOR,'#316ac5',TIMEOUT,100000,DELAY,200,WIDTH,200)" alt=""/>
                    </a>
                    {/if}
                    {$row.images}
                </td>
                {/if}
            </tr>
            {foreachelse}
            <tr>
                <td colspan="10">
                    {$message}
                </td>
            </tr>
            {/foreach}
        </table>
    </div>
    {/if}
    {if $userid neq ''}
    {if $agendas|@count neq 0}
    <fieldset>
        <legend style="padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; color: #0074b0; background-color: inherit;">{gt text="My agendas"}</legend>
        {foreach item="agenda" from=$agendas}
        {if $agenda.newdiv eq 1}
        <div style="float:left; margin-left: 5px; width:180px;">
            {/if}
            <div style="display:block;">
                {if $agenda.daid neq 0}
                <input type="checkbox" onclick="javascript:subs({$mes},{$any},{$agenda.daid});" {if $agenda.subs eq 1}checked="checked"{/if} />
                       <span style="background-color: {$agenda.color};">&nbsp;&nbsp;&nbsp;</span>
                {/if}
                {if $agenda.gCalendar}
                <span style="vertical-align:middle;">{img modname='IWagendas' src='gIcon.gif'}</span>
                {/if}
                <a href="javascript:changeMonth({$mes},{$any},{$agenda.daid})" title="{$agenda.fullName}">
                    <span {if $daid eq $agenda.daid}style="border: 1px solid #000; background-color:lightyellow; padding:0px 10px 0px 2px;"{else}style="padding:1px;"{/if}>{$agenda.nom_agenda}</span>
                </a>
            </div>
            {if $agenda.enddiv eq 1}
        </div>
        {/if}
        {/foreach}
    </fieldset>
    {/if}
    {/if}
    <!-- Show the tasks -->
    {if isset($tasks)}
    <div class="opentable1">
        <h2 style="margin-top:30px;">{$taskstitle}</h2>
        <table style="width:99%; border:2px solid #{$colors[7]};">
            <tr>
                {section name=header loop=$tasksheaders}
                <th>{$tasksheaders[header]}</th>
                {/section}
            </tr>
            {section name=task loop=$tasks}
            <tr style="background:#{$tasks[task].bgcolor}; color:#{$tasks[task].color};">
                <td style="width:10%; text-align:center;">
                    {$tasks[task].nivell}
                </td>
                <td style="width:15%; text-align:center;">
                    {$tasks[task].data}
                </td>
                <td style="width:30%;">
                    {$tasks[task].c1}
                </td>
                <td style="width:35%;">
                    {$tasks[task].c2}
                </td>
                <td style="width:10%; text-align:center;">
                    {$tasks[task].images}
                </td>
            </tr>
            {/section}
        </table>
    </div>
    {/if}
    <div style="height: 10px;">&nbsp;</div>
    <script type="text/javascript">
        var confirmDeletion = "{{gt text='Confirm deletion of the agenda'}}";
    </script>
</div>
