<script type="text/javascript" language="javascript">
    function calcJulian(isDate){
        gregDate = new Date(isDate);
        year = gregDate.getFullYear();
        month = gregDate.getMonth()+1;
        day = gregDate.getDate();
        A = Math.floor((7*(year+Math.floor((month+9)/12)))/4);
        B = day+Math.floor((275*month)/9)
        isJulian = (367*year)-A+B+1721014;
        return isJulian;
    }

    function validate(date1,date2){
        tmp = date1.split("/")
        xDate = tmp[1]+"/"+tmp[0]+"/"+tmp[2];
        refDate = calcJulian(xDate);
        tmp = date2.split("/")
        xDate = tmp[1]+"/"+tmp[0]+"/"+tmp[2];
        fwdDate = calcJulian(xDate);
        if (refDate > fwdDate){
            return false;
        }
        return true;
    }

    function send(){
        f=document.new_nota;
        if(f.c1.value==""){
            alert("{{$msg_no_nota}}");
            var error=true;
        }
        {{if $attachpermitted}}
        if(!error && f.fitxer.value!="" && "{{$extensions}}".indexOf(f.fitxer.value.substring(f.fitxer.value.length-3,f.fitxer.value.length))==-1){
            alert("{{gt text="Extension for attached file "}}"+f.fitxer.value+"{{gt text=" is not allowed. Possible extensions are: "}}{{$extensions}}");
            var error=true;
        }
        {{/if}}

        if (!error && f.diatriat.value==0){
            alert("{{gt text="Incorrect date"}}");
            var error=true;
        }

        if (!error && !checkDate(f.diatriat.value+'/'+f.mestriat.value+'/'+f.anytriat.value)){
            var error=true;
        }

        if(f.gCalendar.value == 1){
            if(!error && !checkDate(f.diatriat1.value+'/'+f.mestriat1.value+'/'+f.anytriat1.value)){
                var error=true;
            }
            if(!error && !validate(f.diatriat.value+'/'+f.mestriat.value+'/'+f.anytriat.value,f.diatriat1.value+'/'+f.mestriat1.value+'/'+f.anytriat1.value)){
                alert("{{gt text="The  finish date has to be main or equal to the start date"}}");
                var error=true;
            }
            if(!error && !f.totdia.checked && (f.horatriada.value > f.horatriada1.value || (f.horatriada.value == f.horatriada1.value && f.minuttriat.value > f.minuttriat1.value)) && f.diatriat.value+'/'+f.mestriat.value+'/'+f.anytriat.value == f.diatriat1.value+'/'+f.mestriat1.value+'/'+f.anytriat1.value){
                alert("{{gt text="Finish time is wrong"}}");
                var error=true;
            }
        }

        if(!error && f.daid.value > 0 && f.gCalendar.value != 1){
            var resp=confirm("{{gt text="You are going to send an event to a shared agenda where there can be subscribed users. Proceed?"}}");
            if(!resp){var error=true;}
        }

        if(!error){f.submit();}
    }

    function treumarca(){
        document.new_nota.totdia.checked=false;
    }

    // Original JavaScript code by Chirp Internet: www.chirp.com.au
    // Please acknowledge use of this code by including this header.
    function checkDate(value) {
        var allowBlank = true;
        var minYear = 2000;
        var maxYear = 3000;
        var errorMsg = "";
        // regular expression to match requiredate format
        re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;
        if(value != '') {
            if(regs = value.match(re)) {
                if(regs[1] < 1 || regs[1] > 31) {
                    errorMsg = "{{gt text="Incorrect date"}} " + value;
                } else if(regs[2] < 1 || regs[2] > 12) {
                    errorMsg = "{{gt text="Incorrect date"}} " + value;
                } else if(regs[3] < minYear || regs[3] > maxYear) {
                    errorMsg = "{{gt text="Incorrect date"}} " + value;
                } else if(regs[1] == 31 && (regs[2] == 2 || regs[2] == 4 || regs[2] == 6 || regs[2] == 9 || regs[2] == 11)) {
                    errorMsg = "{{gt text="Incorrect date"}} " + value;
                } else if(regs[1] > 29 && regs[2] == 2) {
                    errorMsg = "{{gt text="Incorrect date"}} " + value;
                }
            } else {
                errorMsg = "{{gt text="Incorrect date"}} " + value;
            }
        } else if(!allowBlank) {
            errorMsg = "{{gt text="_IWNOTEBOARDDATAINCORRECTE"}}";
        }
        if(errorMsg != "") {
            alert(errorMsg);
            return false;
        }
        return true;
    }
</script>

<div>{$menu}</div>
<div class="usercontainer">
    <div class="userpageicon">{img modname='core' src='filenew.png' set='icons/large'}</div>
    <h2>{$title}</h2>

    <form class="z-form" method="post" enctype="multipart/form-data" name="new_nota" action="{modurl modname='IWagendas' type='user' func='crear'}">
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" name="daid" value="{$daid|safetext}" />
        <input type="hidden" name="odaid" value="{$odaid|safetext}" />
        <input type="hidden" name="tasca" value="{$task|safetext}" />
        <input type="hidden" name="gCalendar" value="{if isset($gCalendar)}{$gCalendar}{else}0{/if}" />

        <fieldset>
            <table border="0" width="99%">
                <tr>
                    <td align="left" width="40%">{$date}</td>
                    <td align="left" width="60%">
                        <select name="diatriat" id="diatriat">
                            {section name=day loop=$dies_MS}
                            <option value="{$dies_MS[day].id}" {if $dies_MS[day].id eq $selectedday}selected{/if}>{$dies_MS[day].name}</option>
                            {/section}
                        </select>
                        <select name="mestriat" id="mestriat">
                            {section name=month loop=$mesos_MS}
                            <option value="{$mesos_MS[month].id}" {if $mesos_MS[month].id eq $selectedmonth}selected{/if}>{$mesos_MS[month].name}</option>
                            {/section}
                        </select>
                        <select name="anytriat" id="anytriat">
                            {section name=year loop=$anys_MS}
                            <option value="{$anys_MS[year].id}" {if $anys_MS[year].id eq $selectedyear}selected{/if}>{$anys_MS[year].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                {if not $task}
                <tr>
                    <td align="left">{gt text="Time"}</td>
                    <td align="left">
                        <select name="horatriada" id="horatriada" onchange="treumarca()">
                            {section name=hour loop=$hores_MS}
                            <option value="{$hores_MS[hour].id}">{$hores_MS[hour].name}</option>
                            {/section}
                        </select>
                        &nbsp;:&nbsp;
                        <select name="minuttriat" id="minuttriat" onchange="treumarca()">
                            {section name=minute loop=$minuts_MS}
                            <option value="{$minuts_MS[minute].id}">{$minuts_MS[minute].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                <!---needed for gCalendar--->
                {if isset($gCalendar) && $gCalendar == 1 && $daid > 0}
                <tr>
                    <td align="left" width="40%">{gt text="Finish date"}&nbsp;<span style="vertical-align:middle;">{img modname='IWagendas' src='gIcon.gif'}</span></td>
                    <td align="left" width="60%">
                        <select name="diatriat1" id="diatriat1">
                            {section name=day loop=$dies_MS}
                            <option value="{$dies_MS[day].id}" {if $dies_MS[day].id eq $selectedday}selected{/if}>{$dies_MS[day].name}</option>
                            {/section}
                        </select>
                        <select name="mestriat1" id="mestriat1">
                            {section name=month loop=$mesos_MS}
                            <option value="{$mesos_MS[month].id}" {if $mesos_MS[month].id eq $selectedmonth}selected{/if}>{$mesos_MS[month].name}</option>
                            {/section}
                        </select>
                        <select name="anytriat1" id="anytriat1">
                            {section name=year loop=$anys_MS}
                            <option value="{$anys_MS[year].id}" {if $anys_MS[year].id eq $selectedyear}selected{/if}>{$anys_MS[year].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">{gt text="Finish time"}&nbsp;<span style="vertical-align:middle;">{img modname='IWagendas' src='gIcon.gif'}</span></td>
                    <td align="left">
                        <select name="horatriada1" id="horatriada1" onchange="treumarca()">
                            {section name=hour loop=$hores_MS}
                            <option value="{$hores_MS[hour].id}">{$hores_MS[hour].name}</option>
                            {/section}
                        </select>
                        &nbsp;:&nbsp;
                        <select name="minuttriat1" id="minuttriat1" onchange="treumarca()">
                            {section name=minute loop=$minuts_MS}
                            <option value="{$minuts_MS[minute].id}">{$minuts_MS[minute].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                {/if}
                <!---end needed for gCalendar--->

                <tr>
                    <td align="left">{gt text="All day"}</td>
                    <td align="left">
                        <input type="checkbox" name="totdia" id="totdia" value="1" checked="checked" />
                    </td>
                </tr>
                {if $daid > 0} <!-- It's a shared agenda -->
                <tr>
                    <td align="left">{gt text="Display initially hidden"}</td>
                    <td align="left">
                        <input name="oculta" id="oculta" value="1" type="checkbox" />
                    </td>
                </tr>
                {/if}
                {else} <!-- It's a task -->
                <tr>
                    <td align="left">{gt text="Priority level"}</td>
                    <td align="left">
                        <select name="nivell" id="nivell">
                            {section name=level loop=$nivells_MS}
                            <option value="{$nivells_MS[level].id}">{$nivells_MS[level].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                {/if}
                <tr>
                    <td align="left">{gt text="Protected? "}</td>
                    <td align="left">
                        <input type="checkbox" name="protegida" id="protegida" value="1" />
                    </td>
                </tr>
                {section name=field loop=$fields}
                {if (isset($fields[field].order) && $fields[field].order != 5 && $fields[field].order != 2) || (isset($gCalendar) && $gCalendar != 1)}
                <tr>
                    <td align="left" style="vertical-align:top;">{$fields[field].desc}</td>
                    <td align="left" style="vertical-align:top;">{$fields[field].value}</td>
                </tr>
                {/if}
                {/section}
                {if $attachpermitted}
                <tr>
                    <td align="left">{gt text="Attached file"}<br/>{gt text="Allowed extensions - "}&nbsp;{$extensions}</td>
                    <td align="left">
                        {if isset($midamaxima)}
                        <input type="hidden" name="MAX_FILE_SIZE" value="{$midamaxima}" />
                        {/if}
                        <input type="file" name="fitxer" id="fitxer" size="32" />
                    </td>
                </tr>
                {/if}
                {if not $task}
                <tr>
                    <td align="left">{gt text="Repeat event"}</td>
                    <td align="left">
                        <select name="repes" id="repes">
                            {section name=rep loop=$repes_MS}
                            <option value="{$repes_MS[rep].id}">{$repes_MS[rep].name}</option>
                            {/section}
                        </select>
                        <input type="text" name="repesdies" id="repesdies" value="" size="3" maxlength="3" />
                    </td>
                </tr>
                <tr>
                    <td align="left">{gt text="up to date"}</td>
                    <td align="left">
                        <select name="diatriatrep" id="diatriatrep">
                            {section name=day loop=$dies_MS}
                            <option value="{$dies_MS[day].id}" {if $dies_MS[day].id eq $selectedday}selected{/if}>{$dies_MS[day].name}</option>
                            {/section}
                        </select>
                        <select name="mestriatrep" id="mestriatrep">
                            {section name=month loop=$mesos_MS}
                            <option value="{$mesos_MS[month].id}" {if $mesos_MS[month].id eq $selectedmonth}selected{/if}>{$mesos_MS[month].name}</option>
                            {/section}
                        </select>
                        <select name="anytriatrep" id="anytriatrep">
                            {section name=year loop=$anys_MS}
                            <option value="{$anys_MS[year].id}" {if $anys_MS[year].id eq $selectedyear}selected{/if}>{$anys_MS[year].name}</option>
                            {/section}
                        </select>
                    </td>
                </tr>
                {/if}
            </table>
        </fieldset>

        <div class="z-buttons z-formbuttons formOptions">
            <a href="javascript:send()">
                {img modname='core' src='button_ok.png' set='icons/small'   __alt="Create" __title="Create"}{$acciosubmit}
            </a>
            <a href="{modurl modname='IWagendas' type='user' func='main' daid=$odaid}">
                {img modname='core' src='button_cancel.png' set='icons/small'   __alt="Cancel" __title="Cancel"}{gt text='Cancel'}
            </a>
        </div>
    </form>
</div>
