
<div>{$menu}</div>

<div class="opentable1">
    <h2>{gt text="Automatic subscription"}</h2>
    <fieldset style="margin:15px;">
        <legend style="padding-left:5px; padding-right:5px;">{gt text="Users already subscribed:"}</legend>
        <div style="margin:10px;">
            {if $subscribedusersvalue|@count > 0}
                {section name=user loop=$subscribedusersvalue}
                    {$subscribedusersvalue[user]}<br />
                {/section}
            {else}
                {gt text="No users found"}
            {/if}
        </div>
    </fieldset>
    <form name="subs" method="post" action="{modurl modname='IWagendas' type='user' func='subscriuauto'}">
        <fieldset style="margin:15px;">
            <legend style="padding-left:5px; padding-right:5px;">{gt text="Users to be subscribed to the agenda:"}</legend>
            <div style="margin:10px;">
            {if $to_subscribe|@count eq 0}
                {gt text="No users found"}
            {else}
                {section name=users loop=$to_subscribe}
                    <div>
                        <input name="tenenacces[]" value="{$to_subscribe[users].uid}" type="hidden" />
                        {$to_subscribe[users].name}
                    </div>
                {/section}
            {/if}
            </div>
        </fieldset>
        <fieldset style="margin:15px;">
            <legend style="padding-left:5px; padding-right:5px;">{gt text="Users unsubscribed voluntarily:"}</legend>
            <div style="margin:10px;">
                {if $force_subscription|@count > 0}
                    <p>{gt text="To subscribe unconditionaly, mark them and click the button"}</p>
                    {section name=users_subs loop=$force_subscription}
                        <div>
                            <input name="uid[]" id="{$force_subscription[users_subs].uid}" value="{$force_subscription[users_subs].uid}" checked="checked" type="checkbox">
                            <label for="{$force_subscription[users_subs].uid}">{$force_subscription[users_subs].name}</label>
                        </div>
                    {/section}
                {else}
                    {gt text="No users found"}
                {/if}
            </div>
        </fieldset>
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input name="daid" value="{$daid|safetext}" type="hidden" />
        <input name="mes" value="{$mes|safetext}" type="hidden" />
        <input name="any" value="{$any|safetext}" type="hidden" />
        <input name="dia" value="{$dia|safetext}" type="hidden" />
        <div style="text-align:center; margin:15px;">
            <input value="{$submitvalue|safetext}" type="submit" />
        </div>
    </form>
</div>
