f[[setting:importcss]]

@font-face {
    font-family: Abecedario;
    src: url('[[url]]/theme/xtec2/fonts/Abecedario.ttf');
}

@font-face {
    font-family: Abecedario;
    src: url('[[url]]/theme/xtec2/fonts/AbecedarioNegrita.ttf');
    font-weight: bold;
}

body{
	padding-top: 41px;
	font-size: [[setting:fontsize]];
    [[setting:fontstyle]]
}


h2,h3,h4{
	color: [[setting:color4]];
}

.span0{
	display: none !important;
}

.navbar .brand{
	padding: 6px 20px;
}

.navbar .mainbrand{
	line-height: 28px;
}

.navbar .brand.xtec{
	padding-right: 40px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	border-bottom: 2px solid [[setting:color2]]; /* Color*/
}

#title-header{
    position: relative;
	height: 93px;
	color: white;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	padding: 0  20px;
}

#logo-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url([[setting:logo]]);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: white;
    z-index: -1;
}

#logo-top:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: [[setting:logo_color]];
}

#title-header h1 {
	margin-top: 26px;
	float: left;
}

#title-header h1 a {
	color: white;
	text-decoration: none;
}

#title-header h2 {
	margin-top: 28px;
	margin-left: 15px;
	float: left;
	color: #fff;
}

.block{
	padding-top: 0px;
}

.block.no-header{
	padding-top: 8px;
}

.block .header h2{
	color: [[setting:color3]];
	text-shadow: 0 1px 0 [[setting:color3a]];
}

.block .header a {
	color: [[setting:color3]];
}

.block .header{
	color: [[setting:color3]];
	padding: 8px 0;
	background-color: [[setting:color2]]; /* Color*/
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

#page-navbar{
	margin: 0 0 8px 0;
}

#main_navigation{
	background-color: [[setting:color2]]; /* Color*/
	color: [[setting:color3]];
	height: auto;
}

#main_navigation .nav{
	padding: 8px 15px;
	margin: 0;
	list-style: none;
	background-color: transparent;
	color: [[setting:color3]];
	min-height: 20px;
}

#main_navigation .nav>li>a{
	background-color: transparent;
	color: [[setting:color3]];
}

#main_navigation .nav>li {
	float: left;
	line-height: 20px;
	padding: 0 10px;
	border-right: 1px solid [[setting:color3]];
}

#main_navigation .nav>li:last-child{
	border-right: 0;
}

.dropdown-menu{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    color: [[setting:color3]];
    background-color: [[setting:color2]];
    background-image: none;
}

#main_navigation .nav .dropdown-toggle .caret {
	border-top-color: [[setting:color3]];
	border-bottom-color: [[setting:color3]];
}

#main_menu{
	margin-right: 20px;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	min-width: 100%;
}

.dropdown-submenu.pull-left {
    min-width: 260px;
}

#main_menu .navbar-search{
	margin-left: 15px;
}

.agora_navbar{
	text-align: right;
}
.agora_navbar img{
	margin-right: 5px;
	vertical-align: top;
}

a {
	color: [[setting:color5]]; /* Color*/
}

#page-footer{
    border-top: 0;
    padding: 0;
}
#page-footer-top{
	background-color: [[setting:color2]]; /* Color*/
	color: [[setting:color3]];
    padding: 1em;
    text-align: center;
}

@media (min-width: 767px){
	#page-footer-top .social-icons{
		text-align: left;
	}
}

#page-footer-top .social-icons img,
#page-footer-top .social-icons i{
	margin-left: 3px;
	margin-bottom: 3px;
	height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 20px;
}

#page-footer-top .social-icons .nodes img{
	background-color: #1b393a;
}

#page-footer-top .social-icons .intranet img{
	background-color: #739cce;
}

#page-footer-top .social-icons  i.fa-facebook{
	background-color: #3b5998;
}

#page-footer-top .social-icons i.fa-twitter{
	background-color: #55acee;
}

#page-footer-top .social-icons i.fa-google-plus{
	background-color: #d34836;
}

#page-footer-top .social-icons i.fa-pinterest{
	background-color: #cb2027;
}

#page-footer-top .social-icons i.fa-instagram{
	background-color: #517fa4;
}

#page-footer-top .social-icons i.fa-flickr{
	background-color: #ff0084;
}

#page-footer-top .social-icons i.fa-youtube{
	background-color: #cd201f;
}

#page-footer-top .social-icons i.fa-linkedin{
	background-color: #007bb6;
}


#page-footer-top a{
	color: [[setting:color3]];
	text-decoration: underline;
}

#page-footer-top a.btn, #page-footer-top .dropdown-menu a{
	color: #333;
	text-decoration: none;
}
#page-footer-top .dropdown-menu>li>a:hover{
	color: white;
}


#page-footer-top a:hover{
	text-decoration: none;
}

.footerlogos{
	text-align: center;
	margin: 8px 0;
}

#page{
    padding: 8px 20px;
}

@media (max-width: 979px){
	body{
		padding-top: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
        color: white;
    }
}

@media (max-width: 767px){
    #page{
        padding: 8px 0 0 0;
    }
    #page-footer{
        margin-left: -20px;
        margin-right: -20px;
    }
}

.logininfo img{
	margin-right: 5px;
}

.img-circle.userpic {
	border: 1px solid #DDD;
}

#message_notifier{
	margin-right: 20px;
	margin-top: 2px;
}

#message_notifier #message_contents>li:hover, #message_notifier #message_contents>li:hover .time{
    color: [[setting:color3]];
    background-color: [[setting:color2]];
}


.course-content .current {
	background-color: #f5f5f5;
}

#newmessageoverlay{
    display: none;
}

/* Animations */
.block .content {
	transition: all 0.5s ease;
	visibility: visible;
	opacity: 1;
	max-height: 200000px;
}

.jsenabled .block.hidden .content {
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	display: block;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus,
.nav-tabs>.ui-state-active>a, .nav-tabs>.ui-state-active>a:hover, .nav-tabs>.ui-state-active>a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

#showhideblocks, #showhideblocks i {
    height: 36px;
    width: 36px;
    cursor: pointer;
    text-align: center;
}

#showhideblocks:before{
	display: inline-block;
	font: normal normal normal 24px/1 FontAwesome;
	text-rendering: auto;
	line-height: 36px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#showhideblocks.expanded:before{
    content:"\f066";
}
#showhideblocks.collapsed:before{
    content:"\f065";
}


input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input {
	color: [[setting:color3]];
	background-color: [[setting:color2]];
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
	background-image: -webkit-gradient(linear,0 0,0 150%,from(rgba(255,255,255,0.2)),to(rgba(0,0,0,0.2)));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.2),rgba(0,0,0,0.2));
	border-color: [[setting:color2]];
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='[[setting:color2]]',endColorstr='[[setting:color2]]',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input[type="submit"].active, td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, .path-admin .buttons input[type="submit"].disabled, td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled]{
	color: [[setting:color3]];
	background-color: [[setting:color2]];
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

.block .minicalendar {
	max-width: none;
}

.block .minicalendar .calendar-controls{
	text-transform: uppercase;
	height: 2em;
	line-height: 2em;
}
/*
.block .minicalendar tr.weekdays{
	color: [[setting:color3]];
    background-color: [[setting:color2]];
    box-shadow:inset -3px -3px 10px 0 #e0e0e0;
}

.block .minicalendar td.day, .block .minicalendar td.dayblank{
	box-shadow:inset -3px -3px 10px 0 #e0e0e0;
	background-color: #f5f5f5;
}

.block .minicalendar td.today{
	background-color: [[setting:color5]];
	box-shadow:inset 3px 3px 10px 0 #666;
}

.block .minicalendar td.today>a{
	color: white;
}*/


/*Fonts Awesome */
i.fa{
	text-align: center;
	display: inline-block;
	vertical-align:middle;
    background-image: none;
}

i.fa.icon {
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	padding-right: 6px;
	vertical-align: text-bottom;
}

i.fa.iconsmall {
	padding: .3em;
	margin: 0;
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	margin-right: 3px;
	vertical-align: middle;
}
.block .header .commands i.fa.actionmenu {
	width: auto;
}
.block_settings .block_tree li.item_with_icon > p i.fa,
.block_navigation .block_tree li.item_with_icon > p i.fa {
	color: #999;
	vertical-align: middle;
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	line-height: 20px;
	font-size: 16px;
}
.moodle-actionmenu[data-enhanced].show .menu .iconsmall {
	margin: 4px 4px 4px -24px;
}
.section .moodle-actionmenu[data-enhanced] .menu i.fa {
	width: 12px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
}
.moodle-actionmenu[data-enhanced].show .menu i.fa {
	vertical-align: middle;
}

.section .moodle-actionmenu i.fa.iconsmall {
	line-height: 16px;
	font-size: 16px;
	vertical-align: middle;
}

#message_notif_click i.fa{
	padding: 4px;
	font-size: 24px;
}

.block_settings .block_tree li.item_with_icon > p i.fa-circle,
.block_navigation .block_tree li.item_with_icon > p i.fa-circle{
	font-size: 0.7em;
}
/*
.block_navigation .block_tree .tree_item.branch.navigation_node:before,
.block_settings .block_tree .tree_item.branch.navigation_node:before{
	content: "";
}


.block_navigation .block_tree .tree_item.branch:before,
.block_settings .block_tree .tree_item.branch:before{
	color: #999;
	display: inline-block;
	font: normal normal normal 20px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0d7";
	width: 18px;
	padding-right: 3px;
}

.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch:before,
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch:before{
	content: "\f0da";
}

.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch,
.block_navigation .block_tree .tree_item.branch,
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch,
.block_settings .block_tree .tree_item.branch{
	background-image: none;
	padding-left: 0;
}
*/
.coursebox>.info>.coursename a{
	background-image: none;
	padding-left: 0;
}

.coursebox>.info>.coursename a:before {
	padding-right: 3px;
	display: inline-block;
	font: normal normal normal 24px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f19d";
}

.langmenu .dropdown-toggle:before{
	padding-right: 4px;
	display: inline-block;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0ac";
}

/* Block icons */
.block .header .title h2:before{
    font-family:FontAwesome;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color:[[setting:color3]];
    margin-left:.3em;
    margin-right:.5em;
    font-weight: normal;
}
.block_login .username label:before{
    content:"\f007";
    font-family:FontAwesome;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin-right:5px;
}
.block_login .password label:before{
    content:"\f084";
    font-family:FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin-right:5px;
}
.block_news_items .header .title h2:before{
    content:"\f0a1";
}
.block_navigation .header .title h2:before{
    content:"\f0e8";
}
.block_calendar_upcoming .header .title h2:before,.block_calendar_month .header .title h2:before{
    content:"\f073";
}
.block_course_list .header .title h2:before{
    content:"\f108";
}
.block_completionstatus .header .title h2:before,.block_selfcompletion .header .title h2:before{
    content:"\f0e4";
}
.block_blog_menu .header .title h2:before{
    content:"\f02d";
}
.block_quiz_results .header .title h2:before{
    content:"\f080";
}
.block_quiz_navblock .header .title h2:before{
    content:"\f126";
}
.block_glossary_random .header .title h2:before{
    content:"\f0eb";
}
.block_book_toc .header .title h2:before{
    content:"\f02d";
}
.block_participants .header .title h2:before,.block_online_users .header .title h2:before{
    content:"\f0c0";
}
.block_html .header .title h2:before{
    content:"\f022";
}
.block_section_links .header .title h2:before{
    content:"\f02e";
}
.block_activity_modules .header .title h2:before{
    content:"\f12e";
}
.block_comments .header .title h2:before{
    content:"\f075";
}
.block_settings .header .title h2:before{
    content:"\f0ad";
}
.block_admin_bookmarks .header .title h2:before{
    content:"\f02e";
}
.block_blog_tags .header .title h2:before,.block_tags .header .title h2:before{
    content:"\f02c";
}
.block_private_files .header .title h2:before{
    content:"\f114";
}
.block_block_mentees .header .title h2:before{
    content:"\f0c0";
}
.block_messages .header .title h2:before{
    content:"\f0e0";
}
.block_community .header .title h2:before{
    content:"\f0ac";
}
.block_recent_activity .header .title h2:before{
	content:"\f017";
}
.block_search_forums .header .title h2:before{
    content:"\f0e6";
}
.block_myprofile .header .title h2:before{
    content:"\f007";
}
.block_adminblock .header .title h2:before{
    content:"\f009";
}
.block_feedback .header .title h2:before{
    content:"\f087";
}
.block_flickr .header .title h2:before{
    content:"\f03e";
}
.block_youtube .header .title h2:before{
    content:"\f145";
}
.block_course_badges .header .title h2:before{
    content:"\f091";
}
.block_twitter_search .header .title h2:before{
    content:"\f099";
}
.block_my_books .header .title h2:before{
    content:"\f02d";
}
.block_advices .header .title h2:before{
    content:"\f0a1";
}
.block_site_main_menu .header .title h2:before{
    content:"\f0c9";
}
.block_rss_client .header .title h2:before{
    content:"\f09e";
}
.block_login .header .title h2:before{
    content:"\f090";
}
.block_badges .header .title h2:before{
    content:"\f091";
}
.block_rgrade .header .title h2:before{
    content:"\f0ce";
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
