

/*Fonts Awesome */
i.fa{
	text-align: center;
	display: inline-block;
	vertical-align:middle;
    background-image: none;
    width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	vertical-align: text-bottom;
	color: #999;
}

i.fa.icon {
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	padding-right: 6px;
	vertical-align: text-bottom;
}

i.fa.iconsmall {
	padding: .3em;
	margin: 0;
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	vertical-align: middle;
}

i.fa.iconlarge {
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
}

.action-icon i.fa.smallicon {
	margin: 0 .3em;
	vertical-align: text-bottom;
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
}

i.fa.icon-pre, .dir-rtl i.fa.icon-post {
	padding-right: 3px;
	padding-left: 0;
	color: [[setting:color3]];
}

.gradestable th i.fa.sorticon {
	margin-left: .3em;
}

.gradestable th i.fa {
	vertical-align: text-bottom;
	padding-bottom: 0;
}

.block .header .commands i.fa.actionmenu {
	width: auto;
}
.block_settings .block_tree li.item_with_icon > p i.fa,
.block_navigation .block_tree li.item_with_icon > p i.fa {
	vertical-align: middle;
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	line-height: 20px;
	font-size: 16px;
}

.moodle-actionmenu[data-enhanced].show .menu .iconsmall {
	margin: 4px 4px 4px -24px;
}

.moodle-actionmenu[data-enhanced].show .menu i.fa {
	width: 12px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	vertical-align: middle;
}


.section .summary i.fa.iconsmall,
.section .activity i.fa.iconsmall,
.section .moodle-actionmenu i.fa.iconsmall {
	vertical-align: text-bottom;
	line-height: 16px;
	font-size: 16px;
}

#message_notif_click i.fa{
	padding: 4px;
	font-size: 24px;
}

.block_settings .block_tree li.item_with_icon > p i.fa-circle,
.block_navigation .block_tree li.item_with_icon > p i.fa-circle{
	font-size: 0.7em;
}
/*
.block_navigation .block_tree .tree_item.branch.navigation_node:before,
.block_settings .block_tree .tree_item.branch.navigation_node:before{
	content: "";
}


.block_navigation .block_tree .tree_item.branch:before,
.block_settings .block_tree .tree_item.branch:before{
	display: inline-block;
	font: normal normal normal 20px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0d7";
	width: 18px;
	padding-right: 3px;
}

.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch:before,
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch:before{
	content: "\f0da";
}

.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch,
.block_navigation .block_tree .tree_item.branch,
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch,
.block_settings .block_tree .tree_item.branch{
	background-image: none;
	padding-left: 0;
}
*/
.coursebox>.info>.coursename a{
	background-image: none;
	padding-left: 0;
}

.coursebox>.info>.coursename a:before {
	padding-right: 3px;
	display: inline-block;
	font-family: fontawesome;
	font-weight: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f19d";
}

.langmenu .dropdown-toggle:before{
	padding-right: 4px;
	display: inline-block;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0ac";
}

.coursebox .enrolmenticons i.fa, .coursebox .moreinfo i.fa {
	margin: 0 .2em;
}

.block_site_main_menu li .buttons a i.fa{
	vertical-align: text-bottom;
}

#course-category-listings .item-actions i.fa{
	height: 12px;
	padding: 0;
	margin: 0 4px;
	vertical-align: inherit;
}

/* Block icons */
.block .header .title h2:before{
    font-family:FontAwesome;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color:[[setting:color3]];
    margin-left:.3em;
    margin-right:.5em;
    font-weight: normal;
}
.block_login .username label:before{
    content:"\f007";
    font-family:FontAwesome;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin-right:5px;
}
.block_login .password label:before{
    content:"\f084";
    font-family:FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin-right:5px;
}
.block_news_items .header .title h2:before{
    content:"\f0a1";
}
.block_navigation .header .title h2:before{
    content:"\f0e8";
}
.block_calendar_upcoming .header .title h2:before,.block_calendar_month .header .title h2:before{
    content:"\f073";
}
.block_course_list .header .title h2:before{
    content:"\f108";
}
.block_completionstatus .header .title h2:before,.block_selfcompletion .header .title h2:before{
    content:"\f0e4";
}
.block_blog_menu .header .title h2:before{
    content:"\f02d";
}
.block_quiz_results .header .title h2:before{
    content:"\f080";
}
.block_quiz_navblock .header .title h2:before{
    content:"\f126";
}
.block_glossary_random .header .title h2:before{
    content:"\f0eb";
}
.block_book_toc .header .title h2:before{
    content:"\f02d";
}
.block_participants .header .title h2:before,.block_online_users .header .title h2:before{
    content:"\f0c0";
}
.block_html .header .title h2:before{
    content:"\f022";
}
.block_section_links .header .title h2:before{
    content:"\f02e";
}
.block_activity_modules .header .title h2:before{
    content:"\f12e";
}
.block_comments .header .title h2:before{
    content:"\f075";
}
.block_settings .header .title h2:before{
    content:"\f0ad";
}
.block_admin_bookmarks .header .title h2:before{
    content:"\f02e";
}
.block_blog_tags .header .title h2:before,.block_tags .header .title h2:before{
    content:"\f02c";
}
.block_private_files .header .title h2:before{
    content:"\f114";
}
.block_block_mentees .header .title h2:before{
    content:"\f0c0";
}
.block_messages .header .title h2:before{
    content:"\f0e0";
}
.block_community .header .title h2:before{
    content:"\f0ac";
}
.block_recent_activity .header .title h2:before{
	content:"\f017";
}
.block_search_forums .header .title h2:before{
    content:"\f0e6";
}
.block_myprofile .header .title h2:before{
    content:"\f007";
}
.block_adminblock .header .title h2:before{
    content:"\f009";
}
.block_feedback .header .title h2:before{
    content:"\f087";
}
.block_flickr .header .title h2:before{
    content:"\f03e";
}
.block_youtube .header .title h2:before{
    content:"\f145";
}
.block_course_badges .header .title h2:before{
    content:"\f091";
}
.block_twitter_search .header .title h2:before{
    content:"\f099";
}
.block_my_books .header .title h2:before{
    content:"\f02d";
}
.block_advices .header .title h2:before{
    content:"\f0a1";
}
.block_site_main_menu .header .title h2:before{
    content:"\f0c9";
}
.block_rss_client .header .title h2:before{
    content:"\f09e";
}
.block_login .header .title h2:before{
    content:"\f090";
}
.block_badges .header .title h2:before{
    content:"\f091";
}
.block_rgrade .header .title h2:before{
    content:"\f0ce";
}