[[setting:importcss]]

@font-face {
    font-family: Abecedario;
    src: url('xtec2/fonts/Abecedario.ttf');
}

@font-face {
    font-family: Abecedario;
    src: url('xtec2/fonts/AbecedarioNegrita.ttf');
    font-weight: bold;
}

body {
    /*   background-color: #FAFAFA;*/
    background-color: #FFF;
    padding-bottom: 15px;
    margin-bottom: 0px;
    color:#555555;
    font-size: [[setting:fontsize]];
    [[setting:fontstyle]]
}

h2 {
    font-size: 1.8em;
}

a {
    color: [[setting:color5]];
}

a:hover {
    color: [[setting:color2]];
}

fieldset {
    border-color: #ddd!important;
}

legend {
    padding: 0px 5px 0px 5px;
    font-size: 1.2em;
}

 input[type="button"], input[type="submit"], input[type="reset"], button {
  /* background-image: url([[pix:theme|theme/button]]);*/
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-width: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    background-color: [[setting:color2]];
    color: [[setting:color3]];
    border-color: [[setting:color2]];
	cursor:pointer;
}

/*button.fp-upload-btn, button.fp-login-popup-but, button.fp-select-confirm, button.fp-select-cancel, button.fp-msg-butok {
    color:[[setting:color3]]!important;
}*/

button {
    color:[[setting:color3]]!important;
}

table {
    border: 1px solid #ddd;
}

tr, 
th, 
td { 
    border: none !important; 
}

th {
    color: #fff;
    background-color: [[setting:color2]];
    font-weight: bold;
}

.box {
    font-size: 1.1em;
    padding: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.generalbox {
    margin-top: 10px;
    /*background-image: url([[pix:theme|theme/borderbottom]]);*/
    background-position: bottom;
    background-repeat: repeat-x;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*  box-shadow: 3px 3px 3px #bbb;*/
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    /*  -moz-box-shadow: 3px 3px 3px #bbb;*/
    border-color: #ddd;
}

/* Fix for courses with incorrect usage of h2 */
.generalbox h2 {
    font-size: 1.1em;
}

.mform {
    margin: auto;
    margin-top: 20px;
    width: 75%;
}

#page-header {
    height: 139px;
    background-image: url([[setting:logourl]]);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.headermain {
    color: [[setting:color3]];
    margin-top: 26px;
    text-shadow: 1px 1px 5px #6B0F07;
}

.headermenu {
    height: 34px;
    width: 100%;
    padding-top: 10px;
    clear: both; 
    margin: 0px;
    border-bottom: 2px solid #ad2114;
    text-align: left;
}

.headermenu .logininfo a:hover {
    text-decoration: none;
}

.headermenu .logininfo {
    font-size: 1.1em;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    color: #555555;
}

.headermenu .logininfo a {
    color: #AD2114;
}

.langmenu {
    font-size: 1.1em;
    margin-right: 20px;
    float:right;
}

.toplogo{
    margin-left: 10px;
    float: left;
}

.navbar {
    color: [[setting:color3]];
	height: 30px;
    padding-top: 5px;
	padding-bottom:5px;
}

.navbutton {
    padding-top: 4px;
    padding-right: 10px;
}

.breadcrumb {
    color: [[setting:color5]];
    padding: 7px 10px 10px 10px ;
	font-size: 90%;
}

.arrow {
    color:#686868;
}

h2.main {
    text-align: left;
    margin-bottom: 0px;
    border-bottom:1px solid #ddd;
}

.notifysuccess,
.continuebutton,
.buttons,
.centeredbutton {
    text-align: center;
}

.justifytext {
    text-align: justify;
}

.filepicker-filelist,
.filemanager-container {
    margin-top: 10px !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.initialbar {
    text-align: left;
	margin-bottom:5px;
}

#custommenu {
    color: [[setting:color5]];
    background-color: #eee;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
	border-bottom:1px solid #ddd;
}

#custommenu a {
    color: [[setting:color5]];
}

#custommenu a:hover {
    color: [[setting:color2]];
}

.custom_menu_submenu, 
.yui3-menu, 
.first-of-type, 
.yui3-menuitem-active {
    /*background-color: #ddd;*/
    font-weight: bold;
}

.yui3-menu-label,
.yui3-menu-content {
    border: none !important;
}


li a.yui3-menu-label {
    
     padding-bottom: 5px ! important;
     padding-top: 5px ! important;
	 /*background: url(../theme/xtec2/pix/theme/ralla_menu.png) no-repeat right!important; */
}

ul li a.yui3-menuitem-content {  
     padding-bottom: 5px ! important;
     padding-top: 5px ! important;
}


.yui3-menu-content{margin:0px!important; padding:0px!important; }


#custommenu a:hover{color: [[setting:color3]]!important; background-color: [[setting:color2]]!important;}
#custommenu a:active{color: [[setting:color3]]!important; background-color: [[setting:color2]]!important;}


/* Courses */

.weeks .section,
.weeks #section-0,
.topics .section,
.topics #section-0 {
    margin: 0px;
    padding: 0px;
}

.course-content a,
.unlist a {
    text-decoration: none;
}

.outline {
    margin-bottom: 0px !important;
}

.coursebox {
    padding-left: 15px;
    padding-right: 5px;
}

.course-content .section .right {
    padding-top: 15px;
    padding-bottom: 35px;
}

.course-content .section .left,
.weeks .section,
.topics .section {
    background-position: bottom;
    background-repeat: repeat-x;
    padding-top: 5px;
    padding-bottom: 25px;
    border: none;
}

.topics li.section {
    margin: 0px !important;
}

.course-content .section .left {
    font-size: 3em;
    font-weight: bold;
    /* width: 80px !important;*/
}

.section.main.clearfix {border-bottom:1px solid #DDDDDD; }
.section.main.clearfix.current { border: 3px solid [[setting:color1]];}

.topics .current {
    border: 3px solid [[setting:color1]];
    background-color: #fff;
}

.topics .current .left {
    color: [[setting:color2]];
}

.weeks .section .section,
.topics .section .section {
    background-image: none;
}

.weeks #section-0,
.topics #section-0 {
    background-color: #fff;    
}

.weeks #section-0 .left,
.topics #section-0 .left {
    background: none;
}

.weeks li.section {
    margin-top:0px!important;
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom:1px solid #eee;
}

.topics .content,
.weeks .content,
.weeks .side {
    padding: 20px 0px 35px 50px;
}

.weeks-format #left-column {
    padding: 1px;
}
.weeks-format #left-column .block {
    padding-left: 3px;
}

.weeks-format #right-column {
    padding-right: 7px;
}

.coursebox {
    width: auto;
    border: 0px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.boxwidthwide {
    width: inherit;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    /*  -moz-box-shadow: 3px 3px 3px #bbb;
      box-shadow: 3px 3px 3px #bbb;*/
}

.course-content .section .left {
    min-width:40px;

}

.section .left {

    color: #ccc ;
}


.section li {
    margin-bottom:5px!important;
}

.current .left { color: [[setting:color3]];
}



#page-footer a {
    text-decoration: none;
}

#page-footer {
    border-top: 1px dotted #B3B3B3;
    padding-top:10px;
}

.footerlogos {
    text-align: center;
    margin-top: 10px;
}

.section-title a{text-decoration:underline;}


/* Modules: Forum */

.forumaddnew {
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 10px;
    border: 1px solid #ddd;
}

.forumnodiscuss {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.fcontainer textarea {
    width: 100%;
}

.forumheaderlist,
.forumpost {
    border: 1px solid #ddd;
    margin: auto;
	border-top: 0px;
}



div.forumheaderlist:last-of-type, div.forumpost:last-of-type {
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
	border: 1px solid #ddd;
    margin: auto;
   	border-top: 0px;
	}


div.content div.coursebox:only-of-type{border-bottom:white solid 0px!important;}


.generalbox{ background-image:none!important; background-color:#fff;}


.subscribelink {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #DDDDDD;
    padding:10px;
}

.hidden .header{  -moz-border-radius: 5px; border-radius: 5px;}

.link{ padding:5px; }

.forumpost .content {
    padding: 0px 10px 10px 10px;
}

.discussioncontrol .singleselect,
.discussioncontrol .movediscussionoption {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 98%;
    margin-left: 10px;
}

.forumpost .userpicture {
    padding: 10px;
}

.forumpost .author {
    padding: 0px 10px 0px 15px;
}

.forumpost .commands {
    padding: 10px;
    background-position: bottom;
    background-repeat: repeat-x;
}

.forumpost .subject{
    padding: 15px 10px 0px 15px;
    font-weight: bold;
}

.forumpost .maincontent {
    padding-top: 10px;
    background-color: #fff;
}


.adminwarning {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
}

.copyright {
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.initialbar a{margin-left:5px; }

.capsula-footer { 
    display: block;
    overflow: auto;
    width: 100%;
    bottom: 0;
    clear: both;
}


html, body {
    margin: 0; padding: 0;
    height: 100%;
}

#page {
    margin: 0; padding: 0;
    min-height: 100%; _height: 100%; /* min-height for smart browsers
                                     _height for Internet Explorer ;-)*/
}

#content {
    padding-bottom: 105px;
}

.foot {
    clear: both;
    height: 100px;
    margin-top: -100px;
    position: relative;
    z-index: 10;

}
.summary {
    padding-top: 15px!important;
    padding-right: 15px!important;

}

.forgetpass{ margin-top:0px; margin-bottom:10px}
.rememberpass{margin-top:15px;}

li.yui3-menuitem:hover{
    background-color:#aaa!important;
}

.yui3-skin-sam .yui3-menu-label-active, .yui3-skin-sam .yui3-menu-label-menuvisible, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-active, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {
    background-color: #eeeeee!important;
}

.yui3-skin-sam .yui3-menuitem-active .yui3-menuitem-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {
    background-color: #eeeeee!important;
    background-image: none;
    border-left-width: 0px;
    margin-left: 0px;
}

#custommenu ul li ul li a{ padding-right:20px!important; border-bottom:1px solid #DDDDDD!important;}

#custommenu ul li a{ border-right:1px solid #DDD!important;}


.first-of-type ul li:first-of-type{border-top:1px solid #DDDDDD!important;}

tbody th {
    color: #555555;
    background-color:#FFF!important;
    font-weight: bold;
}

tbody tr {

    border-bottom:1px solid #DDDDDD!important;
}

tr.header{ background-color:#DDDDDD!important;}


tbody th {
    color: #555555;
    background-color:#FFF!important;
    font-weight: bold;

}

tbody tr {

    border-bottom:1px solid #DDDDDD!important;
}

tr.header { background-color:#DDDDDD!important;}

.rolecap { width:95%;}

.capabilitysearchui { margin-top:20px; margin-bottom:20px;}

.advancedbutton {margin-left:20px}

.coursebox {

    border-bottom:1px solid #DDDDDD!important;
}

/*.coursebox:only-child {

    border-bottom:0px solid #DDDDDD!important;
}*/


/*.tabtree li{ border-width:1px 1px 0 1px; border-style:solid; border-color:#DDD!important; padding:6px; margin-right:4px;
background-image: url("/agora-moodle/ins-llebeig/moodle/theme/image.php?theme=xtec2&component=theme&image=theme%2Fborderbottom");
    background-position: center bottom;
    background-repeat: repeat-x;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DDDDDD;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DDDDDD;
    border-top-color: #DDDDDD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px; background-color:#EDEDED;

}



.tabtree ul{ border-bottom:1px solid #ddd;}

.tabtree li.selected{ background-image:none!important; background-color:#fff; padding-top:10px;} 

.tabtree li:hover{ padding-top:10px;} */




#page-mod-quiz-edit .questionbankwindow div.header {
      background-color: [[setting:color2]]!important;
    color: [[setting:color3]]!important;
}

#page-mod-quiz-edit div.questionbank {
    background-color: #EEEEEE!important;
}

#page-mod-quiz-edit div.quizpage .pagecontent {
    background-color: #ffffff;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #777777;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: thin;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    display: block;
    float: left;
    line-height: 1.3em;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.15em;
    position: relative;
    width: 88%;
}


#page-content #region-main ul.weeks, #page-content #region-main ul.unlist, #page-content #region-main ul.topics {
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border: 1px solid #DDDDDD;
     margin: 0px;
}


/*#page-content #region-main a{ text-decoration:underline!important; }*/




/*TAB*/


.tabtree ul {
	text-align: center;
}

.tabtree .tabrow0 {
	width: 100%;
	margin: 1em 0px;
}

.tabtree .tabrow0 li {
	margin-right: -4px;
}

.tabtree .tabrow0 li.here {
	font-weight: bold;
}

.tabtree .tabrow0 li.here a {
	position: relative;
	z-index: 102;
}

.tabtree .tabrow0 li a {
	background: #f7f7f7;
	padding: 5px 10px 5px;
	border-width: 1px 1px 0;
	border-radius:5px 5px 0px 0px;
	border-style: solid;
	border-color: #ddd;
	margin: 0 2px;
}

.tabtree .tabrow0 .here a {
	background: #fff;
	padding: 8px 10px 5px;
}

.tabtree .tabrow0 li a:hover {
	background: #fff;
}

.tabtree .tabrow0 ul,
.tabtree .tabrow0 div {
	font-weight: normal;
	border-top: 1px solid #ddd;
	padding: 0.25em 0px;
	margin: 0px;
}

.tabtree .tabrow0 li.here .empty {
	display: block;
	height: 1px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	width: 100%;
	bottom: -5px;
}

.tabtree .tabrow0 .tabrow1 {
	padding: 5px 0 2px;
	margin-top: 1px;
}

.tabtree .tabrow1 li a,
.tabtree .tabrow1 li a:hover,
.tabtree .tabrow1 li a span,
.tabtree .tabrow1 li a:hover span {
	padding: 0 10px;
	border: none;
}

.tabtree a.nolink,
.tabtree .here ul a.nolink,
.tabtree a.nolink:hover,
.tabtree .here ul a.nolink:hover {
	color: #888;
	text-decoration: none;
}

.tabtree .here a.nolink,
.tabtree .here ul .here a.nolink,
.tabtree .here a.nolink:hover,
.tabtree .here ul .here a.nolink:hover {
	color: #555555;
	text-decoration: none;
}

.ie7 .tabtree .tabrow0 li {
	margin-left: 0;
}

.ie7 .tabtree .tabrow0 li.first {
	margin-right: -4px;
}

.ie7 .tabtree .tabrow0 li.onerow {
	margin-right: 0;
}

.ie7 .tabtree .tabrow0 a {
	display: inline-block;
	padding: 8px 0 0.35em 13px;
	line-height: 1.5em;
}

.ie7 .tabtree .tabrow0 a span {
	padding: 10px 1em 10px 0;
}

.ie7 .tabtree .tabrow0 div {
	top: 2.6em;
	padding: 0.2em 0;
}

.ie7 .tabtree .tabrow0 div.empty {
	margin-right: 0;
}

.ie7.mod-quiz div.tabtree a span img.iconsmall {
	margin: 0;
	vertical-align: baseline;
	position: relative;
	top: 2px;
}

.ie6 .tabtree {
	height: 100%;
}

.ie6 .tabtree .tabrow0 {
	padding-top: 10px;
}

.ie6 .tabtree .tabrow0 li {
	margin-left: 0;
}

.ie6 .tabtree .tabrow0 li.first {
	margin-left: -4px;
	margin-right: -4px;
}

.ie6 .tabtree .tabrow0 li.last a {
	margin-right: 0;
}

.ie6 .tabtree .tabrow0 li.onerow {
	margin-right: 0;
}

.ie6 .tabtree .tabrow0 a {
	padding: 0 0 0 13px;
}

.ie6 .tabtree .tabrow0 a span {
	padding: 12px 1em 4px 0;
}

.ie6 .tabtree .tabrow0 div {
	top: 3.5em;
	padding: 0.2em 0;
}




/*calendar*/

.minicalendar tbody tr{
     border-bottom: 0px solid #DDDDDD ! important;
}

.minicalendar .today {
     border-radius: 2px 2px 2px 2px;
     background-color:#ddd
}

.minicalendar {
          border: 0px solid #DDDDDD!important;
}



fieldset div {margin-top:5px }


table{ border-radius:5px;}


.yui3-menu li {
     list-style-type: none; 
}

.yui3-menu li:hover {

}

#page-content .region-content{ padding-top:0px;}


#page-content a:hover { text-decoration:underline!important;}


.custom_menu_submenu .yui3-menu-content li{border-left:1px solid #ddd; background-color:#EEEEEE!important; }
/*.custom_menu_submenu ul li{position:relative; left:-1px; top:-1px;}*/


/* Styles for coursequotas */
.yui3-tabview-panel {
    background-color: #fff!important;
    border: 1px solid #ddd!important;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-box-shadow: 3px 3px 3px #bbb;
}
.yui3-tabview-list {
    font-size: 1.2em;
    border: none!important;
}
.yui3-tab .yui3-tab-content {
    font-weight: bold;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;   
}
/* Additional styles for selected tab */
.yui3-tab-selected .yui3-tab-content {
    font-weight: bold;
    background: none!important;
    background-color: [[setting:color2]]!important;
    border-color: [[setting:color2]]!important;
    color: #fff!important;   
}
/* Additional styles when mouse is over the tab */
.yui3-tab .yui3-tab-content:hover {
    color: #fff!important;   
    background: [[setting:color2]]!important;
}

#dates.generalbox{ height:auto!important; min-height:30px!important;}




/* Must be at the end in order to override any previous style */
[[setting:customcss]]