{include file="IWusers_admin_menu.tpl"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='core' src='edit.png' set='icons/large'}</div>
    <h2>{gt text="Edit the users"}</h2>
    <form  class="z-form" enctype="multipart/form-data" method="post" name="usersList" action="{modurl modname="IWusers" type="admin" func="update"}">
           <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        {foreach item=user from=$users name=avatar}
        <input type="hidden" name="uidp[]" value="{$user.uid}" />
        <fieldset>
            <legend>{$usersNames[$user.uname]}</legend>
            <div class="z-formrow">
                <label for="nom[{$user.uid}]">{gt text="Name"}</label>
                <input type="text" name="nom[{$user.uid}]" value="{$user.nom}" />
            </div>
            <div class="z-formrow">
                <label for="cognom1[{$user.uid}]">{gt text="1st surname"}</label>
                <input type="text" name="cognom1[{$user.uid}]" value="{$user.cognom1}" />
            </div>
            <div class="z-formrow">
                <label for="cognom2[{$user.uid}]">{gt text="2nd surname"}</label>
                <input type="text" name="cognom2[{$user.uid}]" value="{$user.cognom2}" />
            </div>
            {if $canChangeAvatar}
            <div class="z-formrow">
                <label for="cognom2[{$user.uid}]">{gt text="Avatar"}</label>
                <div style="float: left;">
                    {if $user.photo neq ''}
                    <img src="{modurl modname=IWmain type=user func=getPhoto fileName=$user.photo}" alt="{$usersNames[$user.uname]}"/>
                    {else}
                    {img modname='IWusers' src='noImage.png'}
                    {/if}
                    <div>
                        <input type="checkbox" name="deleteAvatar[{$user.uid}]" value="1" />{gt text="Delete avatar"}
                    </div>
                </div>
                <div style="float: left; padding-left: 20px;">
                    <div style="margin-top: 20px;">
                        <input type="file" name="avatar_{$user.uid}" size="30">
                    </div>
                    {if $smarty.foreach.avatar.first == 1}
                    <div style="width: 200px; margin-top: 20px;" class="pn-informationmsg">
                        {gt text="The avatar image must be 90x120 px aproximately with the extensions jpg, gif or png"}
                    </div>
                    {/if}
                </div>
            </div>
            {/if}
        </fieldset>
        {/foreach}
        <div class="z-center">
            <span class="z-buttons">
                <input class="z-bt-ok z-bt-small" type="submit" value="{gt text="Edit"}" />
            </span>
            <span class="z-buttons">
                <a href="{modurl modname="IWusers" type="admin" func="main"}">{img modname='core' src='button_cancel.png' set='icons/small'   __alt="Cancel" __title="Cancel"} {gt text="Cancel"}</a>
            </span>
        </div>
    </form>
</div>
