<script language="javascript">
    function send(){
        var resposta;
        var error = false;
        var f = document.forms['assignment_form'];
        if (f.name.value == '') {
            alert("{{gt text="You must enter the name of the activity"}}");
            error = true;
        }
        if (f.url.value == '' && f.file.value == '' && !error) {
            alert("{{gt text="You have not written the url where to find the activity or any file has been chosen to be uploaded to the server"}}");
            error = true;
        }
        if (f.url.value.indexOf("http") != 0 && f.file.value == '' && !error) {
            alert("{{gt text="The format of the link is wrong"}}");
            error = true;
        }
        if (f.file.value.indexOf("zip") == '-1' && f.url.value == '' && !error) {
            alert("{{gt text="The file that you upload to the server has an invalid."}}");
            error = true;
        }
        if(!error){
            resposta = confirm("{{gt text="Confirms the assignment of the activity"}}");
        }
        if(resposta){
            document.forms['assignment_form'].submit();
        }
    }

    function iwjclicUpdateSelectedGroups(){
        var selectedgroupsstr = document.forms['assignment_form'].groups.value;					
        if (selectedgroupsstr.indexOf('$', 1)>0){
            var selectedgroups = selectedgroupsstr.substr(1,selectedgroupsstr.length-2).split('$');
            var groupscontent="";
            for(i=0;i<selectedgroups.length;i++){
                groupscontent+=allgroups[selectedgroups[i]];
                groupscontent+='&nbsp;&nbsp;<a href=\"javascript:void(0);\" onclick =\"iwjclicDeleteGroupToAssignment('+selectedgroups[i]+');\">{{img modname='core' src='14_layer_deletelayer.png' set='icons/extrasmall'   __alt="Delete" __title="Delete"}}</a>';	
                groupscontent+="<br>";
            }	
            document.getElementById('iwjclic-selected-groups').innerHTML=groupscontent+"<br>";	
        }else{
            document.getElementById('iwjclic-selected-groups').innerHTML="<br>";
        }
    }
</script>
<link rel="stylesheet" href="modules/IWmain/js/calendar/css/jscal2.css" type="text/css" />
<link rel="stylesheet" href="modules/IWmain/js/calendar/css/border-radius.css" type="text/css" />
<link rel="stylesheet" href="modules/IWmain/js/calendar/css/style.css" type="text/css" />
<script type="text/javascript" src="modules/IWmain/js/calendar/jscal2.js"></script>
<script type="text/javascript" src="modules/IWmain/js/calendar/lang/ca.js"></script>
{include file="IWjclic_user_menu.htm"}
<div class="usercontainer">
    <div class="userpageicon">{img modname='core' src='filenew.png' set='icons/large'}</div>
    <h2>{gt text="Assign activities"}</h2>
    <form  method="post" class="z-form" id="assignment_form" action="{modurl modname='IWjclic' type='user' func='submitAssig'}" enctype="multipart/form-data">
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" name="mode" value="{$mode}" />
        <input type="hidden" name="jid" value="{$jclic.jid}" />
        <fieldset id="general">
            <legend>{gt text="General Parameters"}</legend>
            <div class="z-formrow">
                <label for="name">{gt text="Name"}: {img modname='IWjclic' src='req.gif'}</label>
                <input size="64" name="name" type="text" id="name" value="{$jclic.name}" />
            </div>
            <div class="z-formrow">
                <label for="description">{gt text="Statement"}:</label>
                <textarea id="intraweb" name="description" rows="7" cols="45">{$jclic.description}</textarea>
            </div>
        </fieldset>
        <fieldset id="header_jclic">
            <legend>{gt text="Parameters JClic"}</legend>
            <div class="z-formrow">
                <label for="url">{gt text="Link or file activity"}:{if $mode neq "edit"}{img modname='IWjclic' src='req.gif'}{/if}</label>
                {if $mode eq "edit"}
                <input name="url" type="hidden" value="{$jclic.url}" />
                <input name="file" type="hidden" value="{$jclic.file}" />
                {if $jclic.url neq ''}
                <strong>{$jclic.url}</strong>
                {else}
                <strong>{$jclic.file}</strong>
                {/if}
                {else}
                <div>
                    <input size="50" name="url" type="text" value="" id="url" /> 
                </div>
                {if not $noFolder and not $noWriteable}
                <div class="z-formnote">
                    {gt text="or, upload the file from the server activity"}
                </div>
                <div class="z-formnote">
                    <input size="50" name="file" type="file" />
                </div>
                {else}
                <input name="file" type="hidden" value="" />
                {/if}
                {/if}
            </div>
            {if $noFolder || $noWriteable}
            <div class="z-errormsg z-formnote">
                {gt text="This module supports activities JClic directly to the server, but for a configuration error is not possible. Please contact the portal administrator."}
            </div>
            {/if}
            {if $mode neq "edit"}
            <div class="z-informationmsg z-formnote">
                {$iwJclicUrlHelp}
            </div>
            {/if}
            <div class="z-formrow">
                <label for="skin">{gt text="Skin"}:</label>
                <select name="skin" id="skin">
                    {foreach item="skin" key="k" from="$skinsArray"}
                    <option {if $k eq $jclic.skin}selected="selected"{/if} value="{$k}">{$skin}</option>
                    {/foreach}
                </select>
            </div>
            <div class="z-formrow">
                <label for="width">{gt text="Width"}:</label>
                <div class="z-formnote">
                <input size="5" name="width" type="text" value="{$jclic.width}" id="width" /> px
                </div>
            </div>
            <div class="z-formrow">
                <label for="height">{gt text="Height"}:</label>
                <div class="z-formnote">
                <input size="5" name="height" type="text" value="{$jclic.height}" id="height" /> px
                </div>
            </div>
        </fieldset>
        <fieldset id="header_score">
            <legend>{gt text="Parameters of evaluation"}</legend>
            <div class="z-formrow">
                <label for="maxattempts">{gt text="Maximum number of attempts"}:</label>
                <select name="maxattempts" id="maxattempts">
                    <option value="-1" selected="selected">{gt text="Unlimited"}</option>
                    {foreach item="maxattempts" from="$maxattemptsArray"}
                    <option {if $maxattempts eq $jclic.maxattempts}selected{/if} value="{$maxattempts}">{$maxattempts}</option>
                    {/foreach}
                </select>
            </div>
            <div class="z-formrow">
                <label for="scoreToOptain">{gt text="Scoring average to achieve"}:</label>
                <div class="z-formnote">
                    <input size="3" maxlength="2" name="scoreToOptain" type="text" value="{$jclic.scoreToOptain}" id="scoreToOptain" /> %
                </div>
            </div>
            <div class="z-formrow">
                <label for="solvedToOptain">{gt text="Number of different activities resolved correctly"}:</label>
                <input size="3" maxlength="2" name="solvedToOptain" type="text" value="{$jclic.solvedToOptain}" id="solvedToOptain" />
            </div>
        </fieldset>
        <fieldset id="assig_paremeters">
            <legend>{gt text="Parameters of the assignment"}</legend>
            <div class="z-formrow">
                <label for="groups"><strong>{gt text="List of selected groups"}</strong></label>
                <input name="groups" type="hidden" value="{$groupsString}" />
                <div id="iwjclic-selected-groups" class="z-formnote"><br /></div>
                <script>
                    var allgroups = new Array();
                    {{section name=group loop=$groups}}
                    allgroups['{{$groups[group].id}}']='{{$groups[group].name}}';
                    {{/section}}
                    iwjclicUpdateSelectedGroups();
                </script>
            </div>
            <div class="z-formrow">
                <label for="width">{gt text="New group"}:</label>
                <div class="z-formnote">
                    <select id="newgroup" name="newgroup" style="width: 200px;">
                        <option selected="selected" value="0">{gt text="Select a group ..."}</option>
                        {foreach item="group" from="$groups"}
                        <option value="{$group.id}">{$group.name}</option>
                        {/foreach}
                    </select>
                    <a href="javascript:void(0);" onclick="iwjclicAddGroupToAssignment();">{gt text="Add"}</a> ({gt text="It will not be changed until click the Send link"})
                </div>
            </div>
            <div class="z-formrow">
                <label for="initDate">{gt text="Minimum starting date of the activity"}:</label>
                <div class="z-formnote">
                    <input size="10" id="initDate_id" name="initDate"  value="{$jclic.initDate}" onfocus="blur();" />
                    <img id="initDate_btn" src="modules/IWjclic/images/calendar.gif" style="cursor:pointer;" />
                </div>
            </div>
            <div class="z-formrow">
                <label for="limitDate">{gt text="Deadline"}:</label>
                <div class="z-formnote">
                    <input size="10" id="limitDate_id" name="limitDate"  value="{$jclic.limitDate}" onfocus="blur();" />
                    <img id="limitDate_btn" src="modules/IWjclic/images/calendar.gif" style="cursor:pointer;" />
                </div>
            </div>
            <div class="z-formrow">
                <label for="observations">{gt text="Comment"}:</label>
                <textarea id="intraweb" name="observations" rows="7" cols="45">{$jclic.observations}</textarea>
            </div>
            <div class="z-formrow">
                <label for="active">{gt text="Active"}</label>
                <input type="checkbox" id="active" name="active" {if $jclic.active eq 1}checked{/if} value="1" />
            </div>
        </fieldset>
        <div>
            {gt text="This form contains fields marked with an"} {img modname='IWjclic' src='req.gif'}
        </div>
        <div class="z-center">
            <span class="z-buttons">
                <a href="javascript:send()">
                    {img modname='core' src='button_ok.png' set='icons/small' __alt="Send" __title="Send"}
                    {gt text="Send"}
                </a>
            </span>
            <span class="z-buttons">
                <a href="{modurl modname='IWjclic' type='user' func='main'}">
                    {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}
                    {gt text="Cancel"}
                </a>
            </span>
        </div>
    </form>
</div>
<script type="text/javascript">
    var limitDate = Calendar.setup({
        onSelect       :    function(limitDate) { limitDate.hide() }
    });
    limitDate.manageFields("limitDate_btn", "limitDate_id", "%d/%m/%y");
    
    var initDate = Calendar.setup({
        onSelect       :    function(initDate) { initDate.hide() }
    });
    initDate.manageFields("initDate_btn", "initDate_id", "%d/%m/%y");
</script>