{include file='forms/0_userheader.html'}

<p class="z-informationmsg">{gt text='Thank you for your questions/comments to our website!<br />We will reply as soon as possible.'}</p>
<form class="z-form" action="{modurl modname=Formicula type=user func=main}" method="post">
    <fieldset>
        <legend>{gt text='This data was sent to us'}</legend>

        <div class="z-formrow">
            <label>{gt text='Contact or Theme'}</label>
            <span>{$contact.name|safehtml|default:"&nbsp;"}</span>
        </div>

        <div class="z-formrow">
            <label>{gt text='Your Name'}</label>
            <span>{$userdata.uname|safehtml|default:"&nbsp;"}</span>
        </div>

        {modgetvar module=Formicula name=show_company assign=show_company}
        {if $show_company==1}
        <div class="z-formrow">
            <label>{gt text='Company'}</label>
            <span>{$userdata.company|safehtml|default:"&nbsp;"}</span>
        </div>
        {/if}
        <div class="z-formrow">
            <label>{gt text='Email'}</label>
            <span>{$userdata.uemail|safehtml|default:"&nbsp;"}</span>
        </div>

        {modgetvar module=Formicula name=show_url assign=show_url}
        {if $show_url==1}
        <div class="z-formrow">
            <label>{gt text='Homepage'}</label>
            <span>{$userdata.url|safehtml|default:"&nbsp;"}</span>
        </div>
        {/if}

        {modgetvar module=Formicula name=show_phone assign=show_phone}
        {if $show_phone==1}
        <div class="z-formrow">
            <label>{gt text='Phone Number'}</label>
            <span>{$userdata.phone|safehtml|default:"&nbsp;"}</span>
        </div>
        {/if}

        {modgetvar module=Formicula name=show_location assign=show_location}
        {if $show_location==1}
        <div class="z-formrow">
            <label>{gt text='Location'}</label>
            <span>{$userdata.location|safehtml|default:"&nbsp;"}</span>
        </div>
        {/if}

        <div class="z-formrow">
            <label>{gt text='Comment'}</label>
            <div>{$userdata.comment|safehtml|nl2br|default:"&nbsp;"}</div>
        </div>

    </fieldset>
</form>

<p class="z-sub z-center">
    {if $sendtouser==true}
    {gt text='Confirmation of your submission will be emailed to you in a few minutes.'}
    {else}
    {gt text='There was an internal error when sending confirmation mail'}
    {/if}
</p>

{include file='forms/0_userfooter.html'}