.que.multianswerwiris .feedbackspan {
    display: block;
    background: #fff3bf;
    padding: 0.5em;
    margin-top: 1em;
    box-shadow: 0.5em 0.5em 1em #000000;
}
.que.multianswerwiris .answer .specificfeedback {
    display: inline;
    padding: 0 0.7em;
    background: #FFF3BF;
}
.que.multianswerwiris .answer .specificfeedback * {
    display: inline;
    background: #FFF3BF;
}
.que.multianswerwiris .answer .specificfeedback script {
    display: none;
}
.que.multianswerwiris .answer div.r0,
.que.multianswerwiris .answer div.r1 {
    padding: 0.3em;
}
.que.multianswerwiris table.answer {
    margin-bottom: 0;
    width: 100%;
}
