/*
Theme Name: NODES
Theme URI: http://jurjur.org
Description: Tema desenvolupat pel departament d'Ensenyament de Catalunya
Author: Albert Bachiller 
Author URI: http://jurjur.org
Template: reactor
Version: 1.0.0
*/


/*****************************************************************
Add Custom styles below 
******************************************************************/

.block{

/*border-bottom:1px solid #ddd;*/

}


body{
	background-color:white !important;
	color:#444;
}


.row {
    /*max-width: 95em;*/
    max-width: 95em;
    margin: 0 0em 0 0em !important;
}

h1, h2, h3, h4, h5, h6, a {
    color: #087eb6;
    /*font-family: 'Delius', cursive !important;*/
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    
}

/*Bug WP/Buddypress*/
#wp-toolbar > ul > li {display:block;}

.login h1 a { 
    background-size:auto !important;
}


ul.menu{
	list-style-type:none;
	margin:0.3em;
	margin-left:0;
}

ul.sub-menu{
	list-style-type:none;
}

ul.sub-menu > li:before{
	
	content:"\f345";
	font:normal 14px/1 'dashicons';
}



/*****************************************************************
vcard (targeta presentacio centre)
******************************************************************/

.vcard {
margin: 0;
border: 0;
padding: 0;
}

.vcard .country-name, .vcard .region, .vcard .fn.org.url {
display:none;
}


#tar-nomCentre {
    display:block;	
    font-size: 0.95em !important;
    font-weight: bold;
    line-height: 1em !important;
    padding-bottom: 0.5em;
    color: #555;
}

.vcard span {
   font-size: 0.8em;
   line-height: 1em;
   color: #777;
}

#tar-mapa, #tar-contacte {
    color: #808080;
    font-weight: 500;
    font-size: 0.8em;
}

.tel {
    font-weight: bold;
    margin: 0.5em 0 0.3em 0;
}



/*****************************************************************
Targetes
******************************************************************/

.card_bgcolor1{
	background-color:#e5e5e5;
}
.card_bgcolor2{	
	background-color:#f1f1f1;
}
.card_bgcolor3{
	background-color:#f8f8f8;
}


#contingut_central_frontpage{
    padding:0px;
}
#contingut_central_frontpage > .page{
    background-color:#e4ecf2;
    line-height: 1.2em;
    padding-bottom: 2em;
}

article {
    padding:0px;
    border:0px !important;
}

.entry-body {
    margin:0px !important;
    border:0px;
    padding:30px;
    position: relative !important;
}

.entry-header> h2 {
    font-size:1.5em;
    line-height:1em;
}

#contingut_central_frontpage .entry-title{
   	 margin-top: 0;
	margin-bottom: 0;

padding-top: 0;
}

.post.format-video .entry-title {
	font-size: 1.5em;
}

.entry-body >.entry-summary{
    padding:0px;
    
}

.entry-summary > p,h2{
    padding-top:0.5em;
}

.entry-footer {
    /*border:2px solid #ddd;
    border-left:0;
    border-right:0;
    border-color: #ddd;
    border-style: solid;*/
    padding:0.2em;
}

.targeta {
	float:left;
}

.entry-thumbnail{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    display: block;
    margin-top: 0.5em;
}

.label.secondary {
    background-color: #4ad0d2;
    color: white;
}

.header_metatags{
    padding-bottom:5px !important;
    color:silver;
    font-size: 1em;
}

.footer_metatags{
    color:#087eb6;
    margin-right: 4px;
    font-size: 0.8em;
}


/*****************************************************************
Top header
******************************************************************/

#wpadminbar {
height: 36px;
}

.ab-item{
    color:#ddd !important;    
}

#wpadminbar #wp-admin-bar-bp-login>.ab-item:before {
    content: "\f112";
margin-top: 4px;
}

li#wp-admin-bar-bp-login{
float:right;
}

#wpadminbar #wp-admin-bar-recursosXTEC{
	margin: 0 2px 0 20px;
}

#wpadminbar #wp-admin-bar-recursosXTEC >.ab-item:after{
	font: normal 14px/1 'dashicons';
	display:inline-block;
	vertical-align:middle;
	content: "\f347";
	margin-left: 4px;
	/*padding-right:5px;*/
	border-right:1px solid grey;
	color:lightgrey;
	padding-right: 4px;
}


#wpadminbar .quicklinks>ul>li.wp-admin-bar-gencat>a {
	padding: 0 0px 0 0px;
}

#wpadminbar .quicklinks .ab-empty-item {
height: 32px;
display: block;
padding: 0 10px 0 0;
margin: 0;
}



/*****************************************************************
Header
******************************************************************/

#header .row {
    width: 100%;
    margin:0px;
}

#header div.row > div.columns{
    padding:0px;
}

.inner-header{
    margin:0;
    padding:0;
}

.inner-header > div.row > div.column{
    padding:0 !important;
    margin:0 !important;
}

.inner-header > div.row {
    padding:0;
    margin:0;
}

.site-header,
.site-identity,
.site-logo,
.site-description-box,
.site-slider,
.site-icones{
    height:11.2em;
    margin:0px !important;
    padding:0px;
}

#idcentre-box{
    padding:0px;
    background-color: #0eb1ff;
  
}

.site-logo{
    display:table !important;
    background-color:#0eb1ff;
}

.site-logo-inner{
    font-size:38px; 
    text-align:center;
    font-family:'Oswald'; font-weight: 300;
    /*font-family: 'Delius', bold;*/
    color:white; 
    display: table-cell;
    vertical-align:middle;
    padding:0px;
    overflow: hidden;
}

#img-logo{
	/*padding:1em;*/
	max-width:120px;
}

#imatge_capcalera{

}

.site-description-box{
    background-color:#087eb6;
    
}

.site-description-box-inner{
    font-size:24px;
    text-align:center;
    font-family:'Oswald'; font-weight: 300;
    /*font-family: 'Delius', bold;*/
    padding:0px;
    color:white; 
    display: table-cell;
    vertical-align:middle;
    padding:10px;
    line-height: 1.2em;
}

.site-icones {
    background-color:white;
    display:table !important;
    float:left;
}

.site-slider {
    background-color: whitesmoke;
}

.slideshow_slide {
    margin-right: 0px !important;
}

.site-quick-box{
    position: relative;
    text-align: center;
    height: 5.6em;
    line-height: 5.6em;
}


#quick-call-box{
    background-color: white;
}

#quick-call-box > a{
  color:black;  
}
.site-quick-map-box-inner{
    background-image:url(http://ies-sabadell.cat/webdecentre/wp-content/uploads/2014/08/googlemaps.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    position: absolute;
    top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
   
}

.icon-graella {   
    background-color: white;
    color:white;
    height: 5.6em;
    width: 33.3%;
    margin: 0px;
    text-align: center;
    line-height: 5.6em;
    float: left;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index:10;
    padding:5px !important;
}

.entry-date > a,
.entry-author >a,
.entry-comments,
.entry-categories>a,
.entry-tags >a {
    color:#56AEC1 !important;
    font-size:0.8em;
}

.entry-date:before,
.entry-author:before,
.entry-comments:before,
.entry-categories:before,
.entry-tags:before{
    color:#56AEC1; 
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 18px/1 'dashicons';
    vertical-align: middle;
    margin-right: 0.2rem;
}

.entry-date, .entry-author {
color: #A9AAA8;
margin-bottom: 0.8em;
display: inline-block;
font-size: 0.8em;
}

.entry-date:before {
    content: "\f145"; 
    font-size: 1.2em;
    color:#aaaba6;
}

.entry-author:before {
    content: "\f110";
    font-size: 1em;
    color: #BFC0BC;
}

.entry-comments:before {
    content: "\f101"; 
}

.entry-categories:before {
    content: "\f318"; 
}

.entry-tags:before {
    content: "\f323"; 
}

.entry-footer{
    bottom: 2em;
    color: silver;
}

.icon-graella > .dashicons,
.site-quick-box-inner > .dashicons
{
    display: inline;
    font-size: 2em;
    line-height: 2.5em;
}

#icon-11{
    background-color:#087eb6;
}

#icon-11:hover{
background-color:#fdd300;
    
    color: black;
}

#icon-12{
    background-color:silver;
}

#icon-12:hover{
    background-color:#fdd300;
    color: black;
}

#icon-13{
    background-color:#0eb1ff;
    /*#4e4f54;*/
}
#icon-13:hover{
    background-color:#fdd300;
    color: black;
}

#icon-21{
    background-color:#0eb1ff;
}
#icon-21:hover{
    background-color:#fdd300;
    color: black;
}

#icon-22 {
    background-color:white;
    color:#087eb6;
}
#icon-22:hover{
    background-color:#fdd300;
    color: black;
}

#icon-23{
    background-color:#087eb6;
}

#icon-23:hover{
    background-color:#fdd300;
    color: black;
}

.slideshow_container_slideshow-jquery-image-gallery-custom-styles_1 .slideshow_slide {
    margin-right: 0px;
}

.slideshow_description, .slideshow_title{
    padding:10px !important;
    line-height: 1.2em;
}

/*****************************************************************
Menu
******************************************************************/

#menu-panel{
    padding:1em;
    height:auto;
    background-color:white;
    display:none;
    border-bottom: 2px solid #087eb6;
}

.menu-link, .sub-menu-link {
    color:#087eb6 !important;
}

.menu-item-depth-0 {
    float:left;
    text-transform: uppercase;
    margin-left:2em;
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 10px;
}

.menu-item-depth-1, .menu-item-depth-2, .menu-item-depth-3{
    text-transform: lowercase;
    font-weight: normal;
    list-style-type: none;
}

.menu-item-depth-1:first-letter{
    text-transform: uppercase;
    
}


/*****************************************************************
Fil d'ariadna
******************************************************************/

ul.breadcrumbs{
    border:0px;
    margin:0px;
}

/*****************************************************************
Barra lateral
******************************************************************/

#sidebar-frontpage{
    	padding-top: 1em;
	background-color:white;
   	/*padding-left: 2.5em;*/
	padding:0em;
	
}

#sidebar-frontpage-2{
	/*padding-top: 1em;
	padding-left: 1em;*/
	padding:0px;
}

#content .row {
    margin-left:0;
}




/*****************************************************************
Personalitza
******************************************************************/

select#gender option[value="male"]   { background-image:url(male.png);   }



/*****************************************************************
Ginys
******************************************************************/

.widget{

padding-left: 2em;
padding-right: 1em;
}

.slideshow_slide {
margin-right: 0px;
}

.slideshow_slide slideshow_slide_text{
    padding:20px !important;
}

li.cat-item {
list-style:none;
font-size: 18px;
}


.logotip-widget{
    margin: 0 0 1em 0;
    text-align: center;
    padding: 1em 0.2em;	    
}
    
.iconedu {
    margin-bottom: 15px;
}   


address{
	font-size: 0.8em;
    	line-height: 1.25em;
    	font-style:normal;	
}

.text-info-centre{
	 display:table-cell;
	 vertical-align: middle;
	 margin-left: 0px;
	 padding-left: 0px;
         margin-top: 0.9em;
}

#tar_nomCentre{
	color:#444 !important;
}


/*****************************************************************
Xarxa Nodes (BuddyPress & BBPress & Others)
******************************************************************/


.widget.buddypress ul.item-list img.avatar{
	width:3em !important;
	height:3em !important;
}

#buddypress form#whats-new-form #whats-new-content {
	padding: 0 0 0px 10px;
}

/*No RSS Link*/
li.feed{
	display:none;
}

#groups-list{
list-style-type: none;
}

#groups-list .item{
display:none;
}

/*****************************************************************
Calendari
******************************************************************/

/*temporal*/
.gce-caption {
display: none;        
}

table tr th, table tr td {
padding: 0px;
font-size: 18px;
color: #2c8f8f;
}

.gce-widget-grid .gce-calendar td {

border-bottom: 0px solid #CCCCCC;
text-align: center;
padding: 4px;
font-size: 18px;
border: 1px solid #eae8e8;
color: #2c8f8f;

}

abbr[title] {
border-bottom: 0px;
color:grey;
font-weight: normal;
padding-top:3px;
padding-bottom:3px;
}

ul.breadcrumbs {
	margin: 1em;
}	

.breadcrumbs>* {
	font-size:0.8em;
	text-transform: uppercase;
}

.breadcrumbs {
-webkit-border-radius: 0px;
border-radius: 0px;
}

/*
#slider-box{
height:11.2em;
overflow:hidden;
}
*/

/*Small devices*/
@media screen and (max-width: 782px) {

    /*#wp-admin-bar-direccioCentre,
    #wp-admin-bar-telCentre,
    #wp-admin-bar-titularitat,*/
    #wp-admin-bar-recursosXTEC
    {
        display: none !important;
    }
    
    
    #content {
        margin:0;
    	}

    #page{
    	padding-top: 18px;
   	}

    menu-item-depth-0 {
        clear:both;
    }

}

/* Large devices*/
@media screen and (min-width: 782px) {
    
    .site-description-box{    
        display:table !important;    
    }
    /*Logo generalitat*/
    #logogencat { 
     vertical-align: baseline;
}

/*TODO: Fer per a totes les resolucions*/
@media screen and (device-aspect-ratio: 5/4) {

    .site-header,
    .site-identity,
    .site-logo,
    .site-description-box,
    .site-slider,
    #slider-box,
    .site-icones {
       height:10.2em;
       overflow:hidden;
    }

    .icon-graella {
        height:5.1em;
    }
    
    .icon-graella > .dashicons,
    .site-quick-box-inner > .dashicons
    {
        font-size: 2em;
        line-height: 2em;
    }
    
}


