#ErrorDocument 503 https://sites.google.com/a/xtec.cat/agora/anuncis/manteniment

RewriteEngine on

RewriteBase /agora/

RewriteRule ^([^/]*)/antic$ $1/antic/ [QSA,R=permanent,L]
RewriteRule ^([^/]*)/moodle$ $1/moodle/ [QSA,R=permanent,L]
RewriteRule ^([^/]*)/moodle/my$ $1/moodle/my/ [QSA,R=permanent,L]

RewriteCond %{REQUEST_URI} ([^/]*)/usu1/antic/ [OR]
RewriteCond %{REQUEST_URI} ([^/]*)/usu2/antic/
RewriteRule ^([^.]*)/antic/(.*)$ moodle/$2?ccentre=$1 [QSA,L]

RewriteCond %{REQUEST_URI} ([^/]*)/usu1/moodle/ [OR]
RewriteCond %{REQUEST_URI} ([^/]*)/usu2/moodle/ 
RewriteRule ^([^.]*)/moodle/(.*)$ moodle2/$2?ccentre=$1 [QSA,L]

RewriteRule ^([^/]*)/moodle/(.*)$ moodle/$2?ccentre=$1 [QSA,L]

RewriteRule ^([^/]*)/intranet$ $1/intranet/ [QSA,R=permanent,L]
RewriteRule ^([^/]*)/intranet/(.*)$ zikula/$2?ccentre=$1 [QSA,L]

