/*******************************************************************
 styles_color.css

 This CSS file contains all color definitions like
 background-color, font-color, border-color etc.

 Styles are organised into the following sections:

  core
  header
  footer

  admin
  blocks
  calendar
  course
  doc
  login
  message
  question
  tabs
  user
  top-menu
  course quotes & marsupial stats

  various modules

*******************************************************************/
<?php global $CFG;

function html2rgb($color)
{
    if ($color[0] == '#')
        $color = substr($color, 1);

    if (strlen($color) == 6)
        list($r, $g, $b) = array($color[0].$color[1],
                                 $color[2].$color[3],
                                 $color[4].$color[5]);
    elseif (strlen($color) == 3)
        list($r, $g, $b) = array($color[0].$color[0], $color[1].$color[1], $color[2].$color[2]);
    else
        return false;

    $r = hexdec($r); $g = hexdec($g); $b = hexdec($b);

    return array($r, $g, $b);
}

function color_mkwebsafe ( $in )
{
   // put values into an easy-to-use array
   $vals['r'] = hexdec( substr($in, 1, 2) );
   $vals['g'] = hexdec( substr($in, 3, 2) );
   $vals['b'] = hexdec( substr($in, 5, 2) );

   // loop through
   foreach( $vals as $val )
   {
       // convert value
       $val = ( round($val/51) * 51 );
       // convert to HEX
       $out .= str_pad(dechex($val), 2, '0', STR_PAD_LEFT);
   }

   return strtoupper($out);
}

$color1 =  $CFG->theme_color1 ? $CFG->theme_color1 : '#AC2013';
$color2 =  $CFG->theme_color2 ? $CFG->theme_color2 : '#AC2013';
$color3 =  $CFG->theme_color3 ? $CFG->theme_color3 : '#303030';
$color4 =  $CFG->theme_color4 ? $CFG->theme_color4 : '#AC2013';
$color5 =  $CFG->theme_color5 ? $CFG->theme_color5 : '#D0D0D0';
//$color6 =  $CFG->theme_color6 ? $CFG->theme_color6 : '#D0D0D0';
$color7 =  $CFG->theme_color7 ? $CFG->theme_color7 : '#FFFFFF';

$color2rgb = html2rgb($color2);
$color2rgb = $color2rgb[0].','.$color2rgb[1].','.$color2rgb[2];
$color3rgb = html2rgb($color3);
$color3rgb = $color3rgb[0].','.$color3rgb[1].','.$color3rgb[2];
$color7safe = color_mkwebsafe($color7);

?>

/***
 ***  Core
 ***/

a:link,
a:visited {
  color:<?php echo $color4?>; /*configurable*/
}


a:hover {
  color:<?php echo $color1?>; /*configurable*/
}

.navbar {
  background-color: <?php echo $color5?>; /*configurable*/
}

.generalbox {
  background-color: #FCFCFC;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
  background-color: <?php echo $color2?>; /*configurable*/
  color: <?php echo $color7?>; /*configurable*/
  border-color:<?php echo $color2?>; /*configurable*/
}

/***
 *** Header
 ***/

.breadcrumb .sep, #admin-report-unittest-index .sep {
  color:<?php echo $color1?>; /*configurable*/
}

.breadcrumb ul li, .breadcrumb ul li a{
  color:#666;
}

.headermenu .logininfo{
	color:white;
}

.headermenu .logininfo a{
	color:white;
}

.headermenu .logininfo a{
	color:white !important;
}

/*.logininfo{
	color:black;
}*/

.headermain{
	border-color:#ddd;
	background-color: #FFF;
}

.headermenu a:link,
.headermenu a:visited {
  color: <?php echo $color1?>; /*configurable*/
}

.headermain h1, .headermain h1 a{
	color: <?php echo $color1?>; /*configurable*/
}

.headermain h2{
	color:<?php echo $color3?>; /*configurable*/
}

.headermenu {
  background-color: #333;
}

/***
 *** Admin
 ***/

#adminsettings .form-overridden {
    background-color: #FD1; 
}

.block_admin_tree.sideblock .link.current {
  color: <?php echo $color1?>; /*configurable*/
  background:transparent;
}

/***
 *** Blocks
 ***/

.sideblock .header {
  background-color: <?php echo $color2?>; /*configurable*/
  color: <?php echo $color7?>; /*configurable*/
  border-color: <?php echo $color2?>; /*configurable*/
}


/***
 *** Course
 ***/

/* course, entry-page, login */
.headingblock {
  color: white;
  background-color: <?php echo $color2?> !important; /*configurable*/
  border-color: <?php echo $color2?>   !important; /*configurable*/
}

h2.headingblock {
  color: <?php echo $color7?>; /*configurable*/
  background-color: <?php echo $color2?>  !important; /*configurable*/
  border-color: <?php echo $color2?>   !important; /*configurable*/
}

#course-view .weekscss .section{
	background-color: transparent;
}

#course-view .topics,
#course-view .weeks,
#course-view ul.weekscss,
#course-view tr.section,
#course-view .weekscss .content,
#course-view .weekscss li.section{
  border-top-color: #ddd;
}

/*blue for left*/
#course-view .section .left {
  color: rgba(<?php echo $color3rgb;?>,0.75); /*configurable*/
  background-color: #EEEEEE !important ;
}

#section-index b{
	color: <?php echo $color1?>; /*configurable*/
}

/*white as general topic*/
/* .content should match the body background, sides are white. */
#course-view .section .content,
#course-view .section .right,
.categoryboxcontent,
.coursebox,
#course-view .weekscss .content,
#course-view .weekscss .section
{
   background-color: #FAFAFA !important;
}

/*gray for hidden topics*/
#course-view .index .content,
#course-view .index .right,
#course-view .weekscss .index,
#course-view .hidden .content,
#course-view .hidden .right,
#course-view .weekscss .hidden {
	background-color: #EEE !important;
}

/*yellow for current topics*/
#course-view .current td{
   border-style:solid !important;
   border-width:4px !important;
   border-color:<?php echo $color2?> !important; /*configurable*/
}

#course-view .current .content,
#course-view .current .right {
   background-color: #FFFFFF !important;
}

#course-view .current .content{
   border-left-style:none !important;
   border-right-style:none !important;
}

#course-view .current .right{
   border-left-style:none !important;
}

#course-view .current .left {
   border-right-style:none !important;
   background-color:rgba(<?php echo $color2rgb;?>,0.75) !important;
   color:<?php echo $color7?> !important;
}

.unlist{
  border-color: #ddd;
}


/***
 *** Top-menu
 ***/
#top_menu{
    background:#CECECE url('images/menu/fons_menu.png') repeat-x top center;
}


#top_menu ul li a{
    background:transparent url("images/menu/ralla_menu.png") center right no-repeat;
    color:#3B3B3B;
}


#top_menu li a:hover,
#top_menu ul li:hover a{
    background: rgba(<?php echo $color2rgb;?>,0.75) url("images/menu/hover.gif") bottom center no-repeat;
    color:<?php echo $color7?>;
}


#top_menu li li {
    background:#CECECE url('images/menu/fons_menu.png') repeat-x top center;
}


#top_menu li:hover li a{
    background:none;
    color:#3B3B3B;
}

#top_menu li ul a:hover,
#top_menu li ul li:hover a{
    background: rgba(<?php echo $color2rgb;?>,0.75) url('images/menu/hover_sub.gif') center left no-repeat;
    color:<?php echo $color7?>;
}

#top_menu #home_icon{
    background: url('images/menu/home_icon.png') center center no-repeat;
}

#top_menu a:hover #home_icon{
    background: url('images/menu/home_icon/home_icon_<?php echo $color7safe;?>.png') center center no-repeat;
}

/***
 *** Course quotes & Marsupial stats
 ***/
#admin-report-coursequotes-index .yui-nav a,
#blocks-rcommon-state-print_users .yui-nav a{
	background: #E1E1E1 url(images/topbar.png) repeat-x bottom !important;
}
 
#admin-report-coursequotes-index .yui-nav .selected a,
#blocks-rcommon-state-print_users .yui-nav .selected a{
	background: <?php echo $color2 ?> url(images/topbar.png) repeat-x bottom !important; /*configurable*/
	color: <?php echo $color7 ?>; /*configurable*/
}

#admin-report-coursequotes-index .yui-content,
#blocks-rcommon-state-print_users .yui-content{
	background-color: #FAFAFA;
}

/***
 *** Modules: Forum
 ***/

.forumaddnew, .subscribelink{
  background-color: #FFFFFF;
  border-color: #DDDDDD;
}

.forumpost{
  border-color: #DDDDDD;
}

.forumpost .content {
  background-color: #FFFFFF;
}

.forumpost .starter,
.forumpost .left,
.forumpost .topic {
  background-color:#EEEEEE;
}


.forumheaderlist{
  border-color: #DDDDDD;
}

.forumheaderlist .header{
  background-color: <?php echo $color2?>; /*configurable*/
  color: white;
  border-color: #DDDDDD;
}

.forumheaderlist .discussion .starter{
  background-color: #EEEEEE;
}

.discussion td{
	border-color: #DDDDDD;
}

#mod-forum-view .unread,
.unread{
  background-color: #FFC;
}

#mod-forum-discuss .forumpost.unread .content {
	background-color: #FFC;
}


