
body {
  color:#333;
  font-family: Verdana, Arial, "Liberation sans", sans-serif;
  font-size:12px;
  line-height:1.4;
  text-align:left;
  margin:0;
  padding:0;
}

#wrap {
  width:990px;
  margin:0 auto;
  padding-top:0em;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
  min-height:768px;
}

#logotop {
  float: left;
  width: 165px;
  margin: 5px;
}

#header {
  clear:both;
  height:105px;
  text-align:left;
  width:1000px;
  margin:0px;
}

#btitle {
  font-weight:normal;
  letter-spacing:-.1px;
  font-size:3.0em;
  font-style:italic;
  padding-top:20px;
  padding-left:20px;
}

#content {
  font-size:15px;
  float:left;
  width:600px;
  padding:0 0 0 1em;
}

#content_1_col {
  font-size:15px;
  float:left;
  width:770px;
  padding:0 0 0 1em;
}

#sidebar-left {
  background:#f1fbfe;
  border:1px #ccc dashed;
  font-size:1em;
  float:left;
  margin-top:20px;
  margin-left:20px;
  width:170px;
  padding:2px 1px 0px 11px;
}

#sidebar-right {
  font-size:1em;
  float:left;
  margin-top:10px;
  margin-left:14px;
  width:147px;
  padding:1em .0em 2em .3em;
}

#print {
  background:url(../images/print.gif) no-repeat;
  padding:3px 2px 1px 20px;
}

img { 
  border: 0px; 
}

.pn-menu {
  text-align:center;
}

.admin_messages_block, .pn-module-Downloads {
  margin-top:20px;
}

#zadmin, #pn-maincontent {
  margin-top:50px;
}


/*************************************
 +Footer
 *************************************/

#footer {
  clear:both;
  height:65px;
  font-size:1em;
  text-align:center;
}

#footerlogoleft {
  float:left;
  padding-top:10px;
  padding-left: 20px;
}

#footerlogoright {
  float:right;
  padding-top:10px;
  padding-right: 20px;
}

#footermenu {
  color: #154a58;
  padding-top: 20px;
}

#footermenu a {
  color: #154a58;
}

/*************************************
 +Hn, a and p
 *************************************/

a {
  color:#08476A;
  text-decoration:none;
}

h1,h2,h3,h4 {
  font-weight:normal;
  letter-spacing:-.1px;
  margin:0;
}

#wrap #content h1 {
  color: #08476A;
}

#wrap #content_1_col h1, #wrap #content_1_col h2, #wrap #zadmin h1 {
  color: #08476A;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align:center;
}

#wrap #content_1_col .usercontainer h2 {
  text-align:left;
}

blockquote {
  background:#f0f0f0 none repeat scroll 0 0;
  border-bottom:1px dashed #CCCCCC;
  color:#000;
  display:block;
  padding:2px 10px;
  font-style:italic;
}

pre {
  max-width:580px;
  font-size:1.2em;
  padding:10px;
}

code {
  font-size:1.2em;
  max-width:580px;
  padding:10px;
}


/*************************************
 +Entry
 *************************************/
.entry {
  margin-bottom:0;
  margin-top:50px;
}

.entry a:hover {
  background-color:#f7f7f7;
}

.entry p {
  margin:0;
  padding:0 0 10px;
}

.entry h3 {
  font-size:21px;
  padding-bottom:0.3em;
  padding-top:14px;
}
.entry h4 {
  font-size:17px;
  padding-bottom:0.2em;
  padding-top:10px;
}

.entry img {
  max-width:580px;
  margin-left:5px;
  margin-right:5px;
  border:0;
}

.entrytitle {
  text-align:left;
}

.entrytitle h1 a {
  color:#08476A;
}

.entrytitle h1 {
  font-size:24px;
  text-align:left;
}

.entrytitle h2 a {
  color:#08476A;
}

.entrytitle h2 {
  font-size:25px;
  text-align:left;
}

.entrytitle h3 {
  color:#08476A;
  font-size:23px;
}

.entrybody {
  padding-bottom:6px;
  font-size: 14px;
}

.entrybody a {
  border-bottom:1px dotted #CCC;
}

.entry code {
  font-size:1.1em;
  text-align:left;
  padding:.2em;
}

.entrymeta {
  padding-top:.5em;
  color:#6483a6;
  border-top:1px dotted #ccc;
  border-bottom:1px dotted #ccc;
  margin-bottom:1em;
  clear:both;
  height:25px;
}

.postedby {
  padding:0px 3px 3px 20px;
  float:right;
}

.postinfo {
  width: 130px;
  float:left;
  color: #08476A;
  font-size:12px;
}

.endate {
  font-size:12px;
  color:#6F6F6F;
}

.entrydate .dateMonth {
  font-size:10px;
  text-align:center;
  color:#FFF;
  margin:0;
  padding:0;
}

.entrydate .dateDay {
  font-size:21px;
  font-weight:700;
  text-align:center;
  color:#888;
  margin:0;
  padding:2px 0 0;
}

.entrydate .dateYear {
  font-size:9px;
  padding:0 0 0 1pt;
}

.entrydate {
  float:right;
  height:53px;
  margin-left:5px;
  margin-top:5px;
  width:49px;
}

.entrytitle_wrap {
  padding-bottom:1.8em;
}


/*************************************
 +Sidebars
 *************************************/
#sidebar ul {
  list-style-type:none;
  clear:both;
  margin:0 0 1em;
  padding:0;

}

#sidebar ul li,#sidebar ul li a {
  padding-top:.2em;
  padding-bottom:.2em;
  padding-right:.2em;
}

#sidebar ul li:hover,#sidebar ul li a:hover, #sidebar a:hover {
  background:#e8e8e8;
}

#sidebar h2 {
  color:#444;
  font-size:1.5em;
  margin-top:1em;
}

#sidebar h4 {
  color:#08476A;

  font-size:1.5em;  
  padding-top:5px;
}

#sidebar-left #cat
{
  width:195px;
  border:1px solid #CCC;
}

#sidebar-right #cat
{
  width:150px;
  border:1px solid #CCC;
}

#sidebar img
{
  max-width:140px;
  border:0;
}

/*************************************
 +Menu
 *************************************/
#iw_menu{
  float:right;
  text-align:right;
  width:620px;
  margin:5px;
  padding:0;	
}
#iw_menu>ul{
	margin-top: 12px !important;
	float: right !important;
	background: none !important;
	border: 0 !important;
}
#iw_menu li>ul{
	border: 0 !important;
}
#iw_menu>ul>li{
	background: none !important;
	border: 0 !important;
}

#iw_menu li ul>li>ul{
	left: -203px !important;
	top: -26px !important;
}

#iw_menu>ul>li.branch{ 
	height: 24px !important;
	border-bottom: 2px solid #abd1dc !important; /*Personalizable*/
}

#iw_menu li:hover{
	background: #84B6C1 !important;
}

#iw_menu li{
	color: #FFFFFF !important;
}

#iw_menu li li{
	border-bottom: 0 !important;
	right: 0px !important;
}

#iw_menu li:hover li{ /*Personalizable*/
	background: #134f5e !important;
	color: #FFFFFF !important;
}

#iw_menu li li:hover{ /*Personalizable*/
	background: #84B6C1 !important;
	color: #000000 !important;
}

#iw_menu li li.branch{
	width: 197px;
	border-left: 3px solid #abd1dc !important;
	border-right: 0 !important;
}

#iw_menu li a{
  font-size: 1.2em !important;	
  text-transform:none !important;
}

#menutop {
  float:right;
  text-align:right;
  width:620px;
  margin:5px;
  padding:0;
}

#menutop ul {
  float:right;
  font-size:1.0em;
  list-style:none;
  margin:0;
  padding:0;
}

#menutop li {
  float:left;
  border-bottom:0;
}

#menutop li a {
  color:#fff;
  margin-left:.5em;
  display:block;
  padding:.6em .6em .3em;
  font-size: 1.2em;
}

#menutop li a:hover {
  background:#84B6C1;
  color:#fff;
}


/*************************************
 +Misc
 *************************************/
img.left {
  float:left;
  margin-right:15px;
  margin-bottom:10px;
}

img.right {
  float:right;
  margin-left:15px;
  margin-bottom:10px;
}
