<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>La Intraweb no est&agrave; instal&middot;lada</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>La Intraweb no est&agrave; instal&middot;lada!</h1>
<p style="font-size: 1.2em">Aquest missatge apareix perqu&egrave; la Intraweb no est&agrave; instal&middot;lada.  El podeu instal&middot;lar des de l'<a href="install.php">script d'instal&middot;laci&oacute;</a>. Abans de fer-ho, llegiu les <a href="docs/install.html">instruccions d'instal&middot;laci&oacute;</a> (en angl&egrave;s). 
Trobareu m&eacute;s informaci&oacute; a la <a href="http://community.zikula.org/Wiki-UserDocs.htm">documentaci&oacute; en l&iacute;nia</a> (en angl&egrave;s).</p>

<p>La Intraweb, basada en Zikula, &eacute;s programari lliure distribu&iuml;t sota la llic&egrave;ncia GNU/GPL. Per a m&eacute;s informaci&oacute;, visiteu <a href="http://www.zikula.org" title="Zikula Homepage">http://zikula.org</a>.</p>

<h1>Intraweb is Not Installed!</h1>
<p style="font-size: 1.2em">You are seeing this message because the Intraweb is not yet installed.  You can install the Intraweb by visiting the <a href="install.php">install script</a>, but before doing so please read the <a href="docs/install.html">installation instructions</a>.
Further information can be found in the <a href="http://community.zikula.org/Wiki-UserDocs.htm">online documentation</a>.</p>

<p>The Intraweb, based on Zikula, is free software released under the GNU/GPL.  For more information, please visit <a href="http://zikula.org" title="Zikula Homepage">
http://zikula.org</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Proudly powered by Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="ADODB database library" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="PHP Language" width="80" height="15" /></a>
</div>

</body>
</html>
