<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>No s'ha pogut iniciar la sessi&oacute;</title>
<style type="text/css">
a img { border: 0px;}
p.larger {font-size: 1.2em;}
</style>
</head>
<body>
<h1>No s'ha pogut iniciar la sessi&oacute;</h1>
<p class="larger">Aquest lloc web sofreix problemes t&egrave;cnics.Si els problemes no se solucionen en breu, contacteu amb els administradors del servidor i informeu-los del problema.</p>
<p class="larger">Aquest lloc web funciona amb el CMS Zikula, per&ograve; aquest error no t&eacute; a veure amb el programari, sin&oacute; amb el servidor. Si us plau no contacteu amb els desenvolupadors del Zikula per solucionar-lo, sin&oacute; amb els administradors del servidor.</p>
<p><strong>Si sou l'administrador/a del servidor...</strong><br/>
El Zikula no pot iniciar correctament les sessions. &Eacute;s possible que aix&ograve; es degui a que la taula de sessions estigui corrupta. En aquest cas, el problema es pot solucionar reparant la taula. Per a m&eacute;s informaci&oacute;, visiteu el web del  Zikula.</p>

<p>El Zikula &eacute;s programari lliure distribu&iuml;t sota la llic&egrave;ncia GNU/GPL. Per a m&eacute;s informaci&oacute;, visiteu <a href="http://www.zikula.org" title="Zikula Homepage">http://zikula.org</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://www.zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Web site powered by Zikula" width="80" height="15" /></a>
</div>
</body>
</html>