/**
* Style4 for the Standard template set for EZComments
*
* @author Mateo Tibaquira, Carsten Volmer
* @author Alen Grakalic
* @link   http://templatica.com/articles/comments/04.html
*/

#ezc_comments .ezcomments_wrapper,
#ezc_comments .ezcomments_wrapper li,
#ezc_comments .ezcomments_wrapper ul {
    list-style:none;
    margin:0;
    padding:0;
}
#ezc_comments .ezcomments_wrapper li.ezc_comment {
    font-size:13px;
    margin:1.5em 0;
    overflow:hidden;
    position:relative;
}
#ezc_comments .ezcomments_wrapper a,
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_author strong {
    color:#edecd8;
    text-decoration:none;
}
#ezc_comments .ezcomments_wrapper a:hover {
    color:#fff;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata li {
    background:none;
    color:#777;
    display:inline;
    line-height:39px;
    margin:0;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_author {
    float:left;
    font-weight:bold;
    margin-bottom:10px;
    padding-left:40px;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_avatar {
    display:none;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_date {
    color:#fff;
    float:right;
    font-style:italic;
    font-size:11px;
    margin-right:12px;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_options {
    float:left;
    padding-left:10px;
}
#ezc_comments .ezcomments_wrapper .ezc_body {
    clear:both;
    padding:10px 28px 40px 28px;
}
#ezc_comments .ezcomments_wrapper .ezc_tr {
    background:url(images/04_bg_comments_tr.gif) top right no-repeat;
}
#ezc_comments .ezcomments_wrapper .ezc_tl {
    background:url(images/04_bg_comments_tl.gif) top left no-repeat;
}
#ezc_comments .ezcomments_wrapper .ezc_br {
    background:url(images/04_bg_comments_br.gif) bottom right no-repeat;
}
#ezc_comments .ezcomments_wrapper .ezc_bl {
    background:url(images/04_bg_comments_bl.gif) bottom left no-repeat;
}
