/**
* Style3 for the Standard template set for EZComments
*
* @author Mateo Tibaquira, Carsten Volmer
* @author Alen Grakalic
* @link   http://templatica.com/articles/comments/03.html
*/

#ezc_comments .ezcomments_wrapper,
#ezc_comments .ezcomments_wrapper li,
#ezc_comments .ezcomments_wrapper ul {
    list-style:none;
    margin:0;
    padding:0;
}
#ezc_comments .ezcomments_wrapper li.ezc_comment {
    background:url(images/03_bg_comments.gif) no-repeat scroll 25px 0 transparent;
    font-size:13px;
    margin:1.5em 0;
    overflow:hidden;
    position:relative;
}
#ezc_comments .ezcomments_wrapper a {
    color:#5a7981;
}
#ezc_comments .ezcomments_wrapper a:hover {
    color:#555;
    text-decoration:none;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata {
    display:inline;
    float:left;
    margin-right:15px;
    overflow:hidden;
    width:135px;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata li {
    background:none;
    margin:0;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_avatar img {
    border:1px solid #bfd5da;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_date {
    color:#999;
    font-size:11px;
}
#ezc_comments .ezcomments_wrapper .ezc_body {
    padding:1em;
    margin-left:140px;
}

