/**
* Style1 for the Standard template set for EZComments
*
* @author Mateo Tibaquira, Carsten Volmer
* @author Alen Grakalic
* @link   http://templatica.com/articles/comments/01.html
*/

#ezc_comments .ezcomments_wrapper,
#ezc_comments .ezcomments_wrapper li,
#ezc_comments .ezcomments_wrapper ul {
    list-style:none;
    margin:0;
    padding:0;
}
#ezc_comments .ezcomments_wrapper li.ezc_comment {
    font-size:13px;
    margin:1.5em 0;
    position:relative;
}
#ezc_comments .ezcomments_wrapper a {
    color:#5a7981;
    text-decoration:none;
}
#ezc_comments .ezcomments_wrapper a:hover {
    color:#555;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata li {
    color:#777;
    display:inline;
    margin:0;
    font-size:12px;
    position:static;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_author {
    font-size:14px;
    font-weight:bold;
}
#ezc_comments .ezcomments_wrapper .ezc_metadata .ezc_avatar img {
    border:1px solid #bfd5da;
    position:absolute;
    left:20px;
    top:60px;
    z-index:100;
}
#ezc_comments .ezcomments_wrapper .ezc_body {
    padding:40px 20px 40px 120px;
    min-height:58px;
}
#ezc_comments .ezcomments_wrapper .ezc_tr {
    background:url(images/01_bg_comments_tr.gif) top right no-repeat;
}
#ezc_comments .ezcomments_wrapper .ezc_tl {
    background:url(images/01_bg_comments_tl.gif) top left no-repeat;
}
#ezc_comments .ezcomments_wrapper .ezc_br {
    background:url(images/01_bg_comments_br.gif) bottom right no-repeat;
}
#ezc_comments .ezcomments_wrapper .ezc_bl {
    background:url(images/01_bg_comments_bl.gif) bottom left no-repeat;
}
