{$menu}
<h2>{gt text="Confirmation of deletion of the room or equipment"}: {$name}</h2>
<div>{gt text="Booking day: "}: {$bookingDate}</div>
<div>{gt text="Time: "}: {$start} - {$end}</div>
<div>{gt text="Group: "}: {$group}</div>
{$user}
<form name="delete_b" method="post" id="delete_b" action="index.php?module=IWbookings&type=user&func=anulla">
    <input type="hidden" name="sid" value="{$sid}" />
    <input type="hidden" name="bid" value="{$bid}" />
    <input type="hidden" name="d" value="{$d}" />
    <input type="hidden" name="confirmation" value="true" />
    <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />

    {if $multiple}
    <div>
        <b>
            {gt text="Delete all?"}  {gt text="Yes"}
            <input type="radio" name="eraseAll" id="eraseAll" value="1" > / {gt text="No"}
            <input type="radio" name="eraseAll" id="eraseAll" value="0" checked>
        </b>
    </div>
    {/if}
    <div class="z-center">
        <span class="z-buttons">
            <a href="javascript:document.delete_b.submit()">
                {img modname='core' src='button_ok.png' set='icons/small'  __alt="Confirmation of deletion of the room or equipment" __title="Confirmation of deletion of the room or equipment"} {gt text="Confirm"}
            </a>
        </span>
        <span class="z-buttons">
            <a href="{modurl modname='IWbookings' type='user' func='assigna' sid = $sid mensual= $mensual d= $d}">
                {img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel deletion" __title="Cancel deletion"} {gt text="Cancel"}
            </a>
        </span>
    </div>
</form>