{if $vertical !=1}
{section name=reg loop=$numdies}
<table border="0" cellpadding="1" cellspacing="3">
    <tr>
        <td  style="background:#CCCCFF; border:none; padding:2px" colspan="100%">
            <strong>{$record[reg][0].data}</strong>
        </td>
    </tr>
    <tr>
        {section name=hora loop=$record[reg]}
        <td style="background:#ffff99; border:none; padding:5px" align="center">
            {if $record[reg][hora].temp==1}
            <font color="green"><b>{gt text="Preferential"}</b></font><br>
            {/if}
            <strong>{$record[reg][hora].inici} - {$record[reg][hora].final}<br></strong>
            {$record[reg][hora].usuari}<br>
            {$record[reg][hora].grup}<br>

            <a href="{modurl modname='IWbookings' type='admin' func='anulla' bid=$record[reg][hora].bid sid=$sid}">
                {img modname='core' src='button_cancel.png' set='icons/extrasmall'   __alt="Cancel" __title="Cancel"}
            </a>
        </td>
        {/section}
    </tr>
    <br />
    {/section}
    {else}
    <table border="0" cellpadding="1" cellspacing="2" width="99%">
        <tr>
            <td align="center" bgcolor="silver" style="font-weight: bold;">
                {gt text="Time: "}
            </td>
            {section name=dia loop=$dies}
            <td align="center" bgcolor="silver" style="font-weight: bold;">
                {gt text="$dies[dia]"} {*$dies_data[dia]*}
            </td>
            {/section}
        </tr>
        {section name=franja loop=$franges}
        <tr>
            <!--<td align="center">{$horari[franja].hi}<br>{$horari[franja].hf}</td>-->
            <th align="center" style="background:#CCCCFF;color:#000022;  border:none; padding:5px">
                {$horari[franja].hi}<br>{$horari[franja].hf}
            </th>
            {section name=col loop=$dies}
            {if $record[franja][col].usuari != " - "}
            <td align="center" style="background:#ff6666; width:19%; color:#000000;border:none; padding:5px;">
                {if $record[franja][col].temp eq 1}
                <font color="green"><b>{gt text="Preferential"}</b></font><br>
                {/if}
                {$record[franja][col].usuari}<br>{$record[franja][col].grup}<br>
                <a href="{modurl modname='IWbookings' type='admin' func='anulla' bid=$record[franja][col].bid sid=$sid}">
                    {img modname='core' src='button_cancel.png' set='icons/extrasmall'   __alt="Cancel" __title="Cancel"}
                </a>
                {else}
            <td align="center" style="background:#88FF66;  width:19%; color:#000000; border:none; padding:5px;">
                <!-- ************ Enllaç per reservar directament / Link for booking directly ************* -->
                <a href="{modurl modname='IWbookings' type='admin' func='assigna' sid=$sid dow=$smarty.section.col.index fh=$smarty.section.franja.index}">
                    {img modname='core' src='vcalendar.png' set='icons/extrasmall'   __alt="Assign" __title="Assign"}
                </a>
                {/if}
            </td>
            {/section}
        </tr>
        {/section}
        {/if}
    </table>