/*
$Id: style.css 217 2009-11-12 17:06:36Z herr.vorragend $
// ----------------------------------------------------------------------
// LICENSE
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License (GPL)
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// To read the license please visit http://www.gnu.org/copyleft/gpl.html
// ----------------------------------------------------------------------
*/

/*
//
// class definition for spoiler - use the same color for text and background to
// hide information
//
*/
.bbspoiler {
    color: #eee;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.3em;
    margin: 0;
    font-size: 0.9em;
}

h3.bbquoteheader {
    display: inline;
    font-size: .9em;
    position: relative;
    top: +2px;
    padding: 0 .3em;
    border: 1px solid #aaa;
    background-color: #efefef;
    font-weight: bold;
}

h3.bbcodeheader {
    display: inline;
    font-size: .9em;
    position: relative;
    top: +2px;
    padding: 0 .3em;
    border: 1px solid #aaa;
    background-color: #efefef;
    font-weight: bold;
}

.bbquotetext {
    border: 1px solid #ccc;
    padding: .3em;
    background-color: #eee;
    margin: 0;
}

.bbcodetext {
    border: 1px solid #ccc;
    padding: .3em;
    background-color: #eee;
    margin: 0;
}

/* styling for unordered lists */
ul.bbcode_list {
    list-style-type: square !important;
}

ul.bbcode_list li {
    /* add styling for list items here */
}

/* styling for ordered lists */
ol.bbcode_list {
    list-style-type: decimal !important;
}

ol.bbcode_list li {
    /* add styling for list items here */
}

.overallClass a:link {
    padding-left: 0;
    font-size: 25px;
    background-image: none;
}

.overallClass a:visited {
    padding-left: 0;
    font-size: 25px;
    background-image: none;
}

.overallClass a:hover {
    padding-left: 0;
    font-size: 25px;
    background-image: none;
}

.overallClass a:active {
    padding-left: 0;
    font-size: 25px;
    background-image: none;
}

.hidden {
    display: none;
}

.shown {
    display: inline;
}

/*
* user interface
*
*/

.bbcode p {
    padding: 2px 0;
    margin: 2px 0;
}

.bbcode_button {
    width: 55px;
}

.bbcode_button2 {
    width: 40px;
}

.bbcode option {
    background-color: #DEE3E7;
}

.noscript {
    background: #fff6bf url(../pnimages/exclamation.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px ! important;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
}

/* taken from Google Code Prettifier
/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { padding: 2px; border: 1px solid #888; }

@media print {
    .str { color: #060; }
    .kwd { color: #006; font-weight: bold; }
    .com { color: #600; font-style: italic; }
    .typ { color: #404; font-weight: bold; }
    .lit { color: #044; }
    .pun { color: #440; }
    .pln { color: #000; }
    .tag { color: #006; font-weight: bold; }
    .atn { color: #404; }
    .atv { color: #060; }
}

/*
* admin panel
*
*/

#bbcode {
    /* wrapper for admin panel */
}

p.spacer {
    padding: 2px 0;
}
