.row {
	width: 1150px;
}
/* Global Padding */
#content,#sidebar,#content-full,#footer,#header{
	padding: 30px;
}
/* Global Negative Horizontal Padding */
#bbpress-forums,
div.bbp-breadcrumb,
#item-body form#whats-new-form,
div.item-list-tabs,
#powered-by,
#header #site-title,
.negative,
#group-navigation,
#profile-sidebar,
.sidebar-activity-tabs,
#sidebar .widget h4,
#vertical-activity-tabs,
.sidebar-activity-tabs ul li,
#content ul.item-list li {
	margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
}
/* Global Negative Vertical Padding */
#profile-sidebar {
	margin-bottom: -30px;
    margin-top: -30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
#header {
    padding-bottom: 30px;
    padding-top: 30px;
    height: 120px;
}
h1#site-title,div#site-title {
	padding: 10px 30px 6px;
}
#site-description {
    position: relative;
    font-size: 14px;
    line-height: 180%;
}
#infinity-base .icext-feature a {
	left: 0px;
	position: inherit;
}
#infinity-base .icext-feature {
	position: absolute;
}
/* Menus */
#main-menu-wrap {
    padding: 10px 0 0;
}
.base-menu {
    padding-left: 20px;
    padding-right: 20px;
}
#main-menu-wrap .sub-menu { margin: 8px 0 0 }
.base-menu .sub-menu { padding: 0 !important }
.main-menu .sub-menu { padding: 0 !important }
.top-wrap .base-menu.sub-menu {
    border-top: 0;
    position: absolute;
}

.main-menu {
	padding: 5px;
}
.main-menu ul a {
	margin-right: 10px;
}

html body .top-wrap .sub-menu {
    position: absolute;
    z-index: 150;
}


/* fix sub-menu styling */
.main-menu ul.sub-menu a {
	margin-right: 0;
}

#main-menu-wrap ul.sub-menu ul.sub-menu {
	margin-top: 0;
}

#main-menu-wrap ul.sub-menu ul.sub-menu {
	margin-top: 0;
}

#main-menu-wrap ul ul li.sfHover ul {
	left: 180px; /* match .nav ul width */
	top: -2px;
}


/* Widgets */
.widget { margin: 0 0 20px }
#content .widget .item-list li {margin: auto; padding-left: 0px; padding-right: 0px;}

#category-description, #tag-description {
    padding: 10px 10px 10px 0;
}
.widget h4,#vertical-activity-tabs h4 {
	padding-bottom: 10px;
	padding-top: 10px;
}
.authorbox h3 {
	padding-left: 25px;
}
.comment-container {
	padding: 10px;
}
.children .comment-container {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#comments .reply {
	left: inherit;
	top: 45px;
}

/* Footer */
#footer {
	padding-top: 0px;
}
/* ======== */
/* ! HomePage    */
/* ======== */
#top-homepage {
	margin: -30px -30px 30px;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
}
#top-homepage .flexslider {
	border: 0px;
	border-radius: 0px;
	margin: 0 0 60px;
	position: relative;
}
.flex-caption {
	bottom: 0;
	position: absolute;
	width: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
}
.flex-caption p,.flex-caption h3 {
	padding-left: 15px;
	padding-right: 15px;
}
.flex-caption h3 a {
	color: #FFF;
}
/* Avatars */
ul.item-list li img.avatar,#whats-new-avatar img,.item-avatar img {
	margin-left: 0;
	padding: 0;
	width: 50px;
	height: auto;
}
/* IE8 expects floats to have width or they lose hasLayout */
div.item-avatar {
	width: 55px;
	height: 60px;
}
ul.item-list div.item-avatar {
	width: 50px;
	height: 50px;
}
form#whats-new-form #whats-new-avatar
{
	width: 60px;
	height: 60px;
}
div#item-header ul#group-admins li,
div#item-header ul#group-mods li
{
	width: 34px;
	height: 34px;
}
/* end IE8 avatar fixes */
ul.item-list li img.avatar {
	width: 40px;
	height: 40px;
}
.avatar-block,.activity-avatar {
	padding-left: 2px;
}
.activity-list .activity-content .activity-header img.avatar {
	float: none !important;
	height: 20px;
	margin: 0 5px 0 0 !important;
	width: 20px;
}
#whats-new-avatar img {
	width: 60px;
	height: 60px;
}
/* Get rid of the Group Avatars in the stream updates */
.activity-header .avatar {
	display: none;
}
/* Don't break the menubar avatar icon in IE8 */
#wpadminbar img {
	max-width: none;
}
/* Activity Stream */
div.activity-meta {
	margin-bottom: 0;
}
.activity-list li.mini .activity-meta {
    position: absolute;
    right: 20px;
    top: 10px;
}
.sidebar-activity-tabs {
	padding-bottom: 30px;
}
#vertical-activity-tabs {
	background: none repeat scroll 0 0 transparent;
	margin-top: 0;
}
#vertical-activity-tabs,#group-navigation,#profile-navigation {
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#vertical-activity-tabs ul li {
	float: none !important;
}
#vertical-activity-tabs ul {
	overflow: inherit;
}
#subnav ul {
	border-top: 0px;
	padding: 0;
}
#sidebar .item-list-tabs li.loading a {
	padding-left: 30px !important;
}
div.item-list-tabs {
	clear: both;
	min-height: 37px;
	position: relative;
}
.activity-list div.activity-meta a {
	font-size: 70%;
}
.activity-list .activity-content .activity-inner,.activity-list .activity-content blockquote {
	padding: 20px;
	margin-right: 5px;
}
div.item-options {
	font-size: 80%;
	margin-bottom: -16px;
	margin-top: -16px;
}
span.activity {
	margin-bottom: 7px;
	margin-top: 0;
	padding: 0 5px;
}
/* Members */
#profile-nav-menu ul {
	list-style: none outside none;
}
.sidebar-activity-tabs ul {
	list-style: none outside none;
	margin: 30px 0 0;
}
.sidebar-activity-tabs ul li {
	padding-bottom: 3px;
	padding-top: 5px;
}
.sidebar-activity-tabs ul li a {
	display: block;
	padding-bottom: 10px;
	padding-right: 0;
	padding-top: 10px;
}
.sidebar-activity-tabs ul li.current,.sidebar-activity-tabs ul li.selected {
	padding: 10px 0 12px 30px;
}
.sidebar-activity-tabs .profile-subnav li.selected {
	padding-bottom: 3px;
	padding-left: 30px;
	padding-top: 5px;
}
#item-body form#whats-new-form {
	margin-top: -20px;
	padding-bottom: 10px;
	padding-top: 30px;
}
.sidebar-activity-tabs ul li.current a,.sidebar-activity-tabs ul li.selected a {
	margin-bottom: -10px;
	margin-top: -5px;
}
/* Profile Action Buttons */
.bp-user #item-buttons .generic-button,
#profile-nav-menu a {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	margin-bottom: -18px;
	padding: 3px 8px;
}
/* Profile Navigation and Groups Navigation */
/* First Level */
.groups div#subnav.item-list-tabs .sidebar-activity-tabs {
	margin-bottom: 30px;
}
.sidebar-activity-tabs ul li span,.sidebar-activity-tabs ul li.current span,.sidebar-activity-tabs ul li.selected span {
	display: inline;
	margin-left: 2px;
	padding: 2px 5px;
}
/* Second Level */
#object-nav ul.profile-subnav {
    margin: 15px 0 -12px -30px;
    padding-left: 30px;
}
ul.profile-subnav li {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-right: 0px;
	font-size: 90%;
}
ul.profile-subnav li a:before {
	padding-left: 30px;
}
ul.profile-subnav li a {
	padding-left: 30px;
}
.sidebar-activity-tabs ul li.current ul.profile-subnav li a {
	padding-bottom: 8px;
	padding-top: 8px;
	margin: inherit;
}
/* XProfile */
.field-visibility-settings {
	margin-top: 0.5em;
}
.field-visibility-settings legend {
	border: 0;
	font-size: 1em;
	line-height: normal;
	margin: 0;
}
.field-visibility-settings li {
	list-style: none;
}
/* FIX:  hide the horizontal navigation on settings pages using CSS */
.settings #item-nav,
#content #object-nav {
	display: none;
}
/* widgets */
div.item-options {
	float: right;
	margin-right: 0px;
	margin-top: -45px;
	font-size: 70%;
}
/* Registration */
.registration .error {
	background: #DE3434;
	border: 1px solid #BB4747;
	border-radius: 4px;
	color: white;
	margin-bottom: 0.5em;
	padding: 0.3em;
	width: 85%;
}
span.label {
	color: #999;
	display: block;
	font-size: 80%;
	font-weight: bold;
	margin: 5px 0;
	text-transform: uppercase;
}
#profile-details-section .checkbox span.label,
.checkbox .error {
	margin-left: -1.3em;
}

/* ======== */
/* ! Misc    */
/* ======== */
div#item-header div#item-header-content {
	margin-left: 0;
}
#item-header-avatar img {
	width: auto; /* fixes display in IE8 */
	float: none;
}
thead:first-child tr th,thead:first-child tr td {
	padding-left: 10px;
	padding-right: 10px;
}
form#send-invite-form .main-column {
	margin-left: 190px;
}
div#invite-list {
	height: 400px;
	overflow: scroll;
	padding: 5px;
	width: 160px;
	float: left;
}
ul.item-list li div.action {
    right: 30px;
}
/* ======== */
/* ! Docs    */
/* ======== */
.theme-option div.doc-content
 {
	border: 0px;
	padding: 0px;
}
#doc-title {
	width: 70%;
}
#doc_content {
	min-height: 300px;
}
#content-label {
    margin-bottom: -25px;
    margin-top: 25px;
}
.theme-option .toggle-content {
	border-color: #CCCCCC;
    border-image: none;
    border-radius: 0 0 5px 5px;
}
.single-bp_doc .content-column {
	float: none !important;
}
.doc-tabs li {
	list-style: none outside none;
}
#content .doc-tabs li a {
	border-radius: 3px;
	padding: 10px 15px;
}
.single-bp_doc .doc-tabs {
	margin-right: 20px;
	margin-top: -20px;
	overflow: hidden;
	margin-bottom: 20px;
}
.single-bp_doc .toggle-switch {
	padding: 8px 12px;
}
.single-bp_doc divsingle-bp_doc-info-header {
	padding: 0px;
}
.single-bp_doc label {
	margin-top: 20px;
}
.single-bp_doc #comments li.comment {
	position: relative;
}
.single-bp_doc #comments .comment-author cite {
	margin-left: 14px;
}
.single-bp_doc #comments .comment-meta,
.single-bp_doc #comments p {
	margin-left: 62px;
}
.single-bp_doc #comments .reply {
	top: 28px;
}
.doc-tabs ul {
    margin-left: 0;
    padding: 0;
}
thead:first-child tr th, thead:first-child tr td {
    width: 0;
}
#bp-create-doc-button {
	padding: 2px 10px 7px;
}
.doc-content-wrapper .toggle-switch {
	padding: 8px 10px;
}
.bp-docs-attachment-drawer > ul {
	padding-left: 20px;
}
.bp-docs-attachment-drawer h4 {
	font-size: 1.0em;
}
.doc-attachments > ul {
	padding-left: 0;
}
.doc-attachments #doc-attachments-ul li {
	padding-left: 0;
}
.doc-attachments h3 {
	font-size: 1.25em;
}
/* ======== */
/* ! Wiki   */
/* ======== */
body.wiki.single-bp_doc #subnav {
	display: none;
}
.widget .wiki-page-title {
	display: inline-block;
}
/* BBPress Bleeding */
.groups.forums #item-header {
	display: none;
}
#bbpress-forums {
	font-size: inherit;
}
/* BBPress Styling */
#bbpress-forums ul.bbp-lead-topic,#bbpress-forums ul.bbp-topics,#bbpress-forums ul.bbp-forums,#bbpress-forums ul.bbp-replies {
    font-size: inherit;
    border: 0;
    background: transparent;
}

.bbPress h1 {
    margin-bottom: 15px;
}

.group-forum-topic #bbpress-forums h3 {
	font-size: 2em;
}
.groups #item-buttons .group-button {
	padding: 2px 7px 5px;
}
.bbp-pagination {
	font-size: 90%;
}

.bbp-topic-meta {
    font-size: 85%;
}

.bbp-topic-freshness {
    width: 15%;
}

#bbpress-forums p.bbp-topic-meta img.avatar,#bbpress-forums ul.bbp-reply-revision-log img.avatar,#bbpress-forums ul.bbp-topic-revision-log img.avatar,#bbpress-forums div.bbp-template-notice img.avatar,#bbpress-forums .widget_display_topics img.avatar,#bbpress-forums .widget_display_replies img.avatar,#bbpress-forums p.bbp-topic-meta img.avatar {
    border: 0;
    float: none;
    margin: 0 2px;
}

#bbpress-forums li.bbp-body ul.forum,#bbpress-forums li.bbp-body ul.topic {
    border-top: 1px solid #F4F4F4;
    overflow: hidden;
    padding: 25px 0 10px 10px;
}

#bbpress-forums .bbp-forums-list {
    border-left: 0px;
}

#bbpress-forums .bbp-forums-list li {
    display: block;
    font-size: 90%;
    padding-top: 5px;
}
#bbpress-forums .bbp-forum-title,
.bbp-topic-title {
    font-size: 120%;
    font-weight: 500;
}
#bbpress-forums .bbp-header .bbp-topic-title {
	font-size: 100%;
}
#bbpress-forums .bbp-forum-content p {
    font-size: 90%;
    padding-left: 20px;
    padding-top: 10px;
}

#bbpress-forums .bbp-breadcrumb {
    float: none;
    font-size: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
}

.bbp-breadcrumb p {
    font-size: 100%;
}

#cse-search-form .gsc-input {
    padding: 10px;
}

.post-type-archive-forum .bbp-breadcrumb,.post-type-archive-forum h1 {
    display: none;
}

.bbp-reply-content span {
    position: relative;
    top: -2px;
}

.bbp-reply-content span a {
    color: #FFF;
    padding-bottom: 3px;
}

.post img.wp-smiley {
    box-shadow: none;
    height: 13px;
    margin-top: -3px;
    width: auto;
}
/* ============ */
/* ! Tooltips   */
/* ============ */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -3px;
}
.admin-bar-showing .tooltip.bottom {
  margin-top: -28px;
}
.admin-bar-showing .tooltip.right {
  margin-left: -1%;
  margin-top: -28px;
}
.tooltip.bottom {
  margin-top: 0px;
}
.tooltip.left {
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
