/* style.css */
.active{
	color: green;
}

.inactive{
	color: red;
}

.z-noteinfo {
    text-align: center;
    font-weight: bold;
    color: red;
}


/* style for main user tables */
table.usertable {
	width: 100%;
	color: inherit;
	margin-top: 0px;
	margin-bottom: 1em;
	padding: 5px; /* top, right, bottom, left */
}

table.usertable td  {
	padding: 5px; /* top, right, bottom, left */
}



div.usercontainer h2 {
	text-align: left;
	border-bottom: 1px solid #cccccc;
	margin-top: 0px;
}

/* styling for a page icon */
div.userpageicon {
	padding: 0px 0px 10px 5px; /* top, right, bottom, left */
}

div.userpageicon img{
    float: right;
	padding-top: 5px;
}

.messageBody br {
    display: none;
}

div.titleRowTitle{
	float: left;
	width: 85%;
}

div.titleRowIcon{
	float: right;
	cursor:pointer;
}

div.openMsg{
	background-color: #ffffef;
}

table.z-datatable, table.z-admintable {
    border-spacing: 0;
}

.lastPost {
    font-size:0.9em;
    font-style:italic;
    color:#777;
}

.photoImg{
   margin-right: 15px;
}

.photo{
    float: left;
}

.msgBox{
    border: 1px solid #aaaaaa;
    padding: 7px;
}